<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "/header.html" />
    <title>保護者共通メニュー画面</title>
    <link rel="stylesheet" href="${request.contextPath}/css/common/common.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/common/F40004Click.css"/>
    <style></style>
</head>
<body>
<div>

    <ul>
        <li>
            <a href="../guard/F30406.html" target="_top">
                <img src="../img/person1.png" alt="">
                <p>マイページ</p>
            </a>
        </li>
    </ul>
</div>
</body>
</html>