<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "/header.html" />
    <title>先生共通メニュー画面</title>
    <link rel="stylesheet" href="${request.contextPath}/css/common/common_pc.css" />
</head>
<body>
<ul class="tab_subject_s">
    <li style="border-left: 1px solid #009944">
        <a desc="../manager/F20002.html" target="_top">基本情報</a>
    </li>
    <li>
        <a desc="../manager/F20003.html" target="_top">タームプラン</a>
    </li>
    <li>
        <a desc="../manager/F20006.html" target="_top">スケジュール</a>
    </li>
    <li>
        <a desc="../manager/F20008.html" target="_top">学習状況</a>
    </li>
    <li>
        <a desc="../manager/F20010.html" target="_top">成績</a>
    </li>
</ul>
</body>
<script src="${request.contextPath}/js/common/F40003.js">
</script>
</html>
