<!DOCTYPE html>
<html style="border: 1px solid grey;width: 100%;height: 100%;">
<head>
    <meta charset="utf-8">
    <title>利用規約詳細画面(マナミル規約)</title>
    <#include "/header.html" />
    <link rel="stylesheet" href="${request.contextPath}/css/common/common.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/common/F40023.css"/>
</head>
<body style="height: 100%; width: 100%;overflow: hidden;">
<div class="box">
    <div class="title">
        <br>
        <p class="top_title_two" v-if="flg==1">「マナミル」利用規約（生徒・保護者用）</p>
        <p class="top_title_two" v-if="flg==3">「マナミル」利用規約（塾用）</p>
        <p class="top_title_two" v-if="flg==2">「マナミル」利用規約（フランチャイジー用）</p>
        <hr style="background-color: #2ab4ac;height: 3px;width: 83%;border: none;">
        <br>
    </div>
    <pre class="content" v-if="flg==1">
第1条（目的）
  1.本規約は、利用者が本サービスを利用する際の一切の行為に適用されます。
  2.本規約は、本サービスの利用条件を定めるものです。
      利用者は、本規約に従って、本サービスを利用するものとします。
  3.利用者、本サービスを利用するためには、当社所定の手続きに従ってIDの発行を受けること、及び本サービス利用に関する当社所定の規約に同意することが必要になります。
第2条（定義）
本規約において使用する用語の定義は、次の各号に定めるとおりとします。
  ①「当社」
     株式会社学研メソッドをいいます。
  ②「本サービス」
     当社が提供する、教室・塾向け運営支援アプリ「マナミル」をいいます。
     なお、サービスの具体的内容は、当社が定めるものとします。
  ③「教室・塾管理者」
     教室・塾を自ら営み、またはフランチャイズ展開している方のうち、当社との約定（以下「原サービス契約」といいます）に基づき、本サービスを利用する方をいいます。
  ④「フランチャイジー」
     教室・塾管理者から、教室・塾の開設・運営に関するフランチャイズの付与を受けた方であって、教室・塾管理者によって、本サービスを利用することを認められた方をいいます。
  ⑤「教室・塾」
     教室・塾管理者またはフランチャイジーが運営する教室・塾をいいます。
  ⑥「利用者」
     教室・塾に所属する生徒及びその保護者のうち、本サービスを利用する方をいいます。
  ⑦「ID」
     学研グループ（当社を含む、学研グループを構成する会社をいいます）が提供する各種デジタルサービスを利用するために必要となるアカウントIDであって、「Gakken ID」と称するものをいいます。
     なお、本サービスは、Gakken IDによって利用できる各種サービスのうちの一つです。

第3条（本規約の範囲）
  1.当社が本規約に付帯関連して別途定める諸規約はそれぞれ本規約を構成するものとします。
  2.本規約の規定と、本規約に付帯関連する諸規約の規定とが異なる場合には、後者の規定が優先して適用されるものとします。

第4条（本規約の変更）
  1.当社は、当社の裁量により本規約を変更できるものとします。
  2.当社は、前項による本規約の変更にあたり、変更後の本規約の効力発生日の１４日前までに、本規約を変更する旨、及び変更後の本規約の内容とその効力発生日を、本サービスに係るウェブサイト上に掲示します。
  3.変更後の本規約の効力発生日以降に、利用者が本サービスを利用したときは、利用者は、本規約の変更に同意したものとみなします。

第5条（本サービスにおいて提供する情報）
  1.本サービスにおいて提供するすべての情報（すべての記事、写真、イラスト類、画像、映像を含みますがこれらに限られません）に関する、著作権（著作権法第27条及び第28条に定める権利を含みます。以下同じ）その他の知的財産権及び保護されるべき法的権利は、当社または当社への許諾者に帰属します。
  2.利用者は、本サービスにおいて提供する情報を、当社の事前の承諾を得ることなく、私的使用以外の目的で使用（複製、頒布、公衆送信、放送、販売、貸与、改変等の行為を含みますが、これらに限られません）することはできません。
違反者は、著作権法によって罰せられます。

第6条（利用者）
  1.利用者は、本規約のすべてを承認のうえ、当社所定の手続に従って、本サービスの利用を申し込むものとします。
  2.当社は、申込を承諾することが、当社の業務遂行上または技術上、不適当と判断した場合には、当社の判断によって、本サービス利用の申込を承諾しないことができるものとします。
また当社は、本サービス利用の申込を承諾した後であっても、申込を承諾することが、当社の業務遂行上または技術上、不適当と判断した場合には、利用者に対する本サービスの提供を中止できるものとし、この場合であっても、当社は何らの責も負わないものとします。
  3.当社は、利用者に対して、新サービスの告知、当社または学研グループを含む第三者の商品・サービスに関する広告配信、本サービス運営上の事務連絡、その他情報の提供を行います。
  4.利用者は、本サービスを第三者に利用させてはならないものとします。
  5.利用者は、IDを厳重に管理する責任を負うものとし、当社は、IDを利用して行なわれた一切の行為を、利用者本人の行為とみなすことができるものとします。
  6.当社が、利用者に対して、追加で情報の登録を求めた場合には、利用者は、これに応じるものとします。
当社は、当該情報を、法令等に従って取り扱うものとします。

第7条（利用期間等）
  1.利用者が本サービスを利用できる期間は、教室・塾管理者またはフランチャイジーが定めるところによります。
  2.教室・塾に所属しなくなった利用者は、本サービスを利用できなくなるものとします。
  3.当社と教室・塾管理者との間の原サービス契約が、事由の如何を問わず終了した場合、利用者は、本サービスを利用できなくなります。
  4.利用者が、フランチャイジーの運営する教室・塾に所属している場合において、教室・塾管理者とフランチャイジーとの間の、フランチャイズに関する契約が、事由の如何を問わず終了した場合には、利用者は、本サービスを利用できなくなります。

第8条（利用料）
  1.利用者は、本サービス利用の対価として、教室・塾管理者またはフランチャイジーが別途定めるところに従い、利用料を支払うものとします。
なお、利用者は、利用料に消費税等相当額（法令等の変更があった場合には、変更後の消費税等相当額）を加算のうえ、支払うものとします。
また振込手数料、その他支払に要する費用は、利用者の負担とします。
  2.利用者は、利用者が実際に本サービスを利用していなかった場合であっても、利用料の支払いを免れることはできません。
  3.いったん支払われた利用料は、事由の如何を問わず、利用者に返還されないものとします。

第9条（利用者情報）
  1.利用者は、本サービスの利用履歴に関する情報（以下「利用者情報」といいます）が、当社のデータベースに登録されることを承諾します。
  2.当社は、利用者情報を、本サービスの提供、及び第6条第3項に定める情報提供に必要な範囲内で、使用できるものとします。
  3.利用者情報の取扱いについては、以下の当社のプライバシー・ポリシーをご参照ください。
 <a href="https://gakken-method.co.jp/privacypolicy/">https://gakken-method.co.jp/privacypolicy/</a>


第10条（利用者の禁止行為）
利用者は、本サービスを利用して次の各号に該当する、またはそのおそれのある行為を行ってはならないものとします。
  ①犯罪行為に結びつく行為。
  ②他人のIDを不正に使用する行為、及び自己のIDを他人に使用させる行為。 
  ③当社及び第三者の著作権、商標権、肖像権などの権利を侵害する行為。
  ④当社及び第三者の財産、プライバシーなどを侵害する行為。
  ⑤当社及び第三者を誹謗中傷する行為または名誉や信用を毀損する行為。
  ⑥有害プログラムを含んだ情報を送信する行為。
  ⑦選挙の事前活動、選挙運動またはこれらに類似する行為など、公職選挙法に抵触する行為。 
  ⑧布教を目的とする行為またはこれに類する行為。
  ⑨営業活動等、営利を目的とする行為及びその準備を目的とする行為。
  ⑩本サービスの運営を妨げるような行為、または本サービスへの信頼を損なうような行為。
  ⑪本サービスの内容の無断転載、改変または再配布をする行為。
  ⑫募金、カンパ、寄付、布施その他名目を問わず金品の交付を受けること、または出資を募ることを目的とする行為。
  ⑬顧客に関する情報の収集を目的とする行為。
  ⑭本サービスの利用により知り得た他の利用者または第三者に係る住所、氏名、電話番号等の個人情報を他に開示または漏洩する行為。
  ⑮当社の商号、商標またはロゴマーク等を用いて、利用者と当社の間の提携関係の存在、または利用者に対する代理権等の付与を誤認させる行為。
  ⑯その他、本規約もしくは法令に違反し、または公序良俗に反する行為。
  ⑰前各号に定めるほか、当社が不適当と認める行為。

第11条（免責）
　1.利用者は、利用者自身の責任において本サービスを利用するものとします。
当社は、本サービスの利用によって生じた利用者の一切の損害について、いかなる責任も負わないものとし、これを賠償する義務を有しないものとします。但し、消費者契約法に定める消費者契約に該当する場合は、この限りではありませんが、当社は、当社の過失（重過失を除きます）による債務不履行または不法行為により利用者に生じた損害のうち、逸失利益、間接損害、及び特別な事情から生じた損害（当社または利用者が損害発生につき予見し得たかどうか、予見すべきであったかどうかを問いません）については、一切の責任を負いません。
　2.利用者が本サービスの利用によって第三者に損害を与えた場合、利用者は自己の責任と費用負担によってこれを解決するものとします。
　3.利用者が本規約に定めた条項のいずれかに違反し、当社に損害を与えた場合、当社は当該利用者に対し、被った損害（合理的な範囲内の弁護士費用を含む）の賠償を請求できるものとします。

第12条（設備等）
　1.利用者は、本サービスを利用するために必要な通信機器、ソフトウエア、その他これらに付随して必要となるすべての機器を、自己の費用と責任において準備するものとします。
また、利用者は、自己の費用（電話料金を含みます）と責任で、インターネットを経由して本サービスに係るウェブサイトに接続するものとします。
　2.利用者は、自己の責任と費用において、自己の利用環境に応じたセキュリティ対策（コンピュータ・ウィルスの感染、不正アクセス及び情報漏洩の防止等）を講じるものとします。

第13条（本サービスの変更等）
　1.当社は、必要と判断した場合には、利用者の承諾なしに、本サービスの全部または一部について、その内容を変更し、または廃止できるものとします。
　2.当社は、前項の変更または廃止により、利用者に損害が発生した場合であっても、何ら責を負わないものとします。

第14条（本サービスの提供の停止）
　1.当社は、次の各号のいずれかの事由が生じた場合には、利用者に事前に通知することなく、本サービスの提供を停止できるものとします。
　　①本サービス用設備の故障等により保守を行う場合。
　　②運用上または技術上の理由でやむを得ない場合。
　　③天災地変、感染症の流行等、不可抗力により本サービスを提供できない場合。
　　④前各号に定めるほか、当社の責に帰すことのできない事由により、本サービスの提供が困難である場合。
　2.当社は、本サービス用設備の定期点検等を行うため、利用者に事前に通知のうえ、本サービスの提供を一時的に停止できるものとします。
　3.当社は、利用者が、第10条各号に該当する行為を行い、またはその恐れがあると判断した場合には、当社の裁量により、利用者に対する本サービスの提供を中止できるものとします。
　4.当社が前各項の定めに従い本サービスの提供を停止したことにより、利用者に損害が発生した場合であっても、当社は何ら責を負わないものとします。
　5.当社が前各項の定めに従い本サービスの提供を停止した場合であっても、利用者は、第8条に定める利用料の支払いを免れないものとします。

第15条（非保証）
　当社は、本サービスが利用者の要求を満足させるものであること、本サービスに瑕疵がないこと、本サービスに障害が発生しないこと、本サービスが利用者の利用目的に合致していること、及び本サービスの内容の正確性、完全性、最新性、適時性、有用性、その他一切の保証をいたしません。利用者は、これらを承諾するものとします。

第16条（反社会的勢力の排除）
　1.利用者が次の各号のいずれか一つに該当した場合、当社は、何らの通知・催告を要せず、直ちに本サービスの全部または一部の提供を停止できるものとします。
　　①自らまたは第三者を利用して、当社に対し、暴力的行為、詐術、脅迫的言動、業務妨害等の行為を行ったとき。
　　②利用者が暴力団、暴力団員、暴力団関係企業・団体またはその関係者、その他反社会的勢力であることが判明したとき。
　2.当社が前項の定めに従い本サービスの提供を停止したことにより、利用者または第三者に損害が発生した場合であっても、当社は一切責任を負わないものとします。
　3.本条は、当社による、利用者に対する損害賠償請求を妨げないものとします。

第17条（準拠法、裁判管轄）
　1.本規約の準拠法は日本法とします。
　2.本規約に関連して、当社と利用者との間で生じた争いについては、東京地方裁判所を第一審の専属管轄裁判所とするものとします。

第18条（その他）
利用者は、本サービスの利用にあたり、当社から有料のコンテンツを購入することができます。この場合における購入の方法・条件等は、当社が別途定めるものとします。


付則
本規約は2020年12月1日から実施します。
            </pre>
    <pre class="content" v-if="flg==2">
第1条（目的）
　1.本規約は、利用者が本サービスを利用する際の一切の行為に適用されます。
　2.本規約は、本サービスの利用条件を定めるものです。
利用者は、本サービスについて、本規約に従って、自ら利用し、また利用者がフランチャイズ事業を営む場合はフランチャイジーに利用させるとともに、教室運営者
及び生徒・保護者に利用させるものとします。
　3.利用者、フランチャイジー、教室運営者及び生徒・保護者が本サービスを利用するためには、当社所定の手続きに従ってIDの発行を受けること、及び本サービス利用に関する当社所定の規約に同意することが必要になります。
　4.利用者は、本サービスの利用にあたり、利用者の運営する教室・塾に所属する教室運営者に、本規約の内容を遵守させるものとします。本サービスの利用に関する、当該教室運営者の行為は、利用者の行為とみなされるものとします。

第2条（定義）
　本規約において使用する用語の定義は、次の各号に定めるとおりとします。
　①「当社」　
     株式会社学研メソッドをいいます。
　②「本サービス」　
     当社が提供する、教室・塾向け運営支援アプリ「マナミル」をいいます。
     なお、サービスの具体的内容は、当社が定めるものとします。
  ③「利用者」　
     教室・塾を自ら営み、またはフランチャイズ展開している方のうち、本サービスを利用する方をいいます。
　④「フランチャイジー」
     利用者から、教室・塾の開設・運営に関するフランチャイズの付与を受けた方をいいます。
　⑤「教室運営者」
　　　利用者またはフランチャイジーが運営する教室・塾に所属する方であって、実際に教室・塾の運営を担当する方をいいます。
　⑥「生徒・保護者」
　　　利用者またはフランチャイジーが運営する教室・塾に所属する生徒及びその保護者をいいます。
　⑦「ID」
　　　学研グループ（当社を含む、学研グループを構成する会社をいいます）が提供する各種デジタルサービスを利用するために必要となるアカウントIDであって、「Gakken ID」と称するものをいいます。
     なお、本サービスは、Gakken IDによって利用できる各種サービスのうちの一つです。

第3条（本規約の範囲）
　1.当社が本規約に付帯関連して別途定める諸規約はそれぞれ本規約を構成するものとします。
　2.本規約の規定と、本規約に付帯関連する諸規約の規定とが異なる場合には、後者の規定が優先して適用されるものとします。

第4条（本規約の変更）
　1.当社は、当社の裁量により本規約を変更できるものとします。　　　　
  2.当社は、前項による本規約の変更にあたり、変更後の本規約の効力発生日の１４日前までに、本規約を変更する旨、及び変更後の本規約の内容とその効力発生日を、本サービスに係るウェブサイト上に掲示します。
  3.変更後の本規約の効力発生日以降に、利用者が本サービスを利用したときは、利用者は、本規約の変更に同意したものとみなします。

第5条（本サービスにおいて提供する情報）
  1.本サービスにおいて提供するすべての情報（すべての記事、写真、イラスト類、画像、映像を含みますがこれらに限られません）に関する、著作権（著作権法第27条及び第28条に定める権利を含みます。以下同じ）その他の知的財産権及び保護されるべき法的権利は、当社または当社への許諾者に帰属します。
  2.利用者は、本サービスにおいて提供する情報を、当社の事前の承諾を得ることなく、私的使用以外の目的で使用（複製、頒布、公衆送信、放送、販売、貸与、改変等の行為を含みますが、これらに限られません）することはできません。
      違反者は、著作権法によって罰せられます。

第6条（利用者）
　1.利用者は、本規約のすべてを承認のうえ、当社所定の手続に従って、本サービスの利用を申し込むものとします。　　　
  2.当社は、申込を承諾することが、当社の業務遂行上または技術上、不適当と判断した場合には、当社の判断によって、本サービス利用の申込を承諾しないことができるものとします。
また当社は、本サービス利用の申込を承諾した後であっても、申込を承諾することが、当社の業務遂行上または技術上、不適当と判断した場合には、利用者に対する本サービスの提供を中止できるものとし、この場合であっても、当社は何らの責も負わないものとします。
  3.当社は、利用者に対して、新サービスの告知、当社または学研グループを含む第三者の商品・サービスに関する広告配信、本サービス運営上の事務連絡、その他情報の提供を行います。
  4.利用者資格は第三者に譲渡、貸与することはできません。
　　また利用者は、本サービスを、フランチャイジー、教室運営者及び生徒・保護者以外の第三者に利用させてはならないものとします。　　
利用者とのフランチャイズに関する契約が終了したフランチャイジー、並びに利用者またはフランチャイジーの運営する教室・塾に所属しなくなった教室運営者及び生徒・保護者は、上記「第三者」として取り扱われ、本サービスを利用できないものとします。
  5.利用者は、IDを厳重に管理する責任を負うものとし、当社は、IDを利用して行なわれた一切の行為を、利用者本人の行為とみなすことができるものとします。
  6.当社が、利用者に対して、追加で情報の登録を求めた場合には、利用者は、これに応じるものとします。
      当社は、当該情報を、法令等に従って取り扱うものとします。

第7条（利用期間）
  1.利用者が本サービスを利用できる期間は、当社が、第6条第1項に定める利用者の申込を承諾した日を利用開始日として、1年間とします。但し、期間満了の３か月前までに、利用者が、当社所定の方法で、本サービスの利用中止の申し出をしない限り、利用者が本サービスを利用できる期間は、さらに1年間自動的に更新されるものとし、以後も同様とします。
　2.利用者は、前項に定める期間の途中で本サービスの利用を中止する場合、３か月前までに、当社が別途定める方法で当社に申し出るものとします。

第8条（利用料）
  1.利用者は、本サービス利用の対価として、当社が別途定めるところに従い、利用料を当社に支払うものとします。
なお、利用者は、利用料に消費税等相当額（法令等の変更があった場合には、変更後の消費税等相当額）を加算のうえ、支払うものとします。
また振込手数料、その他支払に要する費用は、利用者の負担とします。
　2.利用者は、利用者が実際に本サービスを利用していなかった場合であっても、利用料の支払いを免れることはできません。
  3.当社に支払われた利用料は、事由の如何を問わず、利用者に返還されないものとします。

第9条（利用者情報）
　1.利用者は、本サービスの利用履歴に関する情報（以下「利用者情報」といいます）が、当社のデータベースに登録されることを承諾します。
  2.当社は、利用者情報を、本サービスの提供、及び第6条第3項に定める情報提供に必要な範囲内で、使用できるものとします。
  3.利用者情報の取扱いについては、以下の当社のプライバシー・ポリシーをご参照ください。
<a href="https://gakken-method.co.jp/privacypolicy/">https://gakken-method.co.jp/privacypolicy/</a>


第10条（利用者の禁止行為）
  利用者は、本サービスを利用して次の各号に該当する、またはそのおそれのある行為を行ってはならないものとします。
  ①犯罪行為に結びつく行為。
  ②他人のIDを不正に使用する行為、及び自己のIDを他人に使用させる行為。 
  ③当社及び第三者の著作権、商標権、肖像権などの権利を侵害する行為。
  ④当社及び第三者の財産、プライバシーなどを侵害する行為。
  ⑤当社及び第三者を誹謗中傷する行為または名誉や信用を毀損する行為。
  ⑥有害プログラムを含んだ情報を送信する行為。
  ⑦選挙の事前活動、選挙運動またはこれらに類似する行為など、公職選挙法に抵触する行為。 
  ⑧布教を目的とする行為またはこれに類する行為。
  ⑨営業活動等、営利を目的とする行為及びその準備を目的とする行為。
  ⑩本サービスの運営を妨げるような行為、または本サービスへの信頼を損なうような行為。
  ⑪本サービスの内容の無断転載、改変または再配布をする行為。
  ⑫募金、カンパ、寄付、布施その他名目を問わず金品の交付を受けること、または出資を募ることを目的とする行為。
  ⑬顧客に関する情報の収集を目的とする行為。
  ⑭本サービスの利用により知り得た他の利用者または第三者に係る住所、氏名、電話番号等の個人情報を他に開示または漏洩する行為。
  ⑮当社の商号、商標またはロゴマーク等を用いて、利用者と当社の間の提携関係の存在、または利用者に対する代理権等の付与を誤認させる行為。
  ⑯その他、本規約もしくは法令に違反し、または公序良俗に反する行為。
  ⑰前各号に定めるほか、当社が不適当と認める行為。

第11条（免責）
　1.利用者は、利用者自身の責任において本サービスを利用するものとします。
      当社は、本サービスの利用によって生じた利用者の一切の損害について、いかなる責任も負わないものとし、これを賠償する義務を有しないものとします。
  2.利用者が本サービスの利用によって第三者に損害を与えた場合、利用者は自己の責任と費用負担によってこれを解決するものとします。
  3.利用者が本規約に定めた条項のいずれかに違反し、当社に損害を与えた場合、当社は当該利用者に対し、被った損害（合理的な範囲内の弁護士費用を含む）の賠償を請求できるものとします。

第12条（設備等）
  1.利用者は、本サービスを利用するために必要な通信機器、ソフトウエア、その他これらに付随して必要となるすべての機器を、自己の費用と責任において準備するものとします。
      また、利用者は、自己の費用（電話料金を含みます）と責任で、インターネットを経由して本サービスに係るウェブサイトに接続するものとします。
　2.利用者は、自己の責任と費用において、自己の利用環境に応じたセキュリティ対策（コンピュータ・ウィルスの感染、不正アクセス及び情報漏洩の防止等）を講じるものとします。

第13条（本サービスの変更等）
  1.当社は、必要と判断した場合には、利用者の承諾なしに、本サービスの全部または一部について、その内容を変更し、または廃止できるものとします。
  2.当社は、前項の変更または廃止により、利用者に損害が発生した場合であっても、何ら責を負わないものとします。

第14条（本サービスの提供の停止）
  1.当社は、次の各号のいずれかの事由が生じた場合には、利用者に事前に通知することなく、本サービスの提供を停止できるものとします。
　  ①本サービス用設備の故障等により保守を行う場合。
　  ②運用上または技術上の理由でやむを得ない場合。
　  ③天災地変、感染症の流行等、不可抗力により本サービスを提供できない場合。
　  ④前各号に定めるほか、当社の責に帰すことのできない事由により、本サービスの提供が困難である場合。
  2.当社は、本サービス用設備の定期点検等を行うため、利用者に事前に通知のうえ、本サービスの提供を一時的に停止できるものとします。
  3.当社は、利用者が、第10条各号に該当する行為を行い、またはその恐れがあると判断した場合には、当社の裁量により、利用者に対する本サービスの提供を中止できるものとします。
　4.当社が前各項の定めに従い本サービスの提供を停止したことにより、利用者に損害が発生した場合であっても、当社は何ら責を負わないものとします。
　5.当社が前各項の定めに従い本サービスの提供を停止した場合であっても、利用者は、第8条に定める利用料の支払いを免れないものとします。

第15条（非保証）
  当社は、本サービスが利用者の要求を満足させるものであること、本サービスに瑕疵がないこと、本サービスに障害が発生しないこと、本サービスが利用者の利用目的に合致していること、及び本サービスの内容の正確性、完全性、最新性、適時性、有用性、その他一切の保証をいたしません。利用者は、これらを承諾し、自己の判断で本サービスを利用するものとします。

第16条（反社会的勢力の排除）
　1.利用者が次の各号のいずれか一つに該当した場合、当社は、何らの通知・催告を要せず、直ちに本サービスの全部または一部の提供を停止できるものとします。
　　①自らまたは第三者を利用して、当社に対し、暴力的行為、詐術、脅迫的言動、業務妨害等の行為を行ったとき。
　　②利用者の役員または使用人が暴力団、暴力団員、暴力団関係企業・団体またはその関係者、その他反社会的勢力であることが判明したとき。
　2.当社が前項の定めに従い本サービスの提供を停止したことにより、利用者または第三者に損害が発生した場合であっても、当社は一切責任を負わないものとします。
　3.本条は、当社による、利用者に対する損害賠償請求を妨げないものとします。

第17条（準拠法、裁判管轄）
　1.本規約の準拠法は日本法とします。
　2.本規約に関連して、当社と利用者との間で生じた争いについては、東京地方裁判所を第一審の専属管轄裁判所とするものとします。

第18条（その他）
　生徒・保護者は、本サービスの利用にあたり、当社から有料のコンテンツを購入することができます。この場合における購入の方法・条件等は、当社が別途定めるものとします。


付則
本規約は２０２０年１２月１日から実施します。
            </pre>
    <pre class="content" v-if="flg==3">
第1条（目的）
　1.本規約は、利用者が本サービスを利用する際の一切の行為に適用されます。
　2.本規約は、本サービスの利用条件を定めるものです。
利用者は、本サービスについて、本規約に従って、自ら利用するとともに、教室運営者及び生徒・保護者に利用させるものとします。
　3.利用者及び教室運営者が本サービスを利用するためには、当社所定の手続きに従ってIDの発行を受けること、及び本サービス利用に関する当社所定の規約に同意することが必要になります。
　4.利用者は、本サービスの利用にあたり、利用者の運営する教室・塾に所属する教室運営者に、本規約の内容を遵守させるものとします。本サービスの利用に関する、当該教室運営者の行為は、利用者の行為とみなされるものとします。

第2条（定義）
　本規約において使用する用語の定義は、次の各号に定めるとおりとします。
　①「当社」　
　　　株式会社学研メソッドをいいます。
　②「本サービス」　
　　　当社が提供する、教室・塾向け運営支援アプリ「マナミル」をいいます。
　　　なお、サービスの具体的内容は、当社が定めるものとします。
　③「フランチャイザー」　
　　　教室・塾をフランチャイズ展開している方のうち、当社との約定（以下「原サービス契約」といいます）に基づき、本サービスを利用する方をいいます。
　④「利用者」
　　　フランチャイザーから、教室・塾の開設・運営に関するフランチャイズの付与を受けた方であって、フランチャイザーによって、本サービスを利用することを認められた方をいいます。
　⑤「教室運営者」
　　　利用者が運営する教室・塾に所属する方であって、実際に教室・塾の運営を担当する方をいいます。
　⑥「生徒・保護者」
　　　利用者が運営する教室・塾に所属する生徒及びその保護者をいいます。
　⑦「ID」
　　　学研グループ（当社を含む、学研グループを構成する会社をいいます）が提供する各種デジタルサービスを利用するために必要となるアカウントIDであって、「Gakken ID」と称するものをいいます。
　　　なお、本サービスは、Gakken IDによって利用できる各種サービスのうちの一つです。

第3条（本規約の範囲）
　1.当社が本規約に付帯関連して別途定める諸規約はそれぞれ本規約を構成するものとします。
　2.本規約の規定と、本規約に付帯関連する諸規約の規定とが異なる場合には、後者の規定が優先して適用されるものとします。

第4条（本規約の変更）
　1.当社は、当社の裁量により本規約を変更できるものとします。　　　　
　2.当社は、前項による本規約の変更にあたり、変更後の本規約の効力発生日の１４日前までに、本規約を変更する旨、及び変更後の本規約の内容とその効力発生日を、本サービスに係るウェブサイト上に掲示します。
　3.変更後の本規約の効力発生日以降に、利用者が本サービスを利用したときは、利用者は、本規約の変更に同意したものとみなします。

第5条（本サービスにおいて提供する情報）
　1.本サービスにおいて提供するすべての情報（すべての記事、写真、イラスト類、画像、映像を含みますがこれらに限られません）に関する、著作権（著作権法第27条及び第28条に定める権利を含みます。以下同じ）その他の知的財産権及び保護されるべき法的権利は、当社または当社への許諾者に帰属します。
　2.利用者は、本サービスにおいて提供する情報を、当社の事前の承諾を得ることなく、私的使用以外の目的で使用（複製、頒布、公衆送信、放送、販売、貸与、改変等の行為を含みますが、これらに限られません）することはできません。
違反者は、著作権法によって罰せられます。

第6条（利用者）
　1.利用者は、本規約のすべてを承認のうえ、当社所定の手続に従って、本サービスの利用を申し込むものとします。　　　
　2.当社は、申込を承諾することが、当社の業務遂行上または技術上、不適当と判断した場合には、当社の判断によって、本サービス利用の申込を承諾しないことができるものとします。
また当社は、本サービス利用の申込を承諾した後であっても、申込を承諾することが、当社の業務遂行上または技術上、不適当と判断した場合には、利用者に対する本サービスの提供を中止できるものとし、この場合であっても、当社は何らの責も負わないものとします。
　3.当社は、利用者に対して、新サービスの告知、当社または学研グループを含む第三者の商品・サービスに関する広告配信、本サービス運営上の事務連絡、その他情報の提供を行います。
　4.利用者資格は第三者に譲渡、貸与することはできません。
　　また利用者は、本サービスを、教室運営者及び生徒・保護者以外の第三者に利用させてはならないものとします。　　
利用者の運営する教室・塾に所属しなくなった教室運営者及び生徒・保護者は、上記「第三者」として取り扱われ、本サービスを利用できないものとします。
　5.利用者は、IDを厳重に管理する責任を負うものとし、当社は、IDを利用して行なわれた一切の行為を、利用者本人の行為とみなすことができるものとします。
　6.当社が、利用者に対して、追加で情報の登録を求めた場合には、利用者は、これに応じるものとします。
当社は、当該情報を、法令等に従って取り扱うものとします。

第7条（利用期間等）
　1.利用者が本サービスを利用できる期間は、フランチャイザーが定めるところによります。
　2.当社とフランチャイザーとの間の原サービス契約が、事由の如何を問わず終了した場合、利用者は、本サービスを利用できなくなります。
　3.フランチャイザーと利用者との間の、フランチャイズに関する契約が、事由の如何を問わず終了した場合には、利用者は、本サービスを利用できなくなります。

第8条（利用料）
　1.利用者は、本サービス利用の対価として、フランチャイザーが別途定めるところに従い、利用料を支払うものとします。
      なお、利用者は、利用料に消費税等相当額（法令等の変更があった場合には、変更後の消費税等相当額）を加算のうえ、支払うものとします。
      また振込手数料、その他支払に要する費用は、利用者の負担とします。
　2.利用者は、利用者が実際に本サービスを利用していなかった場合であっても、利用料の支払いを免れることはできません。
　3.いったん支払われた利用料は、事由の如何を問わず、利用者に返還されないものとします。

第9条（利用者情報）
　1.利用者は、本サービスの利用履歴に関する情報（以下「利用者情報」といいます）が、当社のデータベースに登録されることを承諾します。
　2.当社は、利用者情報を、本サービスの提供、及び第6条第3項に定める情報提供に必要な範囲内で、使用できるものとします。
　3.利用者情報の取扱いについては、以下の当社のプライバシー・ポリシーをご参照ください。
<a href="https://gakken-method.co.jp/privacypolicy/">https://gakken-method.co.jp/privacypolicy/</a>


第10条（利用者の禁止行為）
  利用者は、本サービスを利用して次の各号に該当する、またはそのおそれのある行為を行ってはならないものとします。
  ①犯罪行為に結びつく行為。
  ②他人のIDを不正に使用する行為、及び自己のIDを他人に使用させる行為。 
  ③当社及び第三者の著作権、商標権、肖像権などの権利を侵害する行為。
  ④当社及び第三者の財産、プライバシーなどを侵害する行為。
  ⑤当社及び第三者を誹謗中傷する行為または名誉や信用を毀損する行為。
  ⑥有害プログラムを含んだ情報を送信する行為。
  ⑦選挙の事前活動、選挙運動またはこれらに類似する行為など、公職選挙法に抵触する行為。 
  ⑧布教を目的とする行為またはこれに類する行為。
  ⑨営業活動等、営利を目的とする行為及びその準備を目的とする行為。
  ⑩本サービスの運営を妨げるような行為、または本サービスへの信頼を損なうような行為。
  ⑪本サービスの内容の無断転載、改変または再配布をする行為。
  ⑫募金、カンパ、寄付、布施その他名目を問わず金品の交付を受けること、または出資を募ることを目的とする行為。
  ⑬顧客に関する情報の収集を目的とする行為。
  ⑭本サービスの利用により知り得た他の利用者または第三者に係る住所、氏名、電話番号等の個人情報を他に開示または漏洩する行為。
  ⑮当社の商号、商標またはロゴマーク等を用いて、利用者と当社の間の提携関係の存在、または利用者に対する代理権等の付与を誤認させる行為。
  ⑯その他、本規約もしくは法令に違反し、または公序良俗に反する行為。
  ⑰前各号に定めるほか、当社が不適当と認める行為。

第11条（免責）
  1.利用者は、利用者自身の責任において本サービスを利用するものとします。
      当社は、本サービスの利用によって生じた利用者の一切の損害について、いかなる責任も負わないものとし、これを賠償する義務を有しないものとします。
  2.利用者が本サービスの利用によって第三者に損害を与えた場合、利用者は自己の責任と費用負担によってこれを解決するものとします。
  3.利用者が本規約に定めた条項のいずれかに違反し、当社に損害を与えた場合、当社は当該利用者に対し、被った損害（合理的な範囲内の弁護士費用を含む）の賠償を請求できるものとします。

第12条（設備等）
  1.利用者は、本サービスを利用するために必要な通信機器、ソフトウエア、その他これらに付随して必要となるすべての機器を、自己の費用と責任において準備するものとします。
      また、利用者は、自己の費用（電話料金を含みます）と責任で、インターネットを経由して本サービスに係るウェブサイトに接続するものとします。
  2.利用者は、自己の責任と費用において、自己の利用環境に応じたセキュリティ対策（コンピュータ・ウィルスの感染、不正アクセス及び情報漏洩の防止等）を講じるものとします。

第13条（本サービスの変更等）
  1.当社は、必要と判断した場合には、利用者の承諾なしに、本サービスの全部または一部について、その内容を変更し、または廃止できるものとします。
  2.当社は、前項の変更または廃止により、利用者に損害が発生した場合であっても、何ら責を負わないものとします。

第14条（本サービスの提供の停止）
  1.当社は、次の各号のいずれかの事由が生じた場合には、利用者に事前に通知することなく、本サービスの提供を停止できるものとします。
  　①本サービス用設備の故障等により保守を行う場合。
  　②運用上または技術上の理由でやむを得ない場合。
  　③天災地変、感染症の流行等、不可抗力により本サービスを提供できない場合。
  　④前各号に定めるほか、当社の責に帰すことのできない事由により、本サービスの提供が困難である場合。
  2.当社は、本サービス用設備の定期点検等を行うため、利用者に事前に通知のうえ、本サービスの提供を一時的に停止できるものとします。
  3.当社は、利用者が、第10条各号に該当する行為を行い、またはその恐れがあると判断した場合には、当社の裁量により、利用者に対する本サービスの提供を中止できるものとします。
  4.当社が前各項の定めに従い本サービスの提供を停止したことにより、利用者に損害が発生した場合であっても、当社は何ら責を負わないものとします。
  5.当社が前各項の定めに従い本サービスの提供を停止した場合であっても、利用者は、第8条に定める利用料の支払いを免れないものとします。

第15条（非保証）
  当社は、本サービスが利用者の要求を満足させるものであること、本サービスに瑕疵がないこと、本サービスに障害が発生しないこと、本サービスが利用者の利用目的に合致していること、及び本サービスの内容の正確性、完全性、最新性、適時性、有用性、その他一切の保証をいたしません。利用者は、これらを承諾するものとします。

第16条（反社会的勢力の排除）
  1.利用者が次の各号のいずれか一つに該当した場合、当社は、何らの通知・催告を要せず、直ちに本サービスの全部または一部の提供を停止できるものとします。
    ①自らまたは第三者を利用して、当社に対し、暴力的行為、詐術、脅迫的言動、業務妨害等の行為を行ったとき。
    ②利用者の役員または使用人が暴力団、暴力団員、暴力団関係企業・団体またはその関係者、その他反社会的勢力であることが判明したとき。
  2.当社が前項の定めに従い本サービスの提供を停止したことにより、利用者または第三者に損害が発生した場合であっても、当社は一切責任を負わないものとします。
  3.本条は、当社による、利用者に対する損害賠償請求を妨げないものとします。

第17条（準拠法、裁判管轄）
  1.本規約の準拠法は日本法とします。
  2.本規約に関連して、当社と利用者との間で生じた争いについては、東京地方裁判所を第一審の専属管轄裁判所とするものとします。

第18条（その他）
　生徒・保護者は、本サービスの利用にあたり、当社から有料のコンテンツを購入することができます。この場合における購入の方法・条件等は、当社が別途定めるものとします。


付則
本規約は２０２０年１２月１日から実施します。
            </pre>
</div>
<div class="div_button">
    <button onclick=window.location.href="./F40021.html">閉じる</button>
</div>
<script>
    var parma = getParam();
    var vm = new Vue({
        el:".box",
        data:{
            flg:parma.flg
        }
    })
</script>
</body>
</html>