<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <#include "/header.html" />
    <link rel="stylesheet" href="${request.contextPath}/css/common/F40020.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/common/common.css"/>
    <title>ワンタイムパスワード認証結果（成功）</title>
</head>
<!--デフォルトの背景色を置き換える-->
<body style="background-color: #ffffff">
<header style="width: 100%;padding: 0 15px;height: 6vh;position: unset;">
    <div class="header_logo"></div>
</header>
<div class="all">
    <div class="noticeFa">
        <div class="noticeF">メールアドレスが登録できました。</div>
    </div>
    <div class="btn">
        <button onclick="onClick()">次へ</button>
    </div>
</div>
</body>
<script src="${request.contextPath}/js/common/F40020.js"></script>
</html>