<!DOCTYPE html>
<html style="border: 1px solid #0f0f0f;width: 100%;height: 100%;">
    <head>
        <meta charset="utf-8">
        <title>ログイン画面に戻る確認画面（POP）</title>
        <#include "/header.html" />
        <link rel="stylesheet" href="${request.contextPath}/css/common/common.css"/>
        <link rel="stylesheet" href="${request.contextPath}/css/common/F40025.css"/>
    </head>
    <body>
        <div>
            <p>ログイン画面に戻りますがよろしいですか。</p>
        </div>
        <div class="div_button">
            <button id="no">いいえ</button>
            <button id="yes">はい</button>
        </div>
    </body>
    <script src="${request.contextPath}/js/common/F40025.js"></script>
</html>