<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "/header.html" />
    <title>教科書単元編集画面</title>
    <link rel="stylesheet" href="${request.contextPath}/css/common/common_pc.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/manager/F03002.css"/>
</head>
<body>
<div id="message" class="topMessage"></div>
<div id="app" class="content">
    <div class="popTitle"></div>
    <div class="topSessionTitle">
        <div>組織ID:</div>
        <div id="orgId" v-text="org.orgId!=null ? org.orgId : ''"></div>
        <div>組織名:</div>
        <div id="orgNm" v-text="org.orgNm!=null ? getOrgName(org.orgNm) : ''"></div>
    </div>
    <div class="idMessage">
        <div style="margin: 0" class="bold">学年</div>
        <div class="showData" v-text="schy !=null ? schy  : ''"></div>
        <div style="margin-left: 6.7vw;" class="bold">教科</div>
        <div class="showData" v-text="subjt !=null ? subjt : ''"></div>
        <button id="three" @click="toF03005">単元個別追加</button>
        <button @click="toF03004">単元検索</button>
    </div>
    <div class="idMessage">
        <form id="form1">
            <div class="required bold">出版社名</div>
            <select id="pub" name="pub">
                <option v-for="pub in publisherList" :value="pub.codCd" :selected="publisherDiv.trim()== pub.codCd ? 'selected' : ''" v-text="pub.codValue"></option>
            </select>
            <div class="required bold">教科書名</div>
            <input type="text" id="textbNm" name="textbNm" :value="textbNm !=null ? textbNm : '' " maxlength="60">
        </form>
    </div>
    <div class="listTitle">
        <div class="bold">全選択</div>
        <input type="checkbox" checked onchange="clickAll()" id="all">
        <button @click="orderCreate">表示順再採番</button>
        <p class="bold">単元一覧</p>
    </div>
    <form id="seriForm">
        <div class="list">
            <table cellspacing="0" class="oneTable">
                <thead>
                <tr>
                    <td class="oneTd">
                        <div>
                            <table cellspacing="0" border="0px">
                                <thead>
                                <tr>
                                    <th width="5%" style="border-left: 1px solid #ccc">単元表示順</th>
                                    <th width="16%">章名</th>
                                    <th width="16%">節名</th>
                                    <th width="23%">項目表示名</th>
                                    <th width="4%">章NO</th>
                                    <th width="4%">節NO</th>
                                    <th width="5%">単元NO</th>
                                    <th width="6%">ページ</th>
                                    <th width="5%">学習時期</th>
                                    <th width="6%">時期詳細</th>
                                    <th width="6%" style="border-right: 1px solid #ccc;">目標学習時間</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="oneTd">
                        <div class="bottomDiv ">
                            <div></div>
                            <table cellspacing="0" id="submitTable" border="0px" class="oneTd">
                                <tbody class="allT">
                                <tr v-for="(li,index) in list" :desc="li.updateStr" :unitId="li.unitId">
                                    <td width="5%">
                                        <input type="checkbox" checked name="tdtiId" :value="li.tdtiId" class="clickOne">
                                        <input type="text" class="one" name="dispyOrder" v-model="list[index].dispyOrder" maxlength="4" :value="li.dispyOrder">
                                    </td>
                                    <td class="chaptNm" width="16%" v-text="li.chaptNm!=undefined ? li.chaptNm : ''" style="text-align: left" v-model=" list[index].chaptNm"></td>
                                    <td width="16%" v-text="li.sectnNm!=undefined ? li.sectnNm : ''" style="text-align: left" v-model=" list[index].sectnNm"></td>
                                    <td width="23%">
                                        <input type="text" name="unitDispyNm" maxlength="300" class="two" :value="li.unitDispyNm!=null&&li.unitDispyNm!='' ? li.unitDispyNm : li.unitNm" v-model=" list[index].unitDispyNm">
                                    </td>
                                    <td width="4%">
                                        <input type="text" name="chaptNo" :value="li.chaptNo" maxlength="10" class="four" v-model=" list[index].chaptNo">
                                    </td>
                                    <td width="4%">
                                        <input type="text" name="sectnNo" :value="li.sectnNo" maxlength="10" class="five" v-model=" list[index].sectnNo">
                                    </td>
                                    <td width="5%">
                                        <input type="text" name="unitNo" :value="li.unitNo" maxlength="10" class="six" v-model=" list[index].unitNo">
                                    </td>
                                    <td width="6%">
                                        <input type="text" name="textbPage" maxlength="4" v-model="list[index].textbPage1" :value="li.textbPage!=null ? li.textbPage.split('-')[0] : ''" class="long twoLong">
                                        <input type="text" name="textbPage" maxlength="4" v-model=" list[index].textbPage2" :value="li.textbPage!=null ? li.textbPage.split('-')[1] : ''" class="long twoLong">
                                    </td>
                                    <td width="5%">
                                        <select name="planLearnSeasn" :desc="index" v-model="list[index].planLearnSeasn">
                                            <option v-for="se in mstLearnSeasnEntities" :value="se.planLearnSeasn" :planLearnSeasnId="se.id" :selected="li.planLearnSeasn==se.planLearnSeasn ? 'selected' : ''" :desc="se.cretUsrId" v-text="se.planLearnSeasn+'W'"></option>
                                        </select>
                                    </td>
                                    <td width="6%" class="send" :id="index" style="text-align: left"></td>
                                    <td width="6%" style="border-right: none;">
                                        <select class="endSelect" name="planLearnTm" v-model="list[index].planLearnTm">
                                            <option style="display: none" value="30">30分</option>
                                            <option v-for="tm in planTmList" :value="tm" :selected="tm==li.planLearnTm ? 'selected' : ''" v-text="tm+'分'"></option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
    <div class="buttonDiv">
        <button id="edit" @click="editFn">編集保存</button>
        <button id="create" @click="createFn">教科書作成</button>
        <button style="margin-left: 2vw;" onclick="returnFn()">一覧へ戻る</button>
    </div>
</div>
</body>
<script src="${request.contextPath}/js/manager/F03002.js" type="text/javascript" charset="utf-8"></script>
</html>