<!DOCTYPE html>
<html lang="en">
<head>
    <#include "/header.html" />
    <meta charset="UTF-8">
    <title>マナミルチャンネル照会画面</title>
    <link rel="stylesheet" href="${request.contextPath}/css/common/common_pc.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/manager/F04014.css"/>
</head>
<body>
<div class="page" v-cloak="">
    <div class="message" id="topMessage"></div>
    <div class="popTitle">マナミルチャンネル参照画面</div>
    <div class="topSessionTitle">
        <div class="bold">組織ID:</div>
        <div>{{mstOrgEntity.orgId}}</div>
        <div class="bold">組織名:</div>
        <div>{{mstOrgEntity.orgNm}}</div>
        <div class="right">{{mstNoticeEntity.updDatime}}</div>
        <div class="right bold">最新更新日時:</div>
    </div>
    <div class="div_main">
        <div class="one">
            <div class="mailLabel">件名</div>
            <div id="noticeTitle" v-text="mstNoticeEntity.noticeTitle==null ? '' : mstNoticeEntity.noticeTitle"></div>
        </div>
        <div class="two">
            <div class="mailLabel">内容</div>
            <div id="noticeCont" class="noticeCont"></div>
        </div>
        <div class="file_drag">
            <div id="file_label">添付ファイル</div>
            <div class="drag_area">
                <!--<a :href='mstNoticeEntity.attachFilePath' id="showPath1">{{path}}</a>-->
            </div>
        </div>
        <div class="content_warp" style="height: 16vh;">
            <div class="mailLabel" style="float: left;">配信先</div>
            <ul class="orgs" style="float: left">
                <li v-for="org in orgList">{{org.orgNm}}</li>
            </ul>
        </div>
        <div class="three">
            <div class="mailLabel">掲載開始日時</div>
            <p class="timeCon oneBtn"
               v-text="mstNoticeEntity.pubPlanStartDt==null ? '' : mstNoticeEntity.pubPlanStartDt"></p>
            <div style="...">～</div>
            <div class="mailLabel" id="end_label">掲載終了日時</div>
            <p class="tmeCon twoBtn"
               v-text="mstNoticeEntity.pubPlanEndDt==null ? '' : mstNoticeEntity.pubPlanEndDt"></p>
        </div>
        <div class="four">
            <button id="backBtn">戻る</button>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="${request.contextPath}/plugins/ueditor-1.4.3.3/ueditor.parse.js"></script>
<script type="text/javascript" src="${request.contextPath}/js/manager/F04014.js"></script>
</html>