<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <#include "/header.html" />
    <title>F08011</title>
    <link rel="stylesheet" href="${request.contextPath}/plugins/jquery-ui-1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="${request.contextPath}/plugins/jqgrid-5.1.1/ui.jqgrid.css">
    <link rel="stylesheet" href="${request.contextPath}/css/common/common_pc.css"/>
    <link type="text/css" rel="stylesheet" href="${request.contextPath}/css/manager/F08011.css">
    <script src="${request.contextPath}/plugins/jqgrid-5.1.1/jquery.jqGrid.min.js" charset="utf-8"></script>
    <script src="${request.contextPath}/plugins/jqgrid-5.1.1/grid.locale-ja.js" charset="utf-8"></script>
    <script src="${request.contextPath}/plugins/jquery-ui-1.12.1/jquery-ui.js" charset="utf-8"></script>

</head>
<body>
<div id="message" class="topMessage"></div>
<div class="div_body" >
    <div class="one">
        <div>
            <ul class="one-ul" style="margin-top: 1vw;">
                <li> イベント管理　＞</li>
                <li> 配信設定/状況確認　＞</li>
                <li> 詳細　</li>
            </ul>
        </div>
    </div>
    <div id="divinfo" v-cloak>
        <table id="readingInfo" border="1px">
            <tr>
                <th id="allCount">配信数</th>
                <th id="unreadCount">未読数</th>
                <th id="readCount">既読数</th>
                <th id="repliedCount">予約数</th>
            </tr>
            <tr style="background: white;">
                <td>{{allCount}}</td>
                <td>{{unreadCount}}</td>
                <td>{{readCount}}</td>
                <td>{{repliedCount}}</td>
            </tr>
        </table>
    </div>
    <div class="div_head">
        <button id="updateitem">表示項目変更</button>
        <button id="search">検索</button>
        <button id="download" onclick="vm.download()">添付ダウンロード</button>
        <!--add at 2021/08/12 for V9.02 by NWT wen START-->
        <button id="downloadCSV" onclick="vm.downloadCSV()">CSVダウンロード</button>
        <!--add at 2021/08/12 for V9.02 by NWT wen END-->
        <!--<button id="sendMsg" onclick="vm.resend()">再通知</button>-->
    </div>
    <div id="jqGridPager"></div>
    <div id="autowidth" style="width: 180vh;">
        <table id="jqGrid" ></table>
    </div>
    <!--update at 2021/08/12 for V9.02 by NWT wen START-->
    <form id="downloadFrom" method="post" action="${request.contextPath}/manager/F08011/downloadFile">
        <input id="fileName" type="hidden" name="fileName">
    </form>
    <!--update at 2021/08/12 for V9.02 by NWT wen END-->
</div>
<div id="footer">
    <button id="back" onclick="back()">戻る</button>
</div>
</body>
<script type="text/javascript" src="${request.contextPath}/js/manager/F08011.js"></script>
</html>