<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="${request.contextPath}/css/manager/F09007.css">
</head>
<body>
<div>
    <button style="color:white;background-color: #3B8686;border: none;padding: 8px 10px;font-size: 15px;left: 3px;top: 3px">×</button>
</div>
<div style="margin-left: 10px;margin-top: 10px">
    <div>
        <div style="float: left">
            <label for="select1">再認識不可時間</label>
        </div>
        <select style="margin-left: 128px" class="select1" id="select1">
            <option value="#"></option>
            <option value="#"></option>
            <option value="#"></option>
        </select>
        <label style="margin-left: 20px">分</label>
    </div>
    <div style="margin-top: 20px">
        <label style="float: left;" for="area1">受付時メッセージ</label>
        <textarea style="margin-left: 110px" id="area1"></textarea>
    </div>
    <div style="margin-top: 20px">
        <label style="float: left;" for="area2">エラーメッセージ</label>
        <textarea style="margin-left: 110px" id="area2"></textarea>
    </div>
    <div style="margin-top: 20px">
        <label  style="float: left;" for="area3">時間内エラーメッセージ</label>
        <textarea style="margin-left: 55px" id="area3"></textarea>
    </div>
</div>
<div style="margin-top: 150px;margin-left: 100px">
    <button class="button1">登録</button>
    <button class="button1">戻る</button>
</div>
</body>
</html>