<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <#include "/header.html" />
    <title>一斉お知らせ配信(編集の場合)</title>
    <link rel="stylesheet" href="${request.contextPath}/css/manager/F09020.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/common/common_pc.css"/>
</head>
<body>
<div id="page">
    <div class="div_header">
        <iframe src="${request.contextPath}/common/F40011-1.html" frameborder="0" width="100%" height="100%"></iframe>
    </div>
    <div class="cont1">
        <div id="message" class="topMessage"></div>
        <div class="content1">
            <div class="input1">
                <div class="im">カテゴリ</div>
                <!--<select id="ntd">カテゴリ</select>-->
                <input id="ntd" type="text" style="border:none;background-color:transparent;width:61%;"disabled>
            </div>
            <div class="input2">
                <div class="ti">件名</div>
                <input type="text" id="name">
                <div class="ti">内容</div>
                <textarea style="height:30vw"  id="con"></textarea>
            </div>
            <div class="input1">
                <div class="input3">
                    <div class="im">重要フラグ</div>
                    <!--<span><input id="import1" type="checkbox"></span>-->
                    <input id="import2" type="text" style="border:none;background-color:transparent;"disabled>
                </div>

                <div class="btnz"><p class="btn1">添付</p>
                    <button id="file_btn" type="button" onclick="F_Open_dialog()">＋</button>
                    <img src="../img/camera.png" alt="" class="camera" id="camera" onclick="F_Open_dialog()" multiple>
                    <input type="text" class="sp" id="showPath1" placeholder="" disabled>
                    <input type="file" id="btn_file">
                    <!--<input type="file" id="btn_file" class="filepath" onchange="changepic()" >-->
                </div>
                <div class="kg"></div>
                <div class="btn"><p class="btn1">配送先設定</p>
                    <button id="pop" type="button" onclick="toF09021()">＋</button></div>
                <div id="dateSelect" class="select-div-day">
                    <div class="left-item label">掲載開始日時</div>
                    <!--<p><img class="timeBtn right-item" id="dayS" src="../img/timeBtn2.png" alt=""></p>-->
                    <input type="text" class="input left-item" style="border:none;background-color: #f0f0f0" id="day1" disabled>
                    <div class="kg"></div>
                    <div class="left-item label">掲載終了日時</div>
                    <!--<p><img class="timeBtn right-item" id="dayE" src="../img/timeBtn2.png" alt=""></p>-->
                    <input type="text" class="input left-item" style="border:none;background-color: #f0f0f0" id="day2" disabled>
                </div>
            </div>

        </div>
        <div class="footDiv">
            <div class="footAuto">
                <button onclick="window.location.href = 'F09019.html'" id="back" class="selectBtn footBtn">戻る</button>
                <button id="go" class="selectBtn footBtn">送信</button>
            </div>
        </div>
    </div>

    <div class="div_bottom">
        <iframe src="${request.contextPath}/common/F40011.html?id=F09020" frameborder="0" width="100%" height="100%"></iframe>
    </div>
</div>
</body>
<script type="text/javascript">
    function F_Open_dialog() {
        document.getElementById("btn_file").click();
    }
</script>
<script src="${request.contextPath}/js/manager/F09020.js"></script>
<script type="text/javascript" src="${request.contextPath}/plugins/laydate-5.0.9/laydate.js"></script>
</html>