<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <#include "/header.html" />
    <title>遅刻・欠席一覧画面</title>
    <link rel="stylesheet" href="${request.contextPath}/plugins/jquery-ui-1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="${request.contextPath}/plugins/jqgrid-5.1.1/ui.jqgrid.css">
    <link rel="stylesheet" href="${request.contextPath}/css/common/common_pc.css"/>
    <link type="text/css" rel="stylesheet" href="${request.contextPath}/css/manager/F21003.css">
    <script src="${request.contextPath}/plugins/jqgrid-5.1.1/jquery.jqGrid.min.js" charset="utf-8"></script>
    <script src="${request.contextPath}/plugins/jqgrid-5.1.1/grid.locale-ja.js" charset="utf-8"></script>
    <script src="${request.contextPath}/plugins/jquery-ui-1.12.1/jquery-ui.js" charset="utf-8"></script>
</head>
<body>
<div class="one">
    <div>
        <ul class="one-ul">
            <li>出席簿管理</li>
            <li> ＞ 遅刻・欠席連絡</li>
        </ul>
    </div>
</div>
<div id="message" class="topMessage"></div>
<div class="content">
    <div>
        <div class="choose" style="width: 100%">
            <button id="proxyBtn">代理登録</button>
            <div id="radio-area">
                <span style="height: 5vh;margin-left: 20%;font-size: 1.2vw;line-height: 6.7vh;letter-spacing: 0.1vw;">対応ステータス</span>
                <div class="radioDiv">
                    <input type="radio" class="newtui-radio-one nolabel" name="a" v-model="pick" value="0" style="margin-left: 1vw;letter-spacing: 0.1vw;" checked title="未対応">
                </div>
                <div class="radioDiv">
                    <input type="radio" name="a" v-model="pick" value="1" class="newtui-radio-one nolabel" title="対応済・非表示" style="width: 11vw;letter-spacing: 0.1vw;">
                </div>
            </div>
            <button id="schedule">日程一覧へ</button>
        </div>
    </div>
    <div>
        <div class="div_main">
            <div class="first_div">
                <table id="jqGrid" class="easyui-tabs" border="1px"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="${request.contextPath}/js/manager/F21003.js"></script>
</html>