<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "/header.html" />
    <title>生徒教科書選択画面</title>
    <link rel="stylesheet" href="${request.contextPath}/css/common/common.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/student/F10003.css"/>
</head>
<body>
<header style="padding: 0 1vw">
    <iframe src="${request.contextPath}/common/F40002.html" id="iframe" width="100%" height="100%" style="padding:0;border:none;"></iframe>
</header>
<div id="info" class="content" style="width: 80%;padding: 7vw 1vw 1vw 1vw;margin: 0 auto">
    <div id="message" class="topMessage"></div>
    <h1 class="fone_title">学校で使っている教科書と違う場合は修正して下さい</h1>
    <ul>
        <li v-for="sub in subjtlist">
            <div class="f_subject" :style="'background:'+sub.codValue2">
                <img :src="sub.imgPath" alt=""/>
                <span v-text="sub.codValue"></span>
            </div>
            <select class="f_books" :name="sub.subjtDiv" :updateStr="sub.updateTimeStr">
                <option value="">選択してください</option>
                <option v-for="book in sub.f10003TextListDtos" :value="book.textbId" v-if="book.selFlg>0" selected="selected"
                        v-text="book.textbNm">
                </option>
                <option v-for="book in sub.f10003TextListDtos" :value="book.textbId" v-if="! book.selFlg"
                        v-text="book.textbNm">
                </option>
            </select>
        </li>
    </ul>

</div>
<div class="login_btn_s">
    <div class="login_btn_sc">
        <button onclick="cancelFn()" style="border: 0">戻る</button>
        <button onclick="updateChoc()" class="login_btn_sc_first">登録</button>
    </div>
</div>

</body>
<script type="text/javascript" src="${request.contextPath}/js/student/F10003.js">
</script>
</html>