<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "/header.html" />
    <title>キャンセル確認画面</title>
    <link rel="stylesheet" href="${request.contextPath}/css/student/common.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/student/F11019.css"/>
</head>
<body>
<div class="div_header">
    <iframe src="${request.contextPath}/common/F40027.html?id=11019" frameborder="0" width="100%" height="100%"></iframe>
</div>
<div class="content">

    <title class="header_title">キャンセルが完了</title>

    <div class="content_title">
        キャンセルが完了しました。
    </div>
    <div class="content_div">
        <div class="content_bottom">
            <button id="btn_cancel" onclick="location.href = 'F11016.html'">戻る</button>
        </div>
    </div>
</div>
<div class="div_bottom">
    <iframe id="ifr_bottom" src="${request.contextPath}/common/F40012.html?id=F11019" frameborder="0" width="100%" height="100%"></iframe>
</div>
</body>
</html>