<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <#include "/header.html" />
    <title>学習情報登録｜タイマー登録２</title>
<!--    <link rel="stylesheet" href="${request.contextPath}/css/common/newtui.css">-->
    <link rel="stylesheet" href="${request.contextPath}/css/student/common.css"/>
    <!--    <link rel="stylesheet" href="${request.contextPath}/css/common/my_select.css"/>-->
    <link type="text/css" rel="stylesheet" href="${request.contextPath}/css/student/F11007.css">
    <link rel="stylesheet" href="${request.contextPath}/plugins/mobiscroll-2.17.1/css/mobiscroll.frame.css"/>
    <link rel="stylesheet" href="${request.contextPath}/plugins/mobiscroll-2.17.1/css/mobiscroll.scroller.css"/>
    <link rel="stylesheet" href="${request.contextPath}/plugins/mobiscroll-2.17.1/css/mobiscroll.animation.css"/>
    <script src="${request.contextPath}/plugins/mobiscroll-2.17.1/js/mobiscroll.core.js"></script>
    <script src="${request.contextPath}/plugins/mobiscroll-2.17.1/js/mobiscroll.frame.js"></script>
    <script src="${request.contextPath}/plugins/mobiscroll-2.17.1/js/mobiscroll.select.js"></script>
    <script src="${request.contextPath}/plugins/mobiscroll-2.17.1/js/mobiscroll.scroller.js"></script>
</head>
<body id="body">
    <div class="newt-layout-line div_header">
        <iframe src="${request.contextPath}/common/F40027.html?id=F11007" frameborder="0" width="100%" height="100%"></iframe>
    </div>
    <div class="newt-layout-line oneTitle">
        <ul id="titleUl">
            <li onclick="vm.toF11001()" class="negative" id="plan_login">計画登録</li>
            <li class="active" id="perf_login" onclick="vm.toF11004()">実行登録</li>
        </ul>
    </div>
    <div class="newt-layout-line content" v-cloak>
        <div v-if="submitType == '1'">
            <div class="line-titel">
            <div>
                <span>実績項目の選択</span>
                <button @click="submit()" class="submit">{{params.editFlag && params.editFlag === '1' ? '戻る' : '登録'}}</button>
            </div>
        </div>
            <div @click="blockTypeToggle()" class="newt-layout-line choose-div" style="padding: 0 10px 0 10px;">
                <span class="span left">カテゴリ</span>
                <div class="right" id="blockType" type="text"></div>
            </div>
            <div class="newt-layout-line disNone block_type_div">
                <select id="block_type_div" type="text" name="demo_select"></select>
            </div>
            <div @click="subjtToggle()" class="newt-layout-line choose-div" style="padding: 0 10px 0 10px;">
                <span class="span left">教科/科目</span>
                <div class="right" id="subjtDiv" type="text"></div>
            </div>
            <div class="newt-layout-line disNone subjt_div">
            <select id="subjt_div" type="text" name="demo_select"></select>
        </div>
        </div>
        <div class="line-titel">
            <div>
                <span>理解度</span>
                <button @click="submit()" v-if="submitType == '0'" class="submit">{{params.editFlag && params.editFlag === '1' ? '戻る' : '登録'}}</button>
            </div>
        </div>
        <div @click="learnToggle()" class="newt-layout-line choose-div" style="padding: 0 10px 0 10px;">
            <span class="span left">理解度</span>
            <div class="right" id="learnDiv" type="text"></div>
        </div>
        <div class="newt-layout-line disNone choose-container">
            <select id="learn_div" type="text" name="demo_select"></select>
        </div>
        <div class="newt-layout-line line-titel">
            <p style="width: 100%">メモ</p>
        </div>
        <!--2020/11/12 zhangminghao modify end-->
        <textarea id="memo" class="memo newt-layout-line">{{memo}}</textarea>
        <div class="button-container" v-if="params.editFlag && params.editFlag === '1'">
            <button @click="del()" class="del">削除</button>
            <button @click="update()" class="update">更新</button>
        </div>
    </div>
    <div class="newt-layout-fixed div_bottom">
        <iframe frameborder="0" height="100%" src="../common/F40012.html?id=F11004" width="100%"></iframe>
    </div>
</body>
<script src="${request.contextPath}/plugins/date.format-master/date.format.js" type="text/javascript"></script>
<script src="${request.contextPath}/js/student/F11007.js"></script>
</html>