<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "/header.html" />
    <title>他サイト掲示板詳細表示画面</title>
    <link rel="stylesheet" href="${request.contextPath}/css/guard/common.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/guard/F30302.css"/>
</head>
<body>
<div class="div_header">
    <iframe src="${request.contextPath}/common/F40004-1.html" frameborder="0" width="100%" height="100%"></iframe>
</div>
<div class="content">
    <!--<div class="oneTitle">-->
        <!--<ul>-->
            <!--<li class="active" onclick="window.location='../guard/F30301.html'">トップ掲示板</li>-->
            <!--<li onclick="window.location='../guard/F30110.html'" class="active1">塾掲示板<div class="count"></div></li>-->
        <!--</ul>-->
    <!--</div>-->
    <div class="content_div">
        <div class="sourceName"></div>
        <div class="title_div">
            <div class="back"  onclick="window.location.href='F30112.html?tabFlg=2';">
                <img src="../img/left.png">
            </div>
            <div class="title"></div>
        </div>

        <div class="div_img"><img class="img"></div>
        <div class="description"></div>
        <div class="url" onclick="redirect()">続きをご覧になる場合はこちらをクリック</div>
    </div>
</div>
<div class="div_bottom">
    <iframe src="../common/F40004.html?id=F30301" frameborder="0" width="100%" height="100%"></iframe>
</div>
</body>
<script src="${request.contextPath}/js/guard/F30302.js"></script>
</html>