<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "/header.html" />
    <title>チャンネル一覧画面</title>
    <link rel="stylesheet" href="${request.contextPath}/css/guard/common.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/guard/fontSelect.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/guard/F30419.css"/>
</head>
<body>
<div id="page">
    <div class="div_header">
        <iframe src="${request.contextPath}/common/F40004-1.html" frameborder="0" width="100%" height="100%"></iframe>
    </div>
    <div class="topTitle commonTabTitle">
        ホーム
    </div>
    <div class="content" v-cloak>
        <div class="oneTitle">
            <ul id="titleUl">
                <li @click="toF30421()" class="active" id="notice_tab">お知らせ<div class="count">{{count}}</div></li>
                <li onclick="window.location.reload()" class="active active1" id="channel_tab">マナミルチャンネル<div class="count1"></div></li>
            </ul>
        </div>

        <div id="content">
            <ul class="oneCont" >
                <li v-for="list in showList" :style="list.readStsDiv == '0' || list.readingStsDiv == '0' ? '':'background:#F5F5F5;'">
                    <div class="img" @click="toF30420(list.id)">
                        <img :style="list.style" :src="list.noticeImgPath != null && list.noticeImgPath != '' ? list.noticeImgPath:imgPath" onerror="this.src='../img/logo2.png'">
                    </div>
                    <div class="cont" @click="toF30420(list.id)">
                        <!--保護者画面「お知らせ」で未読記事タイトルが太字にならない 2020/11/03 Modify yang-->
                        <div class="textArea" disabled>
                            <p class="label" :style="list.readStsDiv == '0' || list.readingStsDiv == '0' ? 'font-weight:bolder;':''">{{list.noticeTitle}}</p>
                            <div class="pubtime">{{showStartDt(list.startTime)}}</div>
                            <div class="important" :style="show(list.noticeLevDiv)">重要</div>
                        </div>
                        <div style="height: 45px" class="div_img">
                            <div class="divImg">
                                <img src="../img/goRight.png" style="width: 10px;">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nextpage" @click="pageChange()">更に読み込む</ul>
            <div id="pageFoot"></div>
        </div>
    </div>
    <div class="div_bottom">
        <iframe src="${request.contextPath}/common/F40004.html?id=F30419" frameborder="0" width="100%" height="100%"></iframe>
    </div>
</div>
</body>
<script src="${request.contextPath}/js/guard/F30419.js"></script>
</html>