<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "/header.html" />
    <title>保護者面談の結果表示画面</title>
    <link rel="stylesheet" href="${request.contextPath}/css/guard/common.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/guard/fontSelect.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/guard/F30408.css"/>
</head>
<body>
<div class="div_header">
    <iframe src="${request.contextPath}/common/F40004-1.html" frameborder="0" width="100%" height="100%"></iframe>
</div>
<div class="content">
    <div class="topTitle commonTabTitle">
        保護者面談のお知らせ
    </div>

    <div class="content_title">
        申込が完了しました。
    </div>
    <div class="content_div">
        <div class="content_bottom">
            <button id="btn_cancel" onclick="if (common_bottom.window.toNotice){common_bottom.window.toNotice();}">一覧に戻る</button>
            <button id="btn_ok" onclick="toF30405()">続けて兄弟・姉妹の予約をする</button>
        </div>
    </div>
</div>
<div class="div_bottom">
    <iframe id="ifr_bottom" src="${request.contextPath}/common/F40004.html?id=F30401" frameborder="0" width="100%" height="100%" name="common_bottom"></iframe>
</div>
</body>
<script type="text/javascript" src="${request.contextPath}/plugins/ueditor-1.4.3.3/ueditor.parse.js"></script>
<script src="${request.contextPath}/js/guard/F30408.js"></script>
</html>