<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "/header.html" />
    <title>保護者お知らせ画面</title>
    <link rel="stylesheet" href="${request.contextPath}/css/guard/common.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/guard/fontSelect.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/guard/F30421.css"/>
</head>
<body>
<div id="page">
    <div class="div_header">
        <iframe src="${request.contextPath}/common/F40004-1.html" frameborder="0" width="100%" height="100%"></iframe>
    </div>
    <div class="topTitle commonTabTitle">
        ホーム
    </div>
    <div class="content" v-cloak>
        <div class="oneTitle">
            <ul id="titleUl">
                <li onclick="window.location.reload()" class="active" id="notice_tab">お知らせ<div class="noticeCount">{{noticeCount}}</div></li>
                <li onclick="window.location.href='F30419.html'" class="active" id="channel_tab">マナミルチャンネル<div class="channelCount">
                    </div></li>
            </ul>
        </div>
        <div id="content">
            <ul class="oneCont" >
                <li v-for="list in noticeList" :style="list.noticeReadingStsDiv == '0' || list.eventReadingStsDiv == '0' ? '':'background:#F5F5F5;'">
                    <div class="img" @click="toF30113(list)">
                        <img :src="list.titleImgPath">
                    </div>
                    <div class="cont" @click="toF30113(list)">
                        <!--保護者画面「お知らせ」で未読記事タイトルが太字にならない 2020/11/03 Modify yang-->
                        <div class="textArea" disabled>
                            <p class="notice-title" :style="list.noticeReadingStsDiv == '0' || list.eventReadingStsDiv == '0' ? 'font-weight:bolder;':''">{{list.title}}</p>
                            <div class="pubtime">
                                {{showStartDt(list.startDt)}}
                            </div>
                            <div class="important" :style="show(list.levelDiv)">重要</div>
                            <div class="notice-read-status" v-if="list.noticeTypeDiv === '3' && list.corrspdSts === '0'">送信済</div>
                            <div class="notice-read-status" v-if="list.noticeTypeDiv === '3' && list.corrspdSts === '1'">確認済</div>
                        </div>
                        <div style="height: 40%" class="rightIcon">

                            <div class="divImg">
                                <img src="../img/goRight.png" style="width: 9px;margin-top: 2vw;">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nextpage" @click="pageChange()">更に読み込む</ul>
            <div id="pageFoot"></div>
        </div>
    </div>
    <div class="div_bottom">
        <iframe src="${request.contextPath}/common/F40004.html?id=F30421" frameborder="0" width="100%" height="100%"></iframe>
    </div>
</div>
</body>
<script src="${request.contextPath}/js/guard/F30421.js"></script>
</html>