body{
	background:#fff;
	margin: 0;
}
header{
	width: 100%;
}
.content{
	width: 100%;
	height: auto;
	padding: 5.6vw 20% 0 20%;
}
.fone_title{
	width:100%;
	line-height:40px;
	background:#89cbdf;
	text-align:center;
	font-size:20px;
}
.f_subject{
	width:160px;
	height:60px;
	line-height:60px;
	background:#f5f5f5;
	float:left;
	padding-left:80px;
	position:relative;
	font-size:16px;
	color:#666;
	font-weight:bold;
}
.f_subject img{
	position:absolute;
	left:12px;
	width:40px;
	top:0;
	bottom:0;
	margin:auto;
}
.f_books{
	float:left;
	width:calc(100% - 172px);
	height:60px;
	line-height:30px;
	padding:12px;
	margin-left:12px;
	border:1px solid #999;
}
.info_mine{
	border: 1px solid #ccc;
	width: 100%;
	position: relative;
	float: left;
	border-radius: 0.4vw;
}
.info_mine h4{
	line-height: 3.8vw;
	height: 3.8vw;
	color: #333;
	border-bottom: 1px solid #ccc;
	padding-left: 1vw;
	font-size: 1.1vw;
	margin-bottom: 0.4vw!important;
}
.info_mine h3{
	line-height: 1.6vw;
	color: #333;
	height: 1.8vw;
	width: calc(100% - 4vw);
	margin-left: 2vw!important;
	border-bottom: 1px solid #ccc;
	font-size: 0.8vw;
	font-weight: normal;
}
.info_mine ul{
	width: 100%;
	float: left;
	padding: 0 2vw;
	height: auto;
}
.info_mine ul.ulleft{
	width: 200px;
}
.info_mine ul li{
	width: 100%;
	float: left;
	border-bottom: 1px solid #ccc;
	height: 4vw;
}
.info_mine ul li.endLi{
	border: 0;
}
.info_mine ul li.endLi input{
	color: #EA331B;
	font-size: 0.8rem;
}
input[type='text']:disabled{
	background: none;
	border: 0;
}
.info_mine ul li.libor{
	border: 0;
	position: relative;
	height: 7vw;
	text-align: center;
}
.info_mine p{
	width: 12vw;
	text-align: left;
	float: left;
	color: #333;
	height: 100%;
	line-height: 4vw;
	margin: 0;
	font-size: 0.8vw;
}
.info_mine div{
	float: left;
	width: calc(100% - 12vw);
	height: 100%;
	padding-left: 1vw;
	position: relative;
}
.info_mine div p{
	color: #cf2d28;
	width: 1vw;
	position: absolute;
	top: 0;
	left: 0;
}
.info_mine p.lineP{
	margin-left: 20px;
	margin-right: 20px;
	width: auto;
	font-size: 24px;
	color: #333;
}
.info_mine input{
	width: 98%;
	float: left;
	line-height: 3vw;
	height: 3vw;
	padding-left: 0.8vw;
	color: #333;
	margin: 0;
	font-size: 0.9vw;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: calc(0.5vw - 1px);
	font-family: serif !important;
}
.info_mine input.bottom{
	color: #EA331B;
	font-size: 0.8rem;
}
.fanLi input{
	line-height: 30px;
	border: 1px solid #333;
	margin-top: 5px;
	width: 100px;
}
.info_mine input[type=checkbox]{
	width:20px;
	height:20px;
	margin-top:10px;
}
.info_mine #no-first{
	width: 100%;
	padding-left: 0;
}
.info_mine #first{
	width: 100%;
	padding-left: 0;
}
.leftDiv{
	width: 120px;
	height: 120px;
	border-radius: 100%;
	overflow: hidden;
	margin-top: 4px;
	margin-left: calc(50% - 60px);
}
.info_mine div select{
	margin: 0.2vw 0.8vw;
	border: 1px solid #ccc!important;
	width: auto;
	height: 1.7vw;
	color: #333;
	border-radius: 0.2vw;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0 3vw 0 0.8vw;
	font-size: 0.9vw;
}
.info_mine div button{
	width: auto;
	position: absolute;
	left: 50%;
	top: 0.2vw;
	height: 4.7vw;
	border-radius: 1.7vw;
	padding: 0 1vw;
	border: 0.15rem solid #009944;
	color: #009944;
	font-size: 1em;
	background: none;
}
.save_btn_libor{
	border: 0 !important;
}
.save_btn{
	width: 10vw;
	height: 2.6vw;
	background: none;
	border: 0.15vw solid #009944;
	border-radius: 2.6vw;
	line-height: 2.6vw;
	margin-top: 3vw!important;
	color: #009944;
}
.save_btn_left{
	margin-top: 6px!important;
	width: 70px;
	margin-left: calc(50% - 35px)!important;
}
.header_operat li{
	line-height: 6.6vw;
}
.info_mine ul li.lileft{
	height: 400px!important;
	position: relative;
	border: 0;
}
.info_mine ul li.lileft img{
	width: 120px;
	height: 120px;
}
.info_mine ul.ulbottom{
	width: 100%;
}
.layui-chage{
	background-color: rgba(0,0,0,0)!important;
	box-shadow: none!important;
	left: 240px!important;
	top: 270px!important;
	z-index: 999!important;
}
.layui-layer-shade{
	z-index: 99!important;
}
.hasborder{
	background: #009944;
	color: #fff;
}

.popDiv ul,.popDiv li{
	list-style: none;
	margin: 0;
	text-align: center;
	padding: 0;
}
*{
	box-sizing: border-box;
}
.popDiv .fdiv{
	width: 100%;
	height: auto;
}
.popDiv img{
	width: 24px;
	height: 24px;
	position: absolute;
	left: -6px;
	top: 15px;
}
.popDiv ul{
	float: left;
	width: calc(100% - 10px);
	background: #fff;
	border-radius: 5px;
	margin-left: 10px;
}
.popDiv li{
	width: 100%;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #ccc;
	color: #009944;
	position: relative;
}
.popDiv li input{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 99;
}


.info_mine div p.bottom{
	width: 100%;
}
.disNone{
	display: none !important;
}

@media (max-width: 500px){
	.content {
		padding: 50px 5% 0 5%;
	}
	.info_mine h4 {
		line-height: 40px;
		height: 40px;
		color: #333;
		border-bottom: 1px solid #ccc;
		padding-left: 6px;
		font-size: 16px;
		margin-bottom: 4px!important;
	}
	.info_mine h3 {
		line-height: 26px;
		height: 26px;
		font-size: 10px;
	}
	.h3_div{
		height: auto !important;
	}
	.info_mine ul li {
		height: 36px;
	}
	.info_mine p {
		width: 110px;
		line-height: 36px;
		font-size: 10px;
	}
	.info_mine div {
		width: calc(100% - 116px);
		padding-left: 10px;
	}
	.info_mine div p {
		width: 10px;
	}
	.info_mine input {
		line-height: 28px;
		height: 28px;
		font-size: 12px;
		margin-top: 3px;
	}
	.info_mine ul li.libor {
		height: 50px;
	}
	.save_btn {
		width: calc(50% - 15px);
		height: 28px;
		background: none;
		border: 0.15vw solid #009944;
		border-radius: 28px;
		line-height: 28px;
		margin-left: 10px;
		margin-top: 10px!important;
		color: #009944;
	}
	.save_btn_libor {
		margin-left: 10px!important;
		border: 0 !important;
	}

	element.style {
	}
	.div_header {
		position: relative;
	}
	header {
		height: 44px;
	}
	.header_logo {
		height: 20px;
		width: 100px;
		margin-top: 10px;
		margin-left: 15px;
	}
	.header_operat li {
		width: 24px;
		height: 100%;
		float: left;
		margin: 0;
		text-align: center;
	}
	.header_operat li img {
		height: 24px;
		width: 24px;
		margin-top: 8px;
	}

	element.style {
		overflow: hidden;
	}
	.hasHeight {
		display: block!important;
	}
	.topMessage {
		height: 20px;
		line-height: 20px;
		font-size: 14px;
	}
}
.modify {
	font-size: 16px;
	margin-bottom: 1vw;
	color: #009944;
	text-decoration: underline;
	position: relative !important;
	border: 0px !important;
	left: 0% !important;
}
.modifyPsw {
	text-align: center;
	width: 100% !important;
	padding-left: 0vw !important;
}
.layui-layer-dialog {
	 max-width: 80% !important;
 }
p.bottom {
	line-height: 2vw;
	margin-top: 1vw;
}
@media screen and (max-width: 500px) {
	p.bottom {
		line-height: 5vw !important;
	}
}