* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    height: auto;
    width: auto;
    margin: 0;
}

html, body, #rrapp {
    height: 100% !important;
}

#rrapp {
    background-color: #8CC134;
    background-image: linear-gradient(#8CC134, #8CC134, #8CC134, #638E1D);
    background-image: -webkit-linear-gradient(#8CC134, #8CC134, #8CC134, #638E1D);
    background-image: -moz-linear-gradient(#8CC134, #8CC134, #8CC134, #638E1D);
    background-image: -o-linear-gradient(#8CC134, #8CC134, #8CC134, #638E1D);
}

.content {
    /*padding-top: calc(18.7% - 6rem);*/
    padding: 0;
}

.header_logo1 {
    float: left;
    width: 9vw;
    height: 100%;
    min-width: 80px;
    overflow: hidden;
    /*background: url(../../img/logo.png) no-repeat center/100%;*/
}

.login_info {
    width: 55.7%;
    height: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.secTitle {
    width: 100%;
    line-height: 40px;
    color: #777;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}

.login_info .div_img {
    text-align: center;
}

.login_info .id_div,
.login_info .pwd_div {
    width: 100%;
    height: 3.5%;
    margin-top: 9%;
}

.login_info .id_div {
    margin-top: 13%;
}

.login_info input {
    width: 100%;
    height: 100%;
    line-height: calc(99px / 3);
    border: 0;
    font-size: 24px;
    margin: 0;
    border-bottom: 1px solid white;
    background: unset;
    color: white;
    border-radius: 0;
}
.login_btn_lo{
    height: 6.4%;
    margin-top: 27.2%;
}
.login_info button {
    width: 100%;
    height: 100%;
    line-height: 36px;
    background: white;
    text-align: center;
    border-radius: 100px;
    border: 0;
    color: black;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 3px;
}

.login_info button:enabled:active {
    background: #f5f5f5;
    color: #054420;
    border: 2px solid #054420;
}

.loginFooter {
    margin-top: 8%;
    color: white;
    font-size: 15px;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

select {
    float: left;
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #999;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.errorMsg {
    text-align: center;
    font-size: 25px;
    color: red;
    width: 100%;
    height: 2rem;
    margin-top: calc(42% - 8rem);
    margin-bottom: 6rem;
}
@media screen and (orientation: landscape) {
    .errorMsg {
        margin-top: 0;
    }
    .login_btn_lo{
        margin-top: 18%;
    }
    .id_div,.pwd_div{
        height: 4.5% !important;
    }
}
@media screen and (min-device-width: 534px) and (orientation: landscape) {
    .div_img>img{
        width: 20% !important;
    }
    .errorMsg{
        margin-bottom: 3rem;
    }
    .login_btn_lo{
        margin-top: 10% !important;
    }
    .id_div,pwd_div{
        height: 5.5% !important;
    }
}

select {
    width: 100%;
    font-size: 20px;
    line-height: 20px;
}

.secTitle {
    line-height: 30px;
    margin-bottom: 0;
}

select {
    width: 100%;
    font-size: 20px;
    line-height: 20px;
}

.secTitle {
    line-height: 30px;
    margin-bottom: 0;
    font-size: 10px;
}

header {
    height: 40px;
}
input:-moz-placeholder{
    color: #FFF;
    font-size: 24px;
}
input:-ms-input-placeholder{
    color: #FFF;
    font-size: 24px;
}
input::-webkit-input-placeholder {
    color: #FFF;
    font-size: 24px;
}


/* Huawei Tablet 534 * 768と互換性があります */
@media only screen and (min-device-width : 534px) and (max-device-width : 768px){
    input::placeholder {
        font-size: 18px;
        color: rgba(255,255,255,0.7);
    }
    .login_info .id_div{
        margin-top: 50px;
    }
    .errorMsg{
        margin-bottom: 8rem;
        font-size: 18px;
    }
    .login_btn_lo{
        margin-top: 90px;
    }
    .login_info button{
        font-size: 16px;
        height: 50px;
    }
    .loginFooter{
        font-size: 12px;
        font-weight: normal;
        margin-top: 25px;
    }
    .login_info .div_img img{
        width:85px!important;
        height: 85px;
    }
}
/* ipadタブレット768 * 1024と互換性があります */
@media only screen and (min-device-width: 768px) {
    input::placeholder {
        font-size: 23px;
    }
    .login_info .id_div{
        margin-top: 13%;
    }
    .errorMsg{
        font-size: 25px;
        margin-bottom: 6rem;
    }
    .login_btn_lo{
        margin-top: 27.2%;
    }
    .login_info button{
        font-size: 22px;
        height: 100%;
    }
    .loginFooter{
        margin-top: 8%;
        font-size: 16px;
        font-weight: bold;
    }
    .login_info .div_img img{
        width: 28%!important;
        height: unset;
    }
}