.all{
    width: 100%;
    height: auto;
    padding: 0 5%;
}
.header{
    width: 100%;
    text-align: left;
    font-size: 3vw;
    font-weight: 300;
    height: 6vh;
    line-height: 10vh;
    color: black;
}
.content{
    float: left;
    display: inline-block;
    width: 40%;
    height: 78vh;
    padding: 0;
    overflow-y: hidden;
    margin-top: 5vh;
}
.content form{
    overflow-y: auto;
    height: 56vh;
    border: 1px grey solid;
    border-top: 0px;
}
.content div p{
    width: 30%;
    height: 8vh;
    text-align: left;
    font-size: 3vw;
    line-height: 4vw;
    display: inline-block;
}
span.title{
    width: 100%;
    height: 9vh;
    text-align: center;
    font-size: 2vw;
    line-height: 9vh;
    background-color: rgb(230,230,230);
    display: inline-block;
    border: 1px grey solid;
}
span.cont{
    display: inline-block;
    width: 82%;
    height: 8vh;
    line-height: 8vh;
    float: right;
    font-size: 2vw;
}
.content div input{
    height: 8vh;
    color: #2e2e2e;
    font-size: 2vw;
    line-height: 8vh;
    margin-left: 0.1vw;
}

.item_div input[type="checkbox"]{
    -webkit-appearance: none;
    vertical-align: middle;
    margin-top: -2vh;
    background: #fff;
    border: #999 solid 1px;
    border-radius: 3px;
    width: 2vw;
    height: 5vh;
    margin-left: 3vw;
}
.item_div input[type="checkbox"]:checked::after {
    content: '\2714';
    display: inline-block;
    width: 2vw;
    height: 5vh;
    text-align: center;
    float: left;
    line-height: 5.2vh;
}

.content div{
    line-height: 8vh;
    width: auto;
    height: 9vh;
    margin-top: 2vh;
}

div.head{
    width: 36vw;
}

.theme_btn{
    width: 100%;
    height: 14vh;
    line-height: 14vh;
    padding-left: 10%;
    position: fixed;
    bottom: 0;
    right: 0;
}
.theme_btn button{
    width: 10vw;
    height: 10vh;
    font-size: 1.8vw;
    float: right;
    margin-right: 1vw;
    line-height: 10vh;
    background: #00a65a;
    color: white;
    border: 0;
    border-bottom: 3px grey solid;
    border-radius: 4px;
}
.theme_btn button.left{
    border: 0;
    color: #EA331B;
}
div.symbol {
    float: left;
    display: inline-block;
    width: 9%;
    height: 60vh;
    text-align: center;
    padding-right: 0.7vw;
    position: relative;
    top: 23vh;
}

div.symbol button {
    display: inline-block;
    width: 5vw;
    height: 11vh;
    line-height: 11vh;
    background-color: rgb(247, 247, 247);
    border: 2px #ccc solid;
    padding: 0;
    color: #aaa;
    font-size: 4vw;
    margin-left: 1vw;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
}

div.symbol div {
    height: auto;
    line-height: 0vh;
    margin-top: 3vh;
    overflow: hidden;
}

#close_btn{
    position: absolute;
    display: inline-block;
    right: 1.5vw !important;
    top: 2vh !important;
    border: 1px black solid;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 17px;
    font-weight: bolder;
    cursor: default;
}

#close_btn:hover{
    background-color: #ccc;
}

#up span,#up_all span,#down span,#down_all span {
    display: inline-block;
    transform: rotate(-90deg);
}

#left span,#left_all span,#right span,#right_all span {
    height: 8vh;
    display: inline-block;
}

.item_div {
    border-bottom: 1px grey solid;
    height: 10vh !important;
    line-height: 10vh !important;
    margin-top: 3vh !important;
}