*{
	box-sizing: border-box;
}
html,body{
	margin: 0;
	padding: 0;
}
.theme_selec{
	width:240px;
	height:100%;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	text-align: center;
	background:#fff;
}
.theme_selec h2{
	height:auto;
	line-height:20px;
	font-size:14px;
	color:#333;
	margin:0;
	padding:10px;
	font-weight: 500;
	border-bottom: 1px solid #ccc;
}
.theme_selec ul{
	padding:0 20px;
}
.theme_selec ul li{
	width:100%;
	line-height:30px;
	background:#999;
	color:#fff;
	margin-top:10px;
}
.theme_selec ul li img{
	width:100%;
}
.toph{
	width: 100%;
	height: 50px;
	line-height: 30px;
	padding:10px;
	margin: auto;
}
.toph img{
	height: 30px;
	float: left;
	margin-left: calc(50% - 16vw);
}
.theme_selec h1{
	color:#333;
	float: left;
	font-size:18px;
	font-weight: 500;
	margin: 0;
	margin-left: 6px;
}
.showcontent{
	width: calc(100% - 40px);
	margin-left: 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 50px;
	line-height: 30px;
	padding: 10px;
}
.showcontent p{
	float: right;
	color: #333;
	font-size: 14px;
	margin: 0;
}
.showcontent p.showleft{
	font-size: 10px;
	color: #999;
	float: left;
}
.theme_btn{
	bottom:4px;
	position: absolute;
	width: 100%;
	margin-bottom: -1px;
	height: 50px;
	padding: 10px;
}
.theme_btn button{
	width:47%;
	float:left;
	border: 0;
	border:1px solid #00b050;
	color:#00b050;
	border-radius:30px;
	background: none;
	height: 30px;
	line-height: 30px;
}
#demo_select{
	width:36%;
	height:140px;
	border:1px solid #00b050!important;
	margin:0 auto;
	float:left;
}
.mbsc-mobiscroll{
	width:100%;
	float:left;
	margin:0 auto;
}
.dwwr{
	/*min-width:100%!important;*/
	/*height:140px;*/
	margin:0 auto;
	float:left;
}
.check_time p{
	color:#00b050;
	width:calc(64% / 2);
	float:left;
	margin-top:50px;
}
#demo_select_dummy{
	display:none;
}
.dw-inline .dw{
	width: 100%!important;
}
.dwwr{
	width: 100%!important;
}
.dwcc{
	width: 100%!important;
}
.mbsc-mobiscroll .dwc{
	padding: 0!important;
	width: 100% !important;
}
.dwwc{
	width: 100%!important;
}
.mbsc-mobiscroll .dwfl{
	padding: 0!important;
	width: 100% !important;
}
.mbsc-mobiscroll .dwwol{
	border-top: 1px solid #ccc!important;
	border-bottom: 1px solid #ccc!important;
}

.mbsc-mobiscroll .dwwr{
	min-width: 15em;
}