* {
    box-sizing: border-box;
    outline: none;
    font-family: "Hiragino Kaku Gothic Pro" !important;
}

html {
    font-size: 62.5% !important;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

body {
    height: 100%;
    width: 100%;
}

.topSessionTitle {
    height: 2.2vw;
    margin-top: -0.5vw;
    width: 100%;
    border-bottom: 1px solid #000;
}

.topSessionTitle div {
    width: auto;
    height: 100%;
    line-height: 2.2vw;
    font-size: 0.9vw;
    color: #000;
    float: left;
    padding-right: 1vw;
    margin-left: 0.4vw;
}

.popTitle {
    font-weight: bold;
    width: 100%;
    height: 3.6vw;
    line-height: 3.6vw;
    font-size: 1.5vw;
    text-align: center;
}

.main {
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

.header_operat {
    width: auto;
}

.content {
    padding: 0;
}

.end_btn {
    width: 28%;
    border-radius: 4px;
    background: #009944;
    border: 2px solid #009944;
    color: white;
    /*margin-left: 3%;*/
    /*margin-right: 3%;*/
    font-size: 1.5vw;
    border-bottom: 3px rgba(0, 0, 0, .2) solid;
}

.button_div {
    width: 100%;
    /*text-align: center;*/
}

.button_div div:first-child {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 6vw;
}

.button_div div:nth-child(2) {
    width: 50%;
    float: left;
    text-align: left;
    padding-left: 6vw;
}

select {
    width: 100%;
    height: 100%;
}

.select_div .name {
    float: left;
    margin-left: 4.6vw;
    margin-top: 0.3vw;
}

.select_div ._id {
    float: left;
    margin-left: 4.6vw;
    margin-top: 0.3vw;
}

#name, #_id {
    float: left;
    margin-left: 0.4vw;
    width: 15vw;
    border: 1px solid #d2d2d2;
}

.searchBtn button {
    width: 100%;
    border-radius: 4px;
    background: #009944;
    border: 2px solid #009944;
    color: white;
    margin-left: 7.6vw;
    font-size: 1.5vw;
    border-bottom: 3px rgba(0, 0, 0, .2) solid;
}

.span_title {
    width: 100%;
    height: 6vh;
    text-align: center;
    font-size: 2vw;
    line-height: 6vh;
    background-color: rgb(230, 230, 230);
    display: inline-block;
    border: 1px grey solid;
}

.box select {
    background: none;
}

#select1, #select2 {
    border-color: grey !important;
    background: white;
    overflow: auto;
}

.box1 {
    width: 41%;
    height: 100%;
    float: left;
}

div.symbol {

    float: left;
    display: inline-block;
    width: 9%;
    height: 29vh;
    text-align: center;
    padding-right: 0.7vw;
    position: relative;
    top: -1vh;
}

div.symbol button {
    display: inline-block;
    width: 5vw;
    height: 6vh;
    line-height: 6vh;
    background-color: rgb(247, 247, 247);
    border: 1px grey solid;
    padding: 0;
    color: grey;
    font-size: 5vw;
    margin-left: 1vw;
    border-radius: 13px;
    overflow: hidden;
}

div.symbol div {
    height: auto;
    line-height: 0vh;
    margin-top: 1vh;
}

#toleft {
    background: url(../../img/left_button.png) no-repeat center/100%;
}

#allToLeft {
    background: url(../../img/left_all_button.png) no-repeat center/100%;
}

#toright {
    background: url(../../img/right_button.png) no-repeat center/100%;
}

#allToRight {
    background: url(../../img/right_all_button.png) no-repeat center/100%;
}

.box2 button {
    height: 18.5%;
    width: 50%;
    border-radius: 0.3vw;
    background: none;
    border: 2px solid #009944;
    color: #009944;
    font-weight: bolder;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 0.9vw;
    /*margin-bottom: 1vh;*/
}

img {
    width: 54%;
    height: 51%;
    display: block;
    margin: auto;
    padding: 20%;
    margin-left: 1.8vw !important;
}

#chk_area > input[type="checkbox"]:checked::before {
    content: "✔";
    font-size: 1em;
    vertical-align: super;
    padding-left: 0.5vw;
}

#chk_area {
    width: 2vw;
    height: 4.8vh;
    float: left;
    margin-left: 4vw;
}

@media screen and (min-width:600px) and (max-width:700px){
    #selectAll {
        -webkit-appearance: none;
        width: 4vh;
        height: 4vh;
        border: 1px solid black;
    }
}

@media screen and (min-width: 700px) and (max-width: 1050px) {
    #selectAll {
        -webkit-appearance: none;
        width: 3.3vh;
        height: 3.3vh;
        border: 1px solid black;
    }
}

.ui-jqgrid-hbox {
    padding: unset !important;
    width: 100%;
}

#gbox_jqGrid, #gbox_jqGrid2 {
    width: 100% !important;
    height: 99%;
    border-left: unset;
    border-right: unset;
    border-bottom: unset;
}

#gview_jqGrid, #gview_jqGrid2 {
    width: 100% !important;
    height: 100%;
}

.ui-corner-top {
    border-radius: unset !important;
}

.ui-jqgrid-hdiv.ui-state-default.ui-corner-top {
    width: 100% !important;
}

.ui-jqgrid-bdiv {
    width: 100% !important;
    height: calc(100% - 6vh) !important;
    /*overflow-y: auto !important;*/
}

.ui-jqgrid-bdiv::-webkit-scrollbar {
    display: none;
}

.ui-widget-content {
    border: 0px solid #dddddd;
}

.ui-jqgrid-bdiv {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

/*#jqGridPager {*/
    /*width: 100% !important;*/
/*}*/

.ui-jqgrid-htable.ui-common-table {
    width: 100% !important;
}

/*.ui-jqgrid-htable.ui-common-table th:nth-child(1) {*/
    /*width: 10% !important;*/
/*}*/

/*.ui-jqgrid-htable.ui-common-table th:nth-child(2) {*/
    /*width: 30% !important;*/
/*}*/
/*.ui-jqgrid-htable.ui-common-table th:nth-child(3) {*/
    /*width: 30% !important;*/
/*}*/
/*.ui-jqgrid-htable.ui-common-table th:nth-child(4) {*/
    /*width: 30% !important;*/
/*}*/

.ui-jqgrid .ui-jqgrid-htable {
    border-collapse: collapse !important;
}

.ui-jqgrid-labels:last-child {
    /*border-right: 1px solid #ccc !important;*/
    border-left: 2px solid #ccc !important
}

#jqGrid, #jqGrid2 {
    width: 100% !important;
    border-collapse: collapse !important;
    /*border-right: 1px solid #ccc;*/
    border-bottom: 1px solid #ccc;
}

.ui-corner-all {
    border-radius: unset !important;
}

/*table#jqGrid > tbody > tr > td:nth-child(1) {*/
    /*width: 10% !important;*/
/*}*/

/*table#jqGrid > tbody > tr > td:nth-child(2) {*/
    /*width: 30% !important;*/
/*}*/
/*table#jqGrid > tbody > tr > td:nth-child(3) {*/
    /*width: 30% !important;*/
/*}*/
/*table#jqGrid > tbody > tr > td:nth-child(4) {*/
    /*width: 30% !important;*/
/*}*/

table#jqGrid > tbody > tr > td{
    white-space: nowrap;
    text-overflow: ellipsis;
}

table#jqGrid2 > tbody > tr > td{
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: unset !important;
    border-color: #ccc !important;
    color: unset !important;
}

#jqgh_jqGrid_cb > input {
    margin-right: 4px;
}

#jqgh_jqGrid2_cb > input {
    margin-right: 4px;
}

/*.ui-jqgrid .ui-jqgrid-btable {*/
    /*table-layout: unset !important;*/
/*}*/

/*#jqGridPager_right, #jqGridPager_left {*/
    /*display: none !important;*/
/*}*/

/*#jqGridPager_center {*/
    /*margin: unset !important;*/
    /*padding: unset !important;*/
    /*width: 100% !important;*/
/*}*/

#jqGrid tr {
    pointer-events: unset !important;
}

#jqGrid2 tr {
    pointer-events: unset !important;
}
.midTitile{
    border: 0px;
    background: transparent;
    /* float: left; */
    width: 80%;
    margin-bottom: 2vw;
    font-size: 1.2vw;
    font-weight: bolder;
    margin-left: 8.5vw;
}