.all {
    width: 100%;
    height: auto;
    padding: 0 5%;
}

.header {
    width: 100%;
    text-align: left;
    font-size: 3vw;
    font-weight: 300;
    height: 6vh;
    line-height: 10vh;
    /* opacity: 2.7; */
    color: black;
}

.content {
    float: left;
    display: inline-block;
    width: 40%;
    height: 78vh;
    padding: 0;
    overflow-y: hidden;
}

.content form {
    overflow-y: auto;
    height: 56vh;
    border: 1px grey solid;
    border-top: 0px;
}

.content div p {
    width: 30%;
    height: 8vh;
    text-align: left;
    font-size: 3vw;
    line-height: 4vw;
    display: inline-block;
}

span.title {
    width: 100%;
    height: 9vh;
    text-align: center;
    font-size: 2vw;
    line-height: 9vh;
    background-color: rgb(230, 230, 230);
    display: inline-block;
    border: 1px grey solid;
}

span.cont {
    display: inline-block;
    width: 82%;
    height: 8vh;
    line-height: 8vh;
    float: right;
    font-size: 2vw;
}

.content div input {
    /* width: 35.6% !important; */
    height: 8vh;
    color: #2e2e2e;
    font-size: 2vw;
    line-height: 8vh;
    margin-left: 0.1vw;
}

/*.content div input[type="checkbox"]{*/

/*width: 9% !important;*/
/*background-color: transparent;*/
/*margin-left: 2vw;*/
/*}*/

.item_div input[type="checkbox"] {
    -webkit-appearance: none;
    vertical-align: middle;
    margin-top: -2vh;
    background: #fff;
    border: #999 solid 1px;
    border-radius: 3px;
    /* min-height: 4vh; */
    /* min-width: 2vw; */
    width: 2vw;
    height: 5vh;
    margin-left: 3vw;
}

.item_div input[type="checkbox"]:checked::after {
    content: '\2714';
    position: relative;
    top: -1.1vh;
    left: 0.2vw;
}

.content div {
    line-height: 8vh;
    width: auto;
    height: 9vh;
    margin-top: 2vh;
}

div.head {
    width: 36vw;
}

.theme_btn {
    width: 100%;
    height: 12vh;
    line-height: 12vh;
    padding-left: 10%;
    position: fixed;
    bottom: 0;
    right: 0;
}

.theme_btn button {
    border-radius: 5px;
    width: 10vw;
    text-align: center;
    height: 28px;
    background: #00a65a;
    color: whitesmoke;
    cursor: pointer;
    line-height: 28px;
    border: 0;
    border-bottom: 3px rgba(0, 0, 0, .2) solid;
    float: right;
    margin: 0 4vw 1vw 0;
    position: relative;
    bottom: 1vh;
}

.theme_btn button.left {
    border: 0;
    color: #EA331B;
}

div.symbol {
    float: left;
    display: inline-block;
    width: 9%;
    height: 60vh;
    text-align: center;
    padding-right: 0.7vw;
    position: relative;
    top: 23vh;
}

div.symbol button {
    display: inline-block;
    width: 5vw;
    height: 8vh;
    line-height: 8vh;
    background-color: rgb(247, 247, 247);
    border: 1px grey solid;
    padding: 0;
    color: grey;
    font-size: 5vw;
    margin-left: 1vw;
    border-radius: 10%;
}

div.symbol > div > div {
    height: auto;
    line-height: 0vh;
    margin-top: 5vh;
    overflow: hidden;
}

#close_btn {
    position: absolute;
    display: inline-block;
    right: 1.5vw !important;
    top: 2vh !important;
    border: 1px black solid;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 17px;
    font-weight: bolder;
    cursor: default;
}

#close_btn:hover {
    background-color: #ccc;
}

#up span, #up_all span, #down span, #down_all span {
    display: inline-block;
    transform: rotate(-90deg);
}

#left span, #left_all span, #right span, #right_all span {
    height: 8vh;
    display: inline-block;
}

.item_div {
    border-bottom: 1px grey solid;
    height: 10vh !important;
    line-height: 10vh !important;
    margin-top: 3vh !important;
}