.content {
    position: fixed;
    width: 100%;
    overflow: auto;
    padding: 4px;
    padding-bottom: 0;
    padding-top: 84px;
    height: calc(100% - 48px);
}
.content_Title{
    height: 40px;
    background: rgb(140, 193, 31);
    line-height: 40px;
    color: white;
    text-align: center;
    font-size: 18px;
    position: fixed;
    top: 44px;
    width: 100%;
    font-weight: bold;
}
.oneTitle{
    width: calc(100% - ((42px / 3) * 2));
    margin: calc(52px / 3) calc(42px / 3) 0 calc(42px / 3);
    height: calc(88px / 3);
}
.oneTitle ul{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.oneTitle li{
    width: 50%;
    height: 100%;
    float: left;
    color: #009944;
    background: none;
    font-size: calc(42px / 3);
    text-align: center;
}
.oneTitle li.active{
    color: #CCCCCC;
    border-bottom: 4px solid #BABABA;
    font-weight: bold;
}
.oneTitle li.active1{
    font-weight: bold;
    color: black;
    border-bottom: 4px solid #8CC134;
}
ul.tab {
    width: 100%;
    height: 20vw;
    overflow: hidden;
    border: 2px solid #fff;
    position: fixed;
    background: #fff;
}

ul.tab li.liactive {
    background: #00b7ee;
    color: #fff;
}

ul.tab li {
    width: 100%;
    height: 50%;
    color: #009944;
    background: none;
    font-size: 3vw;
    line-height: 10vw;
    float: left;
    text-align: left;
    padding-left: 2vw;
}
.pubtime{
    text-align: right;
    font-size: 12px;
    margin-top: 4px !important;
    /* line-height: 15vw; */
    width: 22% !important;
    font-weight: bold;
    height: 5vw !important;
}

.topNews > div {
    width: 50%;
    float: left;
    font-size: 3.5vw;
    font-weight: bold;
}

.oneCont {
    width: 100%;
    height: auto;
    padding-top: 3px;
    overflow: auto;
}
.oneCont li{
    width: 100%;
    height: calc(250px / 3);
    border-bottom: 1px solid white;
}
.oneCont .img {
    /*width: 50px;*/
    /*height: 50px;*/
    /*float: left;*/
    /*border-radius: 50%;*/
    /*overflow: hidden;*/
    /*margin-top: 17.5px;*/
    /*text-align: center;*/
    /*border: 1px solid #e6e6e6;*/
    width: 42px;
    height: 42px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    margin-top: calc(55px / 3);
    text-align: center;
    border: 1px solid #e2e2e280;
    margin-left: calc(42px / 3);
}

.oneCont .cont {
    width: calc(100% - 50px - (42px / 3));
    float: left;
    padding-left: 1vw;
    /*font-weight: bold;*/
    color: #333;
    overflow: hidden;
    padding: 0 1vw;
    height: 100%;
}

.oneCont .cont div {
    width: 100%;
    float: left;
}
.go_right{
    width: 10% !important;
    text-align: right;
    float: right !important;
}
.go_right img{
    width: 10px;
    /*margin-top: 23px;*/
}
.textArea {
    font-size: calc(42px / 3);
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    width: 75% !important;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: grey;
}
#content {
    width: 100%;
    height: calc(100% - 51px);
    overflow: auto;
    padding-bottom: 1vw;
}

.pageChange {
    width: 100%;
    height: 11vw;
    padding: 1vw;
}

.pageChange div {
    width: 50%;
    text-align: center;
    float: left;
    height: 10vw;
    line-height: 10vw;
    border: 1px solid #009944;
    color: #009944;
}

#prev {
    border-radius: 1vw 0 0 1vw;
}

#next {
    border-radius: 0 1vw 1vw 0;
}

#pageFoot {
    width: 100%;
    text-align: center;
    font-size: 3vw;
    color: #999;
}

.gray {
    color: #999 !important;
    border-color: #999 !important;
}

.count {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: red;
    color: #fff;
    font-size: 10px;
    /*top: 57px;*/
    left: 10px;
    line-height: 18px;
    display: none;
}
.count1 {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: red;
    color: #fff;
    font-size: 10px;
    /* top: 57px; */
    left: 10px;
    line-height: 18px;
    display: none;
}

.important{
    /*modify at 2021/08/10 for V9.02 by NWT LiGX START*/
    background-color: #FF38A5;
    /*modify at 2021/08/10 for V9.02 by NWT LiGX END*/
    border-radius: 2.5vw;
    width: 20%!important;
    height: 5vw!important;
    float: right!important;
    color: white;
    text-align: center;
    font-size: 3.2vw;
    line-height: 5vw!important;
    display: none;
    margin-top: 3px;
}

.corrspdSts {
    background-color: #8CC134;
    border-radius: 2.5vw;
    width: 20%!important;
    height: 5vw!important;
    float: right!important;
    color: white;
    text-align: center;
    font-size: 3.2vw;
    line-height: 5vw!important;
    display: none;
    margin-top: 3px;
}

.title{
    font-size: 3.6vw;
    width: 80%!important;
}

.cont .top {
    width: 100%;
    height: 56px;
    font-size: 17px;
    line-height: 28px;
    color: #444;
    margin-top: 10px;
    overflow: hidden;
    font-weight: bold;
}

.cont .bottom {
    width: 100%;
    height: 34px;
    line-height: 17px;
    font-size: 12px;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.insert {
    width: 45% !important;
    height: 100% !important;
    float: left;
    color: #009944;
    background: none;
    font-size: 13px;
    text-align: center;
    border: 2px solid #009944;
    vertical-align: middle;
    margin-left: 30%;
    margin-top: 4%;
    border-radius: 8px;
}

/* Huawei Tablet 534 * 768と互換性があります */
@media only screen and (min-device-width : 534px) and (max-device-width : 768px){
    .content {
        width: 100%;
        height: auto;
        padding-top: 44px;
    }

    .content {
        position: fixed;
        width: 100%;
        overflow: auto;
        padding: 0;
        margin-top: 84px;
        height: calc(100% - 130px);
    }

    .oneTitle {
        width: 100%;
        margin: 0;
        margin-top: .15rem;
        height: 3.8rem;
    }

    .oneTitle ul {
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .oneTitle li {
        line-height: 6;
        width: 50%;
        height: 100%;
        float: left;
        color: #009944;
        background: none;
        font-size: .85rem;
        text-align: center;
    }

    .oneTitle li.active {
        color: #CCCCCC;
        border-bottom: 4px solid #CCCCCC;
        font-weight: bold;
        padding: unset!important;
    }

    .oneTitle li.active1 {
        font-weight: bold;
        color: black;
        border-bottom: 4px solid #8CC134;
        padding-left: 22px;
    }

    ul.tab {
        width: 100%;
        height: 20vw;
        overflow: hidden;
        border: 2px solid #fff;
        position: fixed;
        background: #fff;
    }

    ul.tab li.liactive {
        background: #00b7ee;
        color: #fff;
    }

    ul.tab li {
        width: 100%;
        height: 50%;
        color: #009944;
        background: none;
        font-size: 3vw;
        line-height: 10vw;
        float: left;
        text-align: left;
        padding-left: 2vw;
    }

    .pubtime {
        text-align: right;
        font-size: .9rem;
        margin-top: .3rem !important;
        /* line-height: 15vw; */
        width: 25% !important;
        font-weight: bold;
        height: auto !important;
    }

    .topNews > div {
        width: 50%;
        float: left;
        font-size: 3.5vw;
        font-weight: bold;
    }

    .oneCont {
        width: 100%;
        height: auto;
        overflow: auto;
        padding-top: 0;
    }

    .oneCont li {
        width: 100%;
        height: 5.1rem;
        border-bottom: 1px solid white;
        padding: 0 2rem;
    }

    .oneCont .img {
        width: 2.5rem;
        height: 2.5rem;
        float: left;
        border-radius: 50%;
        overflow: hidden;
        margin-top: .7rem;
        text-align: center;
        border: 1px solid #e2e2e280;
        margin-left: 0;
    }

    .oneCont .img > img {
        height: 2.5rem !important;
        width: 2.5rem !important;
        object-fit: cover;
    }

    .oneCont .cont {
        width: calc(100% - 2.5rem);
        float: left;
        /*font-weight: bold;*/
        color: #333;
        overflow: hidden;
        padding: 0;
        height: 100%;
    }

    .oneCont .cont div {
        /*height: 40%;*/
        width: 100%;
        float: left;
    }

    .go_right {
        width: 10% !important;
        text-align: right;
        float: right !important;
    }

    .go_right img {
        width: 9px;
    }

    .textArea {
        padding-left: 1.3rem;
        padding-top: 0.2rem;
        height: 3.3rem !important;
        font-size: 1rem;
        overflow: hidden;
        word-break: break-all;
        text-overflow: ellipsis;
        width: 75% !important;
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: grey;
        line-height: 1.65rem;
    }

    #content {
        width: 100%;
        height: calc(100% - 5.25rem);
        overflow: auto;
        padding-bottom: 0;
        margin-top: 1.3rem;
    }

    .pageChange {
        width: 95%;
        height: 4rem;
        padding: 0;
        margin: 0 auto;
    }

    .pageChange div {
        width: 46%;
        height: 5vh;
        float: left;
        color: #8CC11F;
        background: none;
        font-size: 1rem;
        text-align: center;
        border: 2px solid #8CC11F;
        vertical-align: middle;
        border-radius: 8px!important;
        margin: 0 2%;
        line-height: 4.5vh;
    }

    #prev {
        border-radius: 1vw 0 0 1vw;
    }

    #next {
        border-radius: 0 1vw 1vw 0;
    }

    #pageFoot {
        margin-top: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
        font-size: 4vw;
        color: #999;
    }

    .gray {
        color: #999 !important;
        border-color: #999 !important;
    }

    .count {
        position: absolute;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        background: red;
        color: white;
        font-size: .7rem;
        left: 45%;
        top: 1.8rem;
        line-height: 1.2rem;
        display: none;
    }

    .count1 {
        position: absolute;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        background: red;
        color: #fff;
        font-size: .7rem;
        top: 1.8rem;
        right: 45px;
        left: unset;
        line-height: 1.2rem;
        display: none;
    }

    .important {
        /*modify at 2021/08/10 for V9.02 by NWT LiGX START*/
        background-color: #FF38A5;
        /*modify at 2021/08/10 for V9.02 by NWT LiGX END*/
        border-radius: 0.7rem;
        width: 3.5rem !important;
        height: 1rem !important;
        float: right !important;
        color: white;
        text-align: center;
        font-size: .75rem;
        line-height: 1rem !important;
        display: none;
        margin-top: 0.2rem;
    }

    .corrspdSts {
        background-color: #8CC134;
        border-radius: 0.7rem;
        width: 3.5rem !important;
        height: 1rem !important;
        float: right !important;
        color: white;
        text-align: center;
        font-size: .75rem;
        line-height: 1rem !important;
        display: none;
        margin-top: 0.2rem;
    }

    .title {
        font-size: 3.6vw;
        width: 80% !important;
    }

    .cont .top {
        width: 100%;
        height: 56px;
        font-size: 17px;
        line-height: 28px;
        color: #444;
        margin-top: 10px;
        overflow: hidden;
        font-weight: bold;
    }

    .cont .bottom {
        width: 100%;
        height: 34px;
        line-height: 17px;
        font-size: 12px;
        color: #555;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .insert {
        width: 45% !important;
        height: 100% !important;
        float: left;
        color: #009944;
        background: none;
        font-size: 13px;
        text-align: center;
        border: 2px solid #009944;
        vertical-align: middle;
        margin-left: 30%;
        margin-top: 4%;
        border-radius: 8px;
    }
}
/* ipadタブレット768 * 1024と互換性があります */
@media only screen and (min-device-width : 768px) {

    .commonTabTitle {
        height: 52px;
        background: #8CC11F;
        line-height: 52px;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .content {
        position: fixed;
        width: 100%;
        overflow: auto;
        padding: 0;
        margin-top: 108px;
        height: calc(100% - 168px);
    }

    .content_Title {
        position: fixed;
        top: 56px;
    }

    .oneTitle {
        width: 100%;
        height: calc(88px / 3);
        margin: 0;
        margin-top: 1.3rem;
    }

    .oneTitle ul {
        /*margin-top: 33px;*/
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        width: 100%;
        height: 60px;
        overflow: hidden;
    }

    .oneTitle li {
        line-height: 60px;
        width: 50%;
        height: 100%;
        float: left;
        color: #009944;
        background: none;
        font-size: 1.1rem;
        text-align: center;
    }

    .oneTitle li.active {
        color: #CCCCCC;
        border-bottom: 4px solid #CCCCCC;
        font-weight: bold;
        padding: unset!important;
    }

    .oneTitle li.active1 {
        font-weight: bold;
        color: black;
        border-bottom: 4px solid #8CC134;
        padding-left: 22px;
    }

    ul.tab {
        width: 100%;
        height: 20vw;
        overflow: hidden;
        border: 2px solid #fff;
        position: fixed;
        background: #fff;
    }

    ul.tab li.liactive {
        background: #00b7ee;
        color: #fff;
    }

    ul.tab li {
        width: 100%;
        height: 50%;
        color: #009944;
        background: none;
        font-size: 3vw;
        line-height: 10vw;
        float: left;
        text-align: left;
        padding-left: 2vw;
    }

    .pubtime {
        text-align: right;
        font-size: 1.1rem;
        margin-top: 8px !important;
        /* line-height: 15vw; */
        width: 25% !important;
        font-weight: bold;
        height: auto !important;
    }

    .topNews > div {
        width: 50%;
        float: left;
        font-size: 3.5vw;
        font-weight: bold;
    }

    .oneCont {
        width: 100%;
        height: auto;
        overflow: auto;
        padding-top: 3px;
    }

    .oneCont li {
        width: 100%;
        height: 6.8rem;
        border-bottom: 1px solid white;
        padding: 0 2.5rem;
        padding-top: 0.45rem;
    }

    .oneCont .img {
        /*width: 50px;*/
        /*height: 50px;*/
        /*float: left;*/
        /*border-radius: 50%;*/
        /*overflow: hidden;*/
        /*margin-top: 17.5px;*/
        /*text-align: center;*/
        /*border: 1px solid #e6e6e6;*/
        width: 3.2rem;
        height: 3.2rem;
        float: left;
        border-radius: 50%;
        overflow: hidden;
        margin-top: .6rem;
        text-align: center;
        border: 1px solid #e2e2e280;
        margin-left: 0;
    }

    .oneCont .img > img {
        height: 3.2rem !important;
        width: 3.2rem !important;
        object-fit: cover;
    }

    .oneCont .cont {
        width: calc(100% - 3.5rem);
        float: left;
        /*font-weight: bold;*/
        color: #333;
        overflow: hidden;
        height: 100%;
    }

    .oneCont .cont div {
        /*height: 40%;*/
        width: 100%;
        float: left;
    }

    .go_right {
        width: 10% !important;
        text-align: right;
        float: right !important;
    }

    .go_right img {
        width: 10px;
        /*margin-top: 23px;*/
    }

    .textArea {
        padding-left: 2rem;
        height: 4.5rem !important;
        font-size: 1.25rem;
        overflow: hidden;
        word-break: break-all;
        text-overflow: ellipsis;
        width: 75% !important;
        white-space: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: grey;
        line-height: 2.25rem;
    }

    #content {
        width: 100%;
        height: calc(100% - 86px - 0.85rem);
        overflow: auto;
        padding-bottom: 0;
        margin-top: calc(57px - 0.45rem);
    }

    .pageChange {
        width: 95%;
        height: 5rem;
        padding: 0;
        margin: 0 auto;
    }

    .pageChange div {
        width: 46%;
        height: 5vh;
        float: left;
        color: #8CC11F;
        background: none;
        font-size: 1.3rem;
        text-align: center;
        border: 2px solid #8CC11F;
        vertical-align: middle;
        border-radius: 8px!important;
        margin: 0 2%;
        line-height: 4.5vh;
    }

    #prev {
        border-radius: 1vw 0 0 1vw;
    }

    #next {
        border-radius: 0 1vw 1vw 0;
    }

    #pageFoot {
        margin-top: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
        font-size: 4vw;
        color: #999;
    }

    .gray {
        color: #999 !important;
        border-color: #999 !important;
    }

    .count {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: red;
        color: white;
        font-size: 15px;
        left: 45%;
        top: 38px;
        line-height: 25px;
        display: none;
    }

    .count1 {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: red;
        color: #fff;
        font-size: 15px;
        top: 38px;
        right: 45px;
        line-height: 25px;
        display: none;
    }

    .important {
        /*modify at 2021/08/10 for V9.02 by NWT LiGX START*/
        background-color: #FF38A5;
        /*modify at 2021/08/10 for V9.02 by NWT LiGX END*/
        border-radius: 0.7rem;
        width: 4.5rem !important;
        height: 1.4rem !important;
        float: right !important;
        color: white;
        text-align: center;
        font-size: 1rem;
        line-height: 1.4rem !important;
        display: none;
        margin-top: 0.2rem;
    }

    .corrspdSts {
        background-color: #8CC134;
        border-radius: 0.7rem;
        width: 4.5rem !important;
        height: 1.4rem !important;
        float: right !important;
        color: white;
        text-align: center;
        font-size: 1rem;
        line-height: 1.4rem !important;
        display: none;
        margin-top: 0.2rem;
    }

    .title {
        font-size: 3.6vw;
        width: 80% !important;
    }

    .cont .top {
        width: 100%;
        height: 56px;
        font-size: 17px;
        line-height: 28px;
        color: #444;
        margin-top: 10px;
        overflow: hidden;
        font-weight: bold;
    }

    .cont .bottom {
        width: 100%;
        height: 34px;
        line-height: 17px;
        font-size: 12px;
        color: #555;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .insert {
        width: 45% !important;
        height: 100% !important;
        float: left;
        color: #009944;
        background: none;
        font-size: 13px;
        text-align: center;
        border: 2px solid #009944;
        vertical-align: middle;
        margin-left: 30%;
        margin-top: 4%;
        border-radius: 8px;
    }

    .div_header {
        height: 56px !important;
    }

    .div_bottom {
        height: 60px !important;
    }
}

