@import "common_tab.css";
.div_header {
    height: 56px;
}

.div_body {
    height: calc(100% - 168px);
    background-color: white;
    margin-top: calc(108px);
}
.headerBtn button {
    padding: 1px 6px !important;
}

.line {
    margin-top: 5px;
    margin-bottom: 30px;
    height: 2px;
    background-color: #ddd;
}

.text413 > div:nth-child(1) > div:nth-child(1) {
    background: unset;
}

.back {
    width: 2.2rem;
    height: 2.2rem;
    float: left;
    position: fixed;
    margin-left: 3.2rem;
}

.back img {
    width: 100%;
    height: 100%;
    padding: 3px 3px 3px 0;
    margin-top: 0.3rem;
}

#title_top {
    color: #444;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    letter-spacing: 0.5vw;
    padding-bottom: 5px;
    height: 40px;
    line-height: 30px;
}

.text413 {
    padding: 0 3.5rem;
    height: calc(100% - 60px);
    overflow-y: auto;
    box-sizing: border-box;
}

.left_title {
    height: auto;
    position: relative;
    vertical-align: center;
}

.span_cont {
    width: 40%;
    font-weight: bold;
    font-size: 1.2rem;
}

.span_cont span {
    vertical-align: middle;
}

.span_val {
    width: 48%;
    left: 1rem;
    /*height: 40px;*/
}

sapn {
    word-break: break-all;
    word-wrap: break-word;
    font-size: 1.1rem;
}

.topTitle{
    position: fixed;
    top: 56px;
}

.title413 {
    margin-top: 20px;
    height: 40px;
}

.div_bottom{
    height: 60px !important;
}
