.content {
    position: fixed;
    width: 100%;
    height: calc(100% - 92px);
    overflow: auto;
    top: 44px;
    box-sizing: border-box;
}
.div_header .logout{
    margin-top: 1.8vw !important;
}
.div_header .headerBtn{
    margin-top: 1.5vw !important;
}

.header_title {

    display: inline-block;
    height: 4vh;
    line-height: 4vh;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    background: #ccc;
    opacity: 0.5;
    margin-top: 0vh;
}

.content_bottom {

    position: fixed;
    top: 80%;
    text-align: center;
    width: 100%;
}

#btn_cancel {

    background: #ccc;
    border: 0px;
    width: 30vw;
    height: 5.5vh;
    font-size: 1em;
    font-weight: bolder;
    color: whitesmoke;
}

#btn_ok {

    width: 38vw;
    height: 5.5vh;
    background: #8CC11F;
    border: 0px;
    font-weight: bolder;
    font-size: 0.7em;
    color: whitesmoke;
    float: right;
    margin-right: 8vw;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    display: none;
}

.content_title {

    margin-top: 10vh;
    text-align: center;
    font-size: 1.1em;
    font-weight: bolder;
    margin-bottom: 6vh;
}

.ellipsis {

    text-align: center;
    font-size: 1.4em;
    margin-top: -1vh;
}
.topTitle{
    height: 40px;
    background: #8CC11F;
    line-height: 40px;
    color: white;
    text-align: center;
    font-size: 18px;
    top: 44px;
    width: 100%;
    font-weight: bold;
}


/* Huawei Tablet 534 * 768と互換性があります */
@media only screen and (min-device-width : 534px) and (max-device-width : 768px){
    .content {
        position: fixed;
        width: 100%;
        height: calc(100% - 92px);
        overflow: auto;
        top: 44px;
        box-sizing: border-box;
    }
    .div_header .logout{
        margin-top: 1.8vw !important;
    }
    .div_header .headerBtn{
        margin-top: 1.5vw !important;
    }

    .header_title {

        display: inline-block;
        height: 4vh;
        line-height: 4vh;
        font-size: 1.2em;
        font-weight: bolder;
        text-align: center;
        width: 100%;
        background: #ccc;
        opacity: 0.5;
        margin-top: 0vh;
    }

    .content_bottom {
        position: unset;
        top: unset;
        text-align: center;
        width: 100%;
    }

    #btn_cancel {
        background: white;
        height: 2.5rem;
        font-size: 1rem;
        font-weight: unset;
        color: #8CC11F;
        border: 1px solid;
        width: 7rem;
        border-radius: 3.5rem;
        margin: auto calc(50% - 3.5rem);
        padding: 0 0.5rem;
    }

    #btn_ok {
        background: white;
        height: 2.5rem;
        font-size: .7rem;
        font-weight: unset;
        color: #8CC11F;
        border: 1px solid;
        width: 7rem;
        border-radius: 3.5rem;
        margin: 1rem calc(50% - 3.5rem);
        display: none;
        padding: 0 0.5rem;
        text-align: left;
    }

    .content_title {
        margin-top: 6.5rem;
        text-align: center;
        font-size: 1rem;
        font-weight: unset;
        margin-bottom: 2rem;
    }

    .ellipsis {

        text-align: center;
        font-size: 1.4em;
        margin-top: -1vh;
    }
    .topTitle{
        top: 56px;
    }

}
/* ipadタブレット768 * 1024と互換性があります */
@media only screen and (min-device-width : 768px) {
    .content {
        position: fixed;
        width: 100%;
        height: calc(100% - 116px);
        overflow: auto;
        top: 56px;
        box-sizing: border-box;
    }
    .div_header .logout{
        margin-top: 1.8vw !important;
    }
    .div_header .headerBtn{
        margin-top: 1.5vw !important;
    }

    .header_title {

        display: inline-block;
        height: 4vh;
        line-height: 4vh;
        font-size: 1.2em;
        font-weight: bolder;
        text-align: center;
        width: 100%;
        background: #ccc;
        opacity: 0.5;
        margin-top: 0vh;
    }

    .content_bottom {

        position: static;
        /*top: 75%;*/
        text-align: center;
        width: 100%;
    }

    #btn_cancel {

        background: white;
        border: 2px solid #8CC11F;
        width: 21vw;
        height: 5.2vh;
        font-size: 1.25em;
        font-weight: normal;
        color: #8CC11F;
        margin: 0;
        border-radius:3.5rem;
    }

    #btn_ok {
        width: 21vw;
        height: 5.2vh;
        border: 2px solid #8CC11F;
        font-weight: normal;
        font-size: .7em;
        color: #8CC11F;
        float: none;
        margin: 1rem auto;
        text-align: left;
        padding-left: 4.5vw;
        padding-right: 4.5vw;
        background: white;
        border-radius: 3.5rem;
    }

    .content_title {

        margin-top: 14vh;
        text-align: center;
        font-size: 1.4rem;
        font-weight: normal;
        margin-bottom: 5vh;
    }

    .ellipsis {

        text-align: center;
        font-size: 1.4em;
        margin-top: -1vh;
    }
    .topTitle{
        top: 56px;
    }

    .div_header {
        height: 56px;
    }

    .div_bottom{
        height: 60px !important;
    }
}