@import "common_tab.css";
.div_header{
    height: 56px;
}

.div_bottom{
    height: 60px;
}

.content {
    position: fixed;
    width: 100%;
    height: calc(100% - 116px);
    overflow: auto;
    top: 56px;
    box-sizing: border-box;
}

.div_header .logout {
    margin-top: 1.8vw !important;
}

.div_header .headerBtn {
    margin-top: 1.5vw !important;
}

.oneTitle {
    position: fixed;
    width: 100%;
    padding: 10px 5px 0 5px;
    height: 6vh;
    background-color: #FFF;
    box-sizing: border-box;
}

.oneTitle ul {
    width: 100%;
    height: 100%;
    /*border-radius: 5px;*/
    overflow: hidden;
}

.newsCount {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #cf2d28;
    color: #fff;
    font-size: 10px;
    left: 64%;
    top: 12px;
    line-height: 18px;
    display: none;
}

.oneTitle li {
    width: 33%;
    height: 100%;
    float: left;
    color: #009944;
    background: none;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
}

.oneTitle li.active {
    color: #555;
    border-bottom: 4px solid #555;
}

.oneTitle li.active1 {
    color: #009944;
    border-bottom: 4px solid #009944;
}

.count1 {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #cf2d28;
    color: #fff;
    font-size: 10px;
    left: 25%;
    top: 12px;
    line-height: 18px;
    display: none;
}

.content_div {
    width: 100%;
    overflow: auto;
    height: auto;
    margin-top: 52px;
    box-sizing: border-box;
}

.title_div {
    width: 100%;
    float: left;
    position: fixed;
    background-color: white;
}

.back {
    width: 100%;
    float: left;
    line-height: 2;
    padding-top: 3.5rem;
    padding-left: 1.5rem;
    height: 1.5rem;
    position: fixed;
    background-color: white;
}

.back img {
    float: left;
    margin-top: -0.4rem;
    width: 1.5rem;
    height: 1.5rem;
}

.title_div .updateTime {
    float: right;
    font-size: 12px;
    color: #555;
    margin-top: 10px;
}

.title {
    width: 85%;
    margin-left: calc(1rem);
    margin-top: -10px;
    font-size: 1.5rem;
    float: left;
    color: #202020;
    text-align: left;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: white;
    height: 6rem;
    line-height: 2rem;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif !important;
}

.div_img {
    text-align: center;
    margin: 8.8rem 0 0 4rem;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 7rem;
    border-bottom: 1px solid #CCCCCC;
    padding-right: 8rem;
    padding-top: 1rem;
}

.img {
    max-width: 80%;
    max-height: 5rem;
}

.description {
    font-size: 1.5rem;
    color: #202020;
    margin-left: 4rem;
    overflow: hidden;
    margin-top: 15.8rem;
}

.description p {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 1.2rem;
}

p > span {
    line-height: 170%;
}

.url {
    font-size: 12px;
    padding: 5px;
    float: right;
    text-align: center;
    border: 2px solid #009944;
    border-radius: 5px;
    color: #009944;
    margin-top: 10px;
}

video {
    max-width: 100%;
}

img {
    max-width: 100%;
}

.content .div_btnbox {
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    margin-top: 2vh;
    text-align: center;
    display: none;
    margin-bottom: 2vh;
}

.div_btnbox button {
    width: 30vw;
    height: 8vw;
    color: #FFF;
    font-weight: bolder;
    background-color: #BFBFBF;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    letter-spacing: 3px;
}

.div_btnbox button.green {
    background-color: #8CC11F;
}

.div_files {
    margin-top: 2vh;
    text-align: center;
}

.div_files a {
    color: red;
    text-decoration: none;
    border-bottom: 0.5vh solid red;
}
.content .div_msgbox{
    width: auto;
    height: 20vh;
    line-height: 4vh;
    margin: 2rem 4rem;
    padding: 2vh 2vw;
    background-color: #F2F2F2;
    box-sizing: border-box;
    font-size: 2vh;
    text-align: left;
    border-radius: 1vh;
    display: none;
}

.topTitle{
    z-index: 999;
    position: fixed;
    top: 56px;
}
