#page {
    height: 100%;
}
.content {
    height: calc(100% - 48px);
    position: fixed;
    width: 100%;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 84px;
    display: block !important;
}

.content_div {
    height: auto;
    min-height: 150.6vw;
    width: 100%;
    overflow: auto;
}

.description {
    white-space: pre-wrap;/*NWT　楊　2021/07/30　MANAMIRU1-747　Edit*/
    width: 90%;
    font-size: 15px;
    color: #555;
    overflow-y: auto;
    height: 30vh;
    margin-top: calc(595px / 3);
}

.title {
    width: 90%;
    font-size: calc(56px / 3);
    color: #444;
    margin-top: 10px;
    text-align: left;
    margin-left: 10%;
    height: 5vh;
    line-height: 5vh;
}

.description p {
    word-wrap: break-word;
    word-break: break-all;
}

.title_div {
    width: 10%;
    float: left;
    margin-top: 10px;
    height: 5vh;
}


.topTitle{
    height: 40px;
    background: rgb(140, 193, 31);
    line-height: 40px;
    color: white;
    text-align: center;
    /*font-family: Hiragino sans-serif !important;*/
    font-size: 18px;
    position: fixed;
    top: 44px;
    width: 100%;
    font-weight: bold;
}

.back {
    float: left;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.back img {
    height: 13px;
    float: left;
    margin-left: 14px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.div_img {
    margin-top: calc(65px / 3);
}


/* Huawei Tablet 534 * 768と互換性があります */
@media only screen and (min-device-width : 534px) and (max-device-width : 768px){
    .commonTabTitle {
        height: 52px;
        background: #8CC11F;
        line-height: 52px;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
        font-weight: bold;
        letter-spacing: 2px;
    }

    #page {
        height: 100%;
    }

    .content {
        height: calc(100% - 46px);
        position: fixed;
        width: 100%;
        overflow: hidden;
        padding-bottom: 0;
        padding-top: 84px;
        display: block !important;
    }

    .content_div {
        height: 100%;
        width: 100%;
        overflow: scroll;
        min-height: unset;
    }

    .description {
        color: #202020;
        overflow-y: unset;
        margin-top: 20px;
        font-size: 1rem;
        word-break: break-all;
        width: unset;
        height: auto;
        padding-right: 10%;
        margin-bottom: 1rem;
    }

    .title {
        width: 85%;
        font-size: 1.2rem;
        color: #202020;
        text-align: justify;
        margin-top: 1.92rem;
        margin-left: 3.2rem;
        white-space: normal;
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
        height: auto;
        min-height: 5.45rem;
        line-height: unset;
    }

    .description p {
        word-wrap: break-word;
        word-break: break-all;
    }

    .title_div {
        width: auto;
        float: left;
        margin-top: 0;
        height: auto;
    }

    .topTitle {
        position: fixed;
        top: 56px;
    }

    .back {
        width: 1.2rem;
        float: left;
        line-height: 2;
        margin-top: 1.8rem;
        margin-left: 1.5rem;
        height: 1.2rem;
        position: static;
        overflow: unset;
    }

    .back img {
        width: 100%;
        height: 100%;
        float: unset;
        margin-left: unset;
        position: unset;
        top: unset;
        transform:unset;
    }

    .div_img {
        margin-top: 19px;
        text-align: center;
    }

    .div_border {
        margin-left: 3.2rem !important;
        margin-top: 0 !important;
        height: auto;
    }

    .div_img img{
        height: 11.2rem!important;
        position: static!important;
        transform: inherit!important;
        margin-left: -3.2rem;
    }
}
/* ipadタブレット768 * 1024と互換性があります */
@media only screen and (min-device-width : 768px) {
    .div_header {
        height: 56px;
    }
    .commonTabTitle {
        height: 52px;
        background: #8CC11F;
        line-height: 52px;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .div_bottom {
        height: 60px;
    }

    #page {
        height: 100%;
    }

    .content {
        height: calc(100% - 60px);
        position: fixed;
        width: 100%;
        overflow: hidden;
        padding-bottom: 0;
        padding-top: 108px;
        display: block !important;
    }

    .content_div {
        height: 100%;
        width: 100%;
        overflow: scroll;
        min-height: unset;
    }

    .description {
        color: #202020;
        overflow-y: unset;
        margin-top: 20px;
        font-size: 1.35rem;
        word-break: break-all;
        width: unset;
        height: auto;
        padding-right: 10%;
        margin-bottom: 1rem;
    }

    .title {
        width: 85%;
        font-size: 1.5rem;
        color: #202020;
        text-align: justify;
        margin-top: 2.5rem;
        margin-left: 3.5rem;
        white-space: normal;
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
        height: auto;
        min-height: 7rem;
        line-height: unset;
    }

    .description p {
        word-wrap: break-word;
        word-break: break-all;
    }

    .title_div {
        width: auto;
        float: left;
        margin-top: 0;
        height: auto;
    }

    .topTitle {
        position: fixed;
        top: 56px;
    }

    .back {
        width: 1.5rem;
        float: left;
        line-height: 2;
        margin-top: 43px;
        margin-left: 1.5rem;
        height: 1.5rem;
        position: static;
        overflow: unset;
    }

    .back img {
        width: 100%;
        height: 100%;
        float: unset;
        margin-left: unset;
        position: unset;
        top: unset;
        transform:unset;
    }

    .div_img {
        margin-top: 30px;
        text-align: center;
    }

    .div_border {
        margin-left: 4rem !important;
        margin-top: unset !important;
        height: calc(100% - 9.5rem);
    }

    .div_img img{
        height: 14rem!important;
        position: static!important;
        transform: inherit!important;
        margin-left: -4rem;
    }

}