@import "common_tab.css";
.div_header {
    height: 56px;
}

.div_bottom {
    height: 60px;
}

#page {
    height: 100%;
}

.content {
    height: calc(100% - 60px);
    position: fixed;
    width: 100%;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 108px;
    display: block !important;
}

.content_div {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.description {
    white-space: pre-wrap;/*NWT　楊　2021/07/30　MANAMIRU1-747　Edit*/
    color: #202020;
    overflow-y: auto;
    margin-top: calc(30px + 15.5rem);
    font-size: 1.25rem;
    word-break: break-all;
    height: calc(100% - 30px - 15.5rem);
    padding-right: 10%;
}

.title {
    width: 85%;
    font-size: 1.5rem;
    color: #202020;
    text-align: justify;
    margin-top: 2.5rem;
    margin-left: 3.5rem;
    white-space: normal;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 7rem;
}

.description p {
    word-wrap: break-word;
    word-break: break-all;
}

.title_div {
    width: 10%;
    float: left;
}


.topTitle {
    position: fixed;
    top: 56px;
}

.back {
    width: 1.5rem;
    float: left;
    line-height: 2;
    margin-top: 2.8rem;
    margin-left: 1.5rem;
    height: 1.5rem;
    position: fixed;
}

.back img {
    /*height: 13px;*/
    /*float: left;*/
    /*margin-left: 14px;*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
    width: 100%;
    height: 100%;
}

.div_img {
    margin-top: 30px;
}

.div_border {
    margin-left: 4rem !important;
    margin-top: unset !important;
    height: calc(100% - 9.5rem);
}

.div_img img{
    height: 14rem!important;
}
