<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Error</title>
    <link rel="stylesheet" href="${request.contextPath}/css/common/common.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/error/error.css"/>
</head>
<body>
<header style="width: 100%;padding: 0 15px">
    <div class="header_logo1"></div>
</header>

<div class="error_info">
    <div class="secTitle">404 Error</div>
    <div class="secTitle">Page not found.</div>
</div>

</body>
</html>