<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 Error</title>
    <link rel="stylesheet" href="${request.contextPath}/css/common/common.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/error/error.css"/>
</head>
<body>
<header style="width: 100%;padding: 0 15px">
    <div class="header_logo1"></div>
</header>

<div class="error_info">
    <div class="secTitle">500 Error</div>
    <div class="secTitle">アプリケーションに障害が発生中です。</div>
</div>

</body>
</html>