<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title></title>
    <script src="../js/common/vue.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../plugins/jquery-ui-1.12.1/jquery-ui.css"/>
    <link rel="stylesheet" href="../css/common/common_pop.css"/>
    <link rel="stylesheet" href="../css/pop/careful.css"/>
</head>
<body>
    <div class="theme_selec">
        <div class="title">確認</div>
        <div class="content">
            登録が完了していません。<br>
            計画した予定を登録する場合は <br>
            <span>登録ボタン</span>をタップしてくださ
            <br>い。
        </div>
        <div class="theme_btn">
            <button class="left">閉じる</button>
            <button>登録しないで進む</button>
        </div>
    </div>
</body>

<script src="../js/common/jquery.js"></script>
<script src="../js/common/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

</script>
</html>