<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
	<title></title>
	<link rel="stylesheet" href="../css/common/common_pc.css"/>
	<!--<link rel="stylesheet" href="../css/pop/F03005.css"/>-->
	<script type="text/javascript" src="../js/common/jquery.js"></script>
	<script src="../js/common/layer/layer.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/common/common.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="content">
	<div class="preview_size_choose">プレビューサイズ選択</div>
	<div class="main">
		<div>
			<input type="radio" name="single" value="0" id="iphoneSize">
			<p>Iphone4.7インチ</p>
		</div>
		<div>
			<input type="radio" name="single" value="1" id="huaweiSize">
			<p>HUAWEI4.7インチ</p>
		</div>
		<!--<div>-->
			<!--<p>節名</p>-->
			<!--<input type="text" id="sectnNm">-->
		<!--</div>-->
		<!--<div>-->
			<!--<p>項目名</p>-->
			<!--<input type="text" id="unitNm">-->
		<!--</div>-->
	</div>
</div>
</body>
<!--<script type="text/javascript" src="../js/pop/F03005.js"></script>-->
</html>