<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "/header.html" />
    <title>検索画面</title>
    <link rel="stylesheet" href="${request.contextPath}/css/common/common.css" />
    <link rel="stylesheet" href="${request.contextPath}/css/common/my_select.css" />
    <link rel="stylesheet" href="${request.contextPath}/css/pop/F08024-1.css" />
    <script src="${request.contextPath}/plugins/laydate-5.0.9/laydate.js"></script>
</head>
<body>
<div class="all" id="app">
    <div class="content_new">
        <form id="form1">
            <div>
                <p>テンプレートタイプ</p>
                <span class="indend">:</span>
                <div class="inputMessage">
                    <select class="my_select" id="tmplateType" onchange="changeTemplate(this.value)" >
                        <option></option>
                        <option value ="4">保護者配信</option>
                        <option value ="5">生徒配信</option>
                        <option value ="6">インフォメーション</option>
                        <option value ="7">マナミルチャンネル</option>
                    </select>
                    <label></label>
                </div>
            </div>
            <div>
                <p>テンプレートタイトル</p>
                <span class="indend">:</span>
                <div class="inputMessage">
                    <select class="my_select" id="template">
                        <option></option>
                    </select>
                    <label></label>
                </div>
            </div>
            <div>
                <p>カテゴリ</p>
                <span class="indend">:</span>
                <div class="inputMessage">
                    <input type="text" id="ctgy_nm"/>
                </div>
            </div>
            <div>
                <p>作成日</p>
                <span class="indend">:</span>
                <div class="inputMessage">
                    <div class="time_div">
                        <div class="img_div">
                            <img src="../img/timeBtn2.png" alt="" id="timeOne">
                        </div>
                        <input type="text" id="cretTimeStart" name="cretTimeStart" style="width: 18%" readonly>
                    </div>
                    <div class="time_split">～</div>
                    <div class="time_div">
                        <div class="img_div">
                            <img src="../img/timeBtn2.png" alt="" id="timeTwo">
                        </div>
                        <input type="text" id="cretTimeEnd" name="cretTimeEnd" style="width: 18%" readonly>
                    </div>
                </div>
            </div>
            <div>
                <p>最終更新日</p>
                <span class="indend">:</span>
                <div class="inputMessage">
                    <div class="time_div">
                        <div class="img_div">
                            <img src="../img/timeBtn2.png" alt="" id="timeThree">
                        </div>
                        <input type="text" id="updDatimeStart" name="updDatimeStart" style="width: 18%" readonly>
                    </div>
                    <div class="time_split">～</div>
                    <div class="time_div">
                        <div class="img_div">
                            <img src="../img/timeBtn2.png" alt="" id="timeFour">
                        </div>
                        <input type="text" id="updDatimeEnd" name="updDatimeEnd" style="width: 18%" readonly>
                    </div>
                </div>
            </div>
            <div>
                <p>作成者名</p>
                <span class="indend">:</span>
                <div class="inputMessage">
                    <input type="text" id="cretUserName"/>
                </div>
            </div>
            <div>
                <p>更新者名</p>
                <span class="indend">:</span>
                <div class="inputMessage">
                    <input type="text" id="updUserName"/>
                </div>
            </div>
        </form>
        <div class="theme_btn">
            <button id="submitbtn">検索</button>
        </div>
    </div>
</div>
</body>
<script src="${request.contextPath}/plugins/jquery-validation-1.17.0/jquery-validate-ext.js"></script>
<script src="${request.contextPath}/plugins/jqgrid-5.1.1/grid.locale-ja.js" charset="utf-8"></script>
<script type="text/javascript" src="${request.contextPath}/js/pop/F08024-1.js"></script>
</html>