<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <#include "/header.html" />
    <title>Title</title>
    <link rel="stylesheet" href="${request.contextPath}/css/pop/F10004pop.css"/>
</head>
<body>
<div class="box">
    <!--<div class="colorMenu">填充<p id='triangle-top'></p></div>-->
    <div class="container">
        <div class="arrColor" style="height: 100%;padding-top: 2vh;"></div>
    </div>
    <div class="btn_area" style="height: 20%">
        <!--<button><img src="../../statics/img/moreColor.png" height="15" width="15"/></button>-->
        <div class="moreColor" style="width: 18px;height: 20px;position: absolute;left: 5.5vw;bottom: 5vh;">
            <img src="${request.contextPath}/img/moreColor.png" height="20" width="18"/>
        </div>
        <input type="color" id="moreColor" class="moreColor">
        <div class="selectedColor"></div>
        <button id="setColor" style="position: absolute;right: 5.5vw;width: 30vw;bottom: 6vh;">OK</button>
    </div>
</div>
</body>
<script type="text/javascript" src="${request.contextPath}/js/pop/F10004pop.js"></script>
</html>