<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "/header.html" />
    <title>学習単元確認画面(POP)</title>
    <link rel="stylesheet" href="${request.contextPath}/css/pop/F10306.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/common/common_pop.css"/>
</head>
<body>
<div id="app" class="theme_selec">
    <p><span v-text="term.blockDispyNm!=null ? term.blockDispyNm:'' "></span><br/>{{textDff.unitDispyNm}}<br/>教科書P.{{textDff.textbPage}}</p>
    <div class="thru_s">
        <button @click="cancelFn" class="thru_s_close">
            キャンセル
        </button>
        <button class="thru_s_first" @click="submitFn" style="display: none">
            削除
        </button>
    </div>
</div>

</body>
<script type="text/javascript" src="${request.contextPath}/js/pop/F10306.js">
</script>
</html>