<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "/header.html" />
    <title>登録方法選択</title>
    <link rel="stylesheet" href="${request.contextPath}/css/student/common.css"/>
    <link rel="stylesheet" href="${request.contextPath}/css/pop/F11012.css"/>
</head>
<body>
<div class="page">
    <div class="footDiv">
        <div class="footAuto">
        <button id="handle" onclick="toF11005()">手動登録</button>
        <button id="jsq" onclick="toF11006()"><p>タイマー登録</p></button>
        </div>
    </div>
</div>
</body>
<script src="${request.contextPath}/js/pop/F11012.js"></script>
</html>