<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <#include "/header.html" />
    <title>配信先既読未読詳細一覧画面（インフォメーション）</title>
    <link href="${request.contextPath}/plugins/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">
    <link href="${request.contextPath}/plugins/jqgrid-5.1.1/ui.jqgrid.css" rel="stylesheet">
    <link href="${request.contextPath}/css/common/common_pc.css" rel="stylesheet"/>
    <link href="${request.contextPath}/css/pop/F21072.css" rel="stylesheet"/>

    <style>
        .ui-widget.ui-widget-content {
            margin-top: 6.6vw;
        }
    </style>
</head>
<body>
<div class="topMessage" id="message"></div>
<div class="content" id="app" v-cloak>
    <div class="popTitle">配信先既読未読詳細一覧画面（インフォメーション）</div>
    <div class="inputDiv">
        <div class="inputMessage">
            <div>インフォメーションＩＤ</div>
            <input :value="mstMessageEntity.id" disabled id="orgId" maxlength="60" type="text">
            <div class="input_center"></div>
            <div>インフォメーション名</div>
            <input :value="mstMessageEntity.messageTitle" disabled id="id" maxlength="60" type="text">
        </div>
        <div class="inputMessage">
            <div>掲載開始日時</div>
            <input :value="mstMessageEntity.pubPlanStartDt" disabled id="pubPlanStartDt" type="text">
            <div class="input_center">~</div>
            <div>掲載終了日時</div>
            <input :value="mstMessageEntity.pubPlanEndDt" disabled id="pubPlanEndDt" type="text">
        </div>
        <div class="inputMessage">
            <div>組織</div>
            <input :value="org" disabled id="noticeOrg" type="text">
        </div>
    </div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <button @click="bakBtn()" class="end_btn">閉じる</button>
</div>
</body>
<script charset="utf-8" src="${request.contextPath}/plugins/jqgrid-5.1.1/jquery.jqGrid.min.js"></script>
<script charset="utf-8" src="${request.contextPath}/plugins/jqgrid-5.1.1/grid.locale-ja.js"></script>
<script charset="utf-8" src="${request.contextPath}/plugins/jquery-ui-1.12.1/jquery-ui.js"></script>
<script charset="utf-8" src="${request.contextPath}/js/pop/F21072.js" type="text/javascript"></script>
</html>