.header_operat {
    width: auto;
}

.page {
    width: 100%;
    height: auto;
    padding: 0;
    overflow: auto;
}

.btn_div {
    margin-top: 1.4vw;
    margin-right: 1vw;
    height: 2.2vw;
    width: 12vw;
    float: right;
}

.btn_div button {
    background: none;
    font-size: 0.9vw;
    color: #009944;
    border: 2px solid #009944;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding: 0 1.6vw;
}

.div_main {
    width: 100%;
    height: 100%;
}

.ui-jqgrid-bdiv {
    /*height: 600px !important;*/
    width: 100% !important;
}

.ui-paging-info {
    margin-right: 3vw !important;
}

.one {
    padding: 0.4vw 4vw 0.4vw 1vw;
    width: 100%;
    height: 1.6vw;
    margin-left: 5vw;
    line-height: 1.6vw;
    font-size: 0.9vw;
    float: left;
}

.one label {
    height: 1.6vw;
    line-height: 1.6vw;
    font-size: 0.9vw;
    float: left;
    width: 8%;
    padding-right: 1vw;
}

.one input {
    height: 1.6vw;
    margin-right: 1vw;
    line-height: 1.6vw;
    font-size: 0.9vw;
    float: left;
    width: 10%;
    padding: 0 0.4vw;
    border: 1px solid #000;
}

.two {
    width: 100%;
    height: 3vw;
    text-align: center;
    /*margin-bottom: 1px;*/
}

.two button {
    font-size: 0.9vw;
    border-radius: 4px;
    width: 13.3%;
    margin-right: 1vw;
    height: 2.2vw;
    margin-top: 1vw;
    background: #00a65a;
    color: white;
    border: 0;
    border-bottom: 3px grey solid;
}

#select {
    color: rgba(100, 100, 100, 1);
    background: white;
    border: 1px grey solid;
    border-bottom: 3px grey solid;
}

.two a {
    margin-left: 4vw;
    font-size: 0.9vw;
    line-height: 2.2vw;
    text-decoration: underline;
    color: blue;
}

.ui-jqgrid ui-widget ui-widget-content ui-corner-all {
    width: 100% !important;
}

.ui-jqgrid .ui-jqgrid-view button {
    text-decoration: none;
    color: #EA331B;
    width: 40%;
    height: 22px;
    margin-left: 6%;
    border-radius: 22px;
}

.ui-jqgrid tr.ui-row-ltr td {
    height: 30px;
}

.ui-jqgrid-sortable {
    font-weight: bolder;
}

#gbox_jqGrid {
    margin-top: 6vh;
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border: 2px solid #ccc !important;
    color: black !important;
    height: 6vh;
    font-weight: 400;
    border-bottom: none !important;
    border-left: 1px solid #ccc !important;
}

.ui-jqgrid .ui-jqgrid-htable {
    border-collapse: collapse !important;
}

.ui-jqgrid tr.ui-row-ltr td {
    border: 2px solid #ccc !important;
}

#jqGrid {
    border-collapse: collapse !important;
}

.ui-jqgrid .ui-jqgrid-htable {
    background-color: #eee !important;
}

.jqgfirstrow td {
    border: 0;
}

.ui-jqgrid tr.jqgrow {
    height: 6vh !important;
}

#org_select {

    color: #00a65a;
    background: white;
    border: 2px #00a65a solid;
    border-radius: 10px;
    width: 7vw;
    height: 3.5vh;
    line-height: 3vh;
    margin-left: 5vw;
    font-size: 13px;
    cursor: pointer;
}

.btn_edit {

    width: 100% !important;
    height: 4vh !important;
    color: black !important;
    font-size: 1em !important;
    background-color: whitesmoke;
    text-decoration: none !important;
    border-radius: 12px;
    line-height: 4vh !important;
    border: 1px #ccc solid !important;
}

.jqgrid_btn {

    width: 9vw !important;
    height: 4vh !important;
    color: black !important;
    font-size: 11px !important;
    /* background-color: whitesmoke !important; */
    text-decoration: none !important;
    border-radius: 15px;
    line-height: 4vh !important;
    margin-left: 3vw !important;
    cursor: pointer;
    border: 1px #ccc solid !important;
}

.layui-layer-myskin .layui-layer-title {

    background-color: #F0F0F0 !important;
    border-bottom: none !important;
}

.layui-layer-myskin .layui-layer-title {
    background-color: white !important;
    color: #444 !important;
    text-align: left !important;
    border-bottom: none !important;
    text-indent: 1.5em;
    font-size: 2vw;
    font-weight: bolder;
    margin-top: 0.8vh;
}

/*.layui-layer-title {*/
    /*visibility: hidden !important;*/
/*}*/