html, body {
    height: 100%;
}
.content {
    padding: 0;
}

.required:after {
    top: 10%
}

.header_operat {
    width: auto;
}

.btn_div {
    margin-top: 1.4vw;
    margin-right: 1vw;
    height: 2.2vw;
    width: 12vw;
    float: right;
}

.btn_div button {
    font-size: 0.9vw;
    background: none;
    color: #009944;
    border: 2px solid #009944;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding: 0 1.6vw;
}

.idMessage {
    width: 100%;
    float: left;
    padding: 0 4vw 0 7vw;
    height: auto;
}

.idMessage div {
    height: 2.2vw;
    line-height: 2.2vw;
    font-size: 0.9vw;
    float: left;
    width: 6%;
    padding-right: 1%;
}

.idMessage div.showData {
    width: 9%;
    color: #666;
}

.idMessage select {
    width: 12.5%;
    height: 1.5vw;
    line-height: 1.5vw;
    color: #666;
    float: left;
    margin-right: 4%;
    border: 1px solid #aaa;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 0.3vw;
    padding: 0 1.5vw 0 0.1vw;
}

.idMessage input {
    width: 12.5%;
    height: 1.5vw;
    line-height: 1.5vw;
    float: left;
    color: #666;
    margin-right: 2%;
    border: 1px solid #aaa;
    padding: 0 0.2vw;
    margin-top: 0.3vw;
}

.idMessage button {
    width: 10%;
    margin-top: 0.3vw;
    font-size: 0.9vw;
    border-radius: 4px;
    height: 3.5vh;
    padding: 0 1.6vw;
    float: left;
    margin-left: 2vw;
    background: #00a65a;
    color: white;
    border: 0;
    border-bottom: 3px grey solid;
}

.buttonDiv {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 0.8vw;
    text-align: center;
}

.buttonDiv button {
    width: 10%;
    font-size: 0.9vw;
    border-radius: 4px;
    height: 3.5vh;
    background: #00a65a;
    color: white;
    border: 0;
    border-bottom: 3px grey solid;
}

.idMessage button.one {
    width: 18.5%;
    border: 0;
    text-decoration: underline;
    color: #1a9fe0;
    margin-right: 2%;
    margin-top: 0.3vw;
}

.buttonDiv button.end {
    width: 18.5%;
    float: right;
    margin-right: 3%;
}

.buttonDiv div {
    width: 8vw;
    height: 2.2vw;
    float: left;
    margin: 0 1vw;
    color: #333;
    font-size: 0.9vw;
    text-align: center;
    line-height: 2.2vw;
}

.buttonDiv input {
    width: 8vw;
    height: 2.2vw;
    float: left;
    background: none;
    margin: 0 1vw;
    font-size: 0.9vw;
    color: #333;
    border: 2px solid #aaa;
    padding: 0 0.4vw;
}

.list {
    width: 99%;
    height: auto;
    overflow: auto;
    margin-left: 0.5%;
}

table {
    width: 100%;
}

.oneTd table {
    border-bottom: 0;
    border-right: 0;
}

.oneTd td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.oneTd th, .oneTd td {
    text-align: center;
}

.oneTd td input[type="checkbox"] {
    width: 1vw;
    height: 1vw;
    float: left;
    margin: 0.3vw 0.2vw 0.3vw 0.2vw;
}

.oneTd td input[type="text"] {
    width: 2.8vw;
    height: 1.6vw;
    line-height: 1.6vw;
    text-align: right;
    margin: auto;
    border: 1px solid #666;
    padding: 0 2px;
}

.oneTd td input[type="text"].one {
    float: left;
    text-align: right;
}

.oneTd td input[type="text"].long {
    width: 5.1vw;
}

.oneTd td input[type="text"].twoLong {
    width: 40%;
}

.oneTd td input[type="text"].two {
    width: 100%;
    height: 1.6vw;
    line-height: 1.6vw;
    border: 1px solid #666;
    text-align: left;
}

.oneTd td select {
    width: 4.3vw;
    height: 1.6vw;
    -webkit-appearance: none;
    border: 1px solid #666;
    -moz-appearance: none;
    appearance: none;
    padding-left: 0.1vw;
    padding-right: 1.2vw;
    background: url(../../img/select_ico.png) no-repeat right center/1.2vw;
    float: right;
}

.oneTd td select.endSelect {
    float: left;
}

.oneTd th {
    font-size: 13px;
    color: black;
    height: 3.2vh;
    background-color: #eee;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

td button {
    background: none;
    color: #009944;
    width: auto;
    border: 0;
    font-size: 0.9vw;
    text-decoration: underline;
}

.listTitle {
    width: 100%;
    height: 2.7vw;
    float: left;
    position: relative;
    margin-top: 3vh;
}

.listTitle div {
    width: 4%;
    height: 2.8vw;
    line-height: 2.8vw;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.9vw;
}

.listTitle input {
    width: 1vw;
    height: 1vw;
    top: 0.9vw;
    left: 4%;
    position: absolute;
    font-size: 0.9vw;
    margin: 0;
}

.listTitle button {
    left: 8%;
    position: absolute;
    width: 10%;
    margin-top: 0.3vw;
    font-size: 0.9vw;
    border-radius: 4px;
    height: 3.5vh;
    padding: 0 1.6vw;
    float: left;
    margin-left: 2vw;
    background: #00a65a;
    color: white;
    border: 0;
    border-bottom: 3px grey solid;
}

.listTitle p {
    width: 100%;
    height: 100%;
    line-height: 2.8vw;
    text-align: center;
    margin: 0;
    font-size: 1vw;
}

.back {
    background: #ccc !important;
}

select.back {
    background: #ccc !important;
}

#three {
    width: 18.5%;
    border: 0;
    text-decoration: underline;
    color: #1a9fe0;
    margin-right: 2%;
    margin-top: 0.3vw;
    background: none;
}

.bottomDiv {
    border-bottom: 1px solid #ccc;
    /*border-top: none;*/
    /*border-right: none;*/
    overflow: overlay;
}

#submitTable {
    border: 1px solid #ccc;
    border-top: none;
    background: white;
}