.header_operat {
    width: auto;
}

.btn_div {
    margin-top: 1.4vw;
    margin-right: 1vw;
    height: 2.2vw;
    width: 12vw;
    float: right;
}

#table {
    width: 100%;
}

.btn_div button {
    font-size: 0.9vw;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding: 0 1.6vw;
    color: rgba(100, 100, 100, 1);
    background: white;
    border: 1px grey solid;
    border-bottom: 3px grey solid;
}

.inputDiv {
    width: 100%;
    height: auto;
    float: left;
    margin-left: 5vw;
}

.inputMessage {
    width: 100%;
    float: left;
    padding: 0.4vw 4vw 0.4vw 1vw;
    height: auto;
}

.inputMessage div {
    height: 1.6vw;
    line-height: 1.6vw;
    font-size: 0.9vw;
    float: left;
    width: 8%;
    padding-right: 1vw;
}

.inputMessage input {
    height: 1.6vw;
    margin-right: 1vw;
    line-height: 1.6vw;
    font-size: 0.9vw;
    float: left;
    width: 10%;
    padding: 0 0.4vw;
    border: 1px solid #000;
}

.inputMessage img {
    height: 1.5vw;
    float: left;
    padding-left: 0.65vw;
}

.list {
    width: 100%;
    overflow-x: hidden;
    height: auto;
    border-top: 1px solid #009944;
}

.oneTd table {
    border-bottom: 0;
    border-right: 0;
}

.oneTd th, .oneTd td {
    text-align: center;
    height: 2.2vw;
    font-weight: 500;
    font-size: 0.9vw;
    padding: 0;
}

.oneTd td {
    color: #666;
}

.oneTd td a {
    color: #1322a3;
    text-decoration: underline;
    cursor: pointer;
}

td button {
    background: none;
    color: #1322a3;
    width: auto;
    border: 0;
    font-size: 0.9vw;
    text-decoration: underline;
    cursor: pointer;
}

[v-cloak] {
    display: none;
}

.layui-laydate-list > li {
    width: 50% !important;
}

.layui-laydate-list > li:last-child {
    display: none
}

.laydate-time-list ol li {
    width: 150% !important;
    padding-left: 55px !important;
}

.ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-jqgrid-toppager .ui-pg-selbox {
    padding: 0px 0px;
}

.ui-jqgrid .ui-jqgrid-htable {
    width: 880px;
    background-color: #009944;
    border: 1px solid black;
    border-bottom: none;
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border-right: 1px dotted black;
    border-top: none;
    color: white;
}

.ui-jqgrid tr.ui-row-ltr td {
    text-align: center;
    border: 1px dotted black;
    border-bottom: none;
    border-left: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titleDiv {
    margin-left: 0.4vw;
    font-weight: bold;
    font-size: 0.9vw;
    text-align: left;
    margin-top: 15vh;
}

.ui-jqgrid-hbox {
    width: 100%;
    padding-right: 0 !important;
}

#jqGridPager_right {
    text-align: left;
}

.ui-jqgrid .ui-jqgrid-hdiv {
    border-top: none !important;
    border-bottom: none !important;
}

.ui-jqgrid .ui-jqgrid-view {
    left: 0.4vw !important;
}

#pg_jqGridPager {
    /*border-top: solid;*/
    border-width: 0.5px;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

#jqGrid {
    /*border: 1px solid black;*/
    border-top: none;
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border: 2px solid #ccc !important;
    color: black !important;
    height: 6vh;
    font-weight: 400;
    border-bottom: none !important;
    border-left: 1px solid #ccc !important;
}

.ui-jqgrid .ui-jqgrid-htable {
    border-collapse: collapse !important;
}

.ui-jqgrid tr.ui-row-ltr td {
    border: 2px solid #ccc !important;
}

#jqGrid {
    border-collapse: collapse !important;
}

.ui-jqgrid .ui-jqgrid-htable {
    background-color: #eee !important;
}

.jqgfirstrow td{
    border: 0;
}

.ui-jqgrid tr.jqgrow {
    height: 6vh !important;
}
.ui-jqgrid .ui-jqgrid-view button {
    text-decoration: unset !important;
    color: black !important;
    border: 1px #ccc solid !important;
    border-radius: 12px !important;
    width: 6vw !important;
    height: 4vh !important;
    font-size: 1.1em !important;
}
.laydate-btns-now{
    display: none !important;
}