.header_operat {
    width: auto;
}

.page {
    width: 100%;
    height: auto;
    padding: 0;
    overflow: auto;
}

.btn_div {
    margin-top: 1.4vw;
    margin-right: 1vw;
    height: 2.2vw;
    width: 12vw;
    float: right;
}

.btn_div button {
    background: none;
    font-size: 0.9vw;
    color: #009944;
    border: 2px solid #009944;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding: 0 1.6vw;
}

#blockDispyNm {
    font-size: 1vw;
}

.div_main {
    width: 100%;
    height: 100%;
}

.second_div {
    margin: 0.4vw;
    font-weight: bold;
    font-size: 0.9vw;
    text-align: left;
    border-top: 1px solid black;
}

.ui-jqgrid-bdiv {
    width: 100% !important;
}

.ui-paging-info {
    margin-right: 3vw !important;
}

.one {
    width: 100%;
    height: 2vw;
}

.one button {
    background: none;
    font-size: 0.6vw;
    color: #009944;
    border: 2px solid #009944;
    border-radius: 4px;
    width: 6vw;
    height: 1.5vw;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 85px;
}

.two {
    width: 100%;
    height: 2vw;
    text-align: center;
}
.two button {
    background: none;
    font-size: 1vw;
    color: #009944;
    border: 2px solid #009944;
    border-radius: 4px;
    width: 10vw;
    height: 1.6vw;
    margin-top: 3px;
}
#add {
    margin-right: 1vw;
}

#jqGrid_codCd {
    width: 211px;
}

.ui-jqgrid .ui-jqgrid-view button {
    color: #009944;
    font-size: 15px;
    margin-left: 2vw;
}

#blockDispyNm {
    margin: 0.4vw;
    font-size: 0.9vw;
    text-align: left;
}