body#body {
    overflow: hidden;
}

html {
    position: fixed;
    width: 100%;
}

.div_header {
    position: unset;
}

div#content {
    height: calc(90vh - 54px);
    overflow-y: scroll;
    padding: 2vh 2vw 0 2vw;
}

.left-item {
    float: left;
    font-size: 1.8vw;
}
.row:nth-child(1){
    margin-top: 3vh;
}
#org-div .left-item:nth-child(1) {
    width: 160px;
}

#org-div .left-item:nth-child(2) {
    width: calc(100% - 160px);
}

#category-div .left-item:nth-child(1) {
    width: 160px;
}

#category-div .left-item:nth-child(2) {
    width: calc(100% - 160px);
}

#condition-div .left-item:nth-child(1) {
    width: 160px;
}

#condition-div .left-item:nth-child(2) {
    width: calc(100% - 160px);
}

.select {
    width: calc(96vw - 160px);
}
#btn-div{
    height: 7vh!important;
}
.row {
    clear: both;
    padding: 0;
    height: 12vh;
    line-height: 5vh;
    margin-left: 16%;
    width: 60%;
}

.label {
    width: 160px;
    color: #949494;
}

#checkAll + label {
    float: left;
}

input[type='checkBox'] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label::before {
    content: '\a0';
    display: inline-block;
    border: 1px solid silver;
    text-align: center;
    width: 18px;
    height: 18px;
    margin-left: 2vw;
    margin-right: 10px;
    line-height: 20px;
    vertical-align: middle;
}

input[type="checkBox"]:checked + label::before {
    -webkit-appearance: none;
    content: '\2713';
    color: white;
    background: #FF80A5;
    border: 1px solid #FF80A5;
}

.stu-div {
    margin: 5px 0;
    height: 24px;
    overflow: hidden;
    width: 99%;
}

@media screen and (max-device-aspect-ratio: 16/10) {
    #stu-div {
        width: 62%;
    }
}

@media screen and (max-device-aspect-ratio: 4/3) {
    #stu-div {
        width: 59.5%;
    }
}

.background {
    width: 100%;
    height: 22px;
    position: relative;
    top: -22px;
    z-index: -1;
    float: left;
}

input[type="checkBox"]:checked ~ .background {
    background: lightpink;
}

div#stu-div {
    height: calc(39vh - 54px) !important;
    overflow-y: scroll;
}

button#submit {
    background: #159748;
    color: white;
    border: 1px solid #159748;
    /*margin-left: 15%;*/
}

button#search {
    background: white;
    border: 1px solid #54B379;
    margin: 0 2vw;
    margin-left: 8%;
    float: left;
}

.stuNm-label {
    width: 20vw;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 24px;
    line-height: 24px;
}

.schy-label {
    float: left;
    line-height: 24px;
}

.div_bottom {
    height: 54px !important;
}

button {
    border-radius: 10vh;
    height: 5vh;
    width: 15vw;
    margin-top: 0.5vh !important;
}

.fs-wrap {
    color: #949494;
}

.fs-wrap {
    width: 40vw;
}
.fs-label-wrap{
    height: 7vh!important;
}
.fs-label-wrap .fs-label{
    height: 7vh;
    line-height: 7vh;
}
.layui-layer-title {
    padding: 0;
    font-size: 1rem;
    color: #FFF;
    background-color: #009944!important;
    border-bottom: 1px solid #009944!important;
    text-align: center !important;
}
.layui-layer-btn a {
    border: 1px solid #009944!important;
    background-color: #009944!important;
    color: #FFF!important;
    font-size: 1rem;
    width: 6vw;
    min-width: 120px;
    text-align: center;
}
/*2020/12/28 liyuhuan modify start*/
#back{
    background-color: #E5E5E5;
    float: right;
    border: 1px solid #E5E5E5;
    color: #555555;
}
span.fs-arrow-up {
    display: none !important;
}
span.fs-arrow {
    bottom: calc(4.5vh - 8px)!important;
}
/*2020/12/28 liyuhuan modify end*/