/**
 * <p>作用描述</p>
 * <p></p>
 *
 * @author NWT : xie <br />
 * 変更履歴 <br />
 * 2020/8/7 : xie: 新規<br />
 * @version 1.0
 */
* {
    font-family: "Hiragino Kaku Gothic Pro";
}

html, body {
    height: 100%;
}

body {
    margin: unset !important;
}

#page {
    height: 100%;
    overflow: hidden;
}

.div_header {
    width: 100%;
    height: 10%;
}

.content {
    width: 100%;
    height: calc(90% - 54px);
    padding-bottom: 0;
    padding-left: 2%;
    padding-right: 2%;
    overflow-y: hidden;
}

#content {
    width: 96%;
    height: calc(95% - 54px);
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 50px;
}

@media screen and (max-device-aspect-ratio: 16/10) {
    #content {
        height: calc(88% - 50px);
    }
}

#title_div {
    height: 12%;
}

#title_div span {
    line-height: 4vh;
    margin-left: 10%;
    margin-top: 3%;
    font-weight: bold;
    display: inline-block;
    font-size: 30px;
}

#title_div button {
    float: right;
    margin-right: 7%;
    margin-top: 3%;
    background: #009944;
    color: white;
    border: none;
    width: 17vw;
    height: 5vh;
    border-radius: 999px;
    font-size: 0.9em;
}

.list_ul {
    padding-left: 0;
    font-size: 14px;
    margin: 0 0 1vh 0;
    overflow-y: scroll;
    height: 90% !important;
}



.list_ul li {
    height: 8vh;
    margin: 0% 0% 2% 15%;
    background: rgb(255, 226, 234);
    list-style: none;
    width: 70%;
    padding: 1vh 0;
}
#hr{
    background: #E5E5E5;
    height: 1px;
    /* margin: 1% 0% 1% 15%; */
    width: 100%;
    border: 0px;
}
.object_div {
    height: 100%;
    margin-left: 4%;
    margin-bottom: 2.5vh;
}

.object_div > div {
    height: 100%;
}

.cont_div {
    width: 70%;
    float: left;
    color: #555555;
}

.time_div, .title_span {
    height: 50%;
    line-height: 4vh;
}

.btn_div {
    width: 30%;
    float: left;
}

.cont_div span {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 3vh;
    font-size: 1.3em;
}

.btn_div button {
    width: 60%;
    background: #159748;
    color: white;
    border: 0;
    height: 4.5vh;
    border-radius: 999px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 7vw;
}


@media screen and (min-device-width: 534px) and (orientation:landscape) {
    .btn_div button {
        font-size: 11px;
    }
}

.insert {
    width: 33% !important;
    height: 5% !important;
    float: left;
    color: #009944;
    background: none !important;
    font-size: 13px;
    text-align: center;
    border: 2px solid #009944;
    vertical-align: middle;
    margin-left: 32% !important;
    border-radius: 8px;
    margin-bottom: 1%;
    /*2020/11/28 liyuhuan modify start*/
    line-height: 2.5vh;
    /*2020/11/28 liyuhuan modify end*/
}

.pageChange {
    width: 100%;
    height: 11vw;
    padding: 1vw 0;
}

.pageChange div {
    width: 48%;
    text-align: center;
    float: left;
    height: 10vw;
    line-height: 10vw;
    border: 1px solid #009944;
    color: #009944;
}

#prev {
    border-radius: 1vw 0 0 1vw;
    margin-left: 2.5vw;
}

#next {
    border-radius: 0 1vw 1vw 0;
}

#pageFoot {
    width: 100%;
    text-align: center;
    font-size: 3vw;
    color: #999;
}

.gray {
    color: #999 !important;
    border-color: #999 !important;
}

.div_bottom {
    height: 54px;
}

.layui-layer-title {
    padding: 0;
    font-size: 1.2rem;
    color: #FFF !important;
    background-color: #009944 !important;
    border-bottom: 1px solid #009944 !important;
    text-align: center !important;
}

.layui-layer-btn a {
    border: 1px solid #009944 !important;
    background-color: #009944 !important;
    color: #FFF !important;
    font-size: 13px;
    width: 100px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 0 15px;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.layui-layer-btn {
    text-align: center !important;
}

#layui-layer2 {
    width: unset !important;
}
#notice_add_btn{
    margin-right: 18% !important;
}
/*2020/12/28 liyuhuan modify start*/
.back {
    width: 0%;
    float: left;
}

.back img {
    height: 25px;
    float: left;
    margin-top: 4.5vh;
}
/*2020/12/28 liyuhuan modify end*/