/**
 * <p>作用描述</p>
 * <p></p>
 *
 * @author NWT : xie <br />
 * 変更履歴 <br />
 * 2020/8/7 : xie: 新規<br />
 * @version 1.0
 */
*{
    font-family: "Hiragino Kaku Gothic Pro" !important;
}
html, body,#page {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.div_header,.div_bottom{
    height: 10%;
}
.content{
    height: calc(90% - 54px);
}
.img_div{
    width: 14%;
    float: left;
    text-align: center;
    margin-top: 6vh;
}

.layui-layer-title {
    padding: 0;
    font-size: 1.2rem;
    color: #FFF !important;
    background-color: #009944 !important;
    border-bottom: 1px solid #009944 !important;
    text-align: center !important;
}

.layui-layer-btn a {
    border: 1px solid #009944 !important;
    background-color: #009944 !important;
    color: #FFF !important;
    font-size: 13px;
    width: 100px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 0 15px;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.layui-layer-btn {
    text-align: center !important;
}

img {
    width: 5rem;
    height: 5rem;
}

p {
    font-size: 1.5vw;
    margin-top: 0;
    color: #808080;
}
.div_bottom {
    height: 54px !important;
    overflow: hidden;
}