html, body{
    height: 100%;
}
ul li {

    display: inline-block;
    margin-right: 0.5vw;
    list-style: none;
    margin-bottom: 0.4vw;
    margin-top: 0.4vw;
    width: 20%;
}

/* 2020/12/04 V9.0 liguangxin modify start */
.layui-laydate-list > li {
    width: 33% !important;
    margin: 5px 0 !important;
}
/*.layui-laydate-list>li:last-child{display: none}*/
/* 2020/12/04 V9.0 liguangxin modify end */

.laydate-time-list ol li {
    width: 150% !important;
    padding-left: 55px !important;
}

.one {

    width: 100% !important;
    height: 38px;
    padding-left: 2%;
}

.one div {
    height: 100%;
    float: left;
}

.one-ul {

    height: 100%;
}

.one-ul li {

    height: 100%;
    float: left;
    font-size: 1.4em;
    color: grey;
    font-weight: bold;
    width: auto !important;
}

.newtui-radio-one {
    width: 5vw !important;
    -webkit-appearance: none !important;
    height: 1.5vw !important;
    line-height: 1.5vw !important;
    border: none !important;
    position: relative !important;
    padding: 0 !important;
    margin-top: 0vw !important;
    font-size: 1vw !important;
    cursor: pointer !important;
}

.ui-jqgrid-bdiv {
    width: 100% !important;
}

.ui-paging-info {

    margin-right: 3vw !important;
}

.ui-widget-overlay {

    display: none;
}

#sort {

    text-align: center;
    display: inline-block;
}

.tbl_btn {

    width: 100% !important;
    height: 4vh !important;
    color: black !important;
    font-size: 1em !important;
    background-color: whitesmoke;
    text-decoration: none !important;
    border-radius: 12px;
    line-height: 4vh !important;
    border: 1px #ccc solid !important;
}

.ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-jqgrid-toppager .ui-pg-selbox {

    padding: 0px 0px;
}


.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border: 2px solid #ccc !important;
    color: black !important;
    height: 6vh;
    font-weight: 400;
    border-bottom: none !important;
    border-left: 1px solid #ccc !important;
}

.ui-jqgrid .ui-jqgrid-htable {
    border-collapse: collapse !important;
}

.ui-jqgrid tr.ui-row-ltr td {
    border: 2px solid #ccc !important;
}

#jqGrid {
    border-collapse: collapse !important;
}

.ui-jqgrid .ui-jqgrid-htable {
    background-color: #eee !important;
}

.jqgfirstrow td {
    border: 0;
}

.autowidth {

    width: 98vw;
    height: 75vh;
    position: relative;
    left: 2vw;
    overflow-x: scroll;
    overflow-y: auto;
}

.ui-jqgrid .ui-jqgrid-bdiv {

    overflow-x: unset !important;
}

::-webkit-scrollbar-thumb {
    height: 0px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    background: rgba(120, 120, 120, 1);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    background: #eee;
}

.ui-jqgrid .ui-jqgrid-view::-webkit-scrollbar {
    width: 0px !important;
    height: 10px;
}

.ui-jqgrid tr.jqgrow {
    height: 6vh !important;
}

.topMessage {
    position: absolute;
}

.layui-layer {

    border-radius: 10px !important;
    box-shadow: 1px 1px 10px 5px #777;
    background: white;
    overflow: hidden;
}

.layui-layer-myskin .layui-layer-title {

    background-color: white !important;
    color: #444 !important;
    text-align: left !important;
    border-bottom: none !important;
    text-indent: 1.5em;
    font-size: 3em;
    font-weight: bolder;
    margin-top: 0.8vh;
}

.eventCont {

    height: 40px;
    overflow-y: auto;
}

.ui-jqgrid .ui-jqgrid-hdiv {

    width: auto !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {

    width: auto !important;
    border-bottom: 2px #ccc solid
}

.choose {
    height: 3vh;
    width: 3vw;
    float: left;
}

.inputMessage img {
    height: 3.5vh;
}

.div_input {
    padding-top: 3vh;
    margin-left: 6%;
    width: 100%;
}
.inputMessage {
    overflow: hidden;
}

.time_title {
    font-size: 1.4em;
    display: block;
    text-align: left;
    width: 10vw;
    height: auto;
    line-height: 3vh;
    margin-bottom: 1vh;
    font-weight: bolder;
    margin-left: 20%
}

.time_div {
    font-size: 1.4em !important;
    width: 15vw !important;
    height: 4vh !important;
    line-height: 7vh !important;
    float: left !important;
    border: 1px #000 solid;
    background: white;
}

.img_div {
    height: 4vh !important;
    line-height: 3.5vh !important;
    /* width: 2vw !important; */
    z-index: 999;
    /* text-align: right; */
    padding-right: 0.5vw !important;
    float: right;
    width: 15%;
}

.time_split {
    width: 4vw !important;
    font-size: 1.4em !important;
    font-weight: bolder;
    text-align: center;
    float: left;
    height: 4vh !important;
    padding-right: 0vw !important;
    line-height: 4vh;
}

.time_input {
    width: 72% !important;
    height: 4vh;
    font-size: 0.8em;
    text-indent: 1em;
    line-height: 4vh;
    pointer-events: none;
    border: 0px;
    border-radius: 4px;
    float: left;
    text-overflow: ellipsis;
    background: none !important;
}

.chooseBtn {
    border: 0;
    color: white;
    width: 13vw;
    height: 5vh;
    margin-left: 1vw;
    border-radius: 3px;
    background: #00a65a;
    border-bottom: 3px rgba(0, 0, 0, .2) solid;
}

.bottomBtn {
    width: 9vw;
    height: 5vh;
    font-size: 1.2vw;
    color: white;
    background-color: #009944;
    border: 1px solid #009944;
    border-radius: 3px;
    margin-left: 15vw;
    border-bottom: 3px rgba(0, 0, 0, .2) solid;
}

.bottom {
    width: 100%;
    float: left;
    padding-top: 4vh;
    padding-bottom: 2vh;
    margin-left: 16%;
}