html, body {
    height: 100%;
}

.one {

    width: 100% !important;
    height: 38px;
    padding-left: 2%;
}

.one div {

    height: 100%;
    float: left;
    width: 52%;
}

.one-ul {

    height: 100%;
    line-height: 35px;
}

.one-ul li {

    height: 100%;
    float: left;
    font-size: 1.4em;
    color: grey;
    font-weight: bold;
    width: auto !important;
}

ul li {

    display: inline-block;
    margin-right: 0.5vw;
    list-style: none;
    margin-bottom: 0.4vw;
    margin-top: 0.4vw;
    width: 20%;
}

.row {
    /*padding-left: 2.5vw;*/
    width: 100%;
    overflow: hidden;
}

#content {
    padding: 4vh 0 0 0;
    width: 90%;
    position: absolute;
    left: 48%;
    transform: translate(-50%, 0);
}
/*#attendBookDateRow>.label{*/
    /*float: none !important;*/
/*}*/
.label {
    font-size: 1.4em;
    letter-spacing: 0.1vw;
    float: left;
    width: 10vw;
    font-weight: bolder;
}

.display {
    margin: 0 0 1vh 0;
    font-size: 0.9vw;
}

.input {
    width: 10vw;
    height: 100%;
    background: none;
    border: 2px solid #999;
    padding: 2px;
    line-height: 11vw;
    /*text-align: center;*/

    font-size: 0.8em;
}

.float {
    float: left;
}

.pic {
    margin: 0 0 1vh 0.5vw;
    width: 22px;
}

.listContent > .label {
    float: unset;
}

.button {
    margin: 3vh 3vw 3vh 3vw;
    background: #00a65a;


    min-width: 80px;
    font-size: 1.2vw;
    color: whitesmoke;
    text-align: center;
    height: 5vh;
    line-height: 2vh;
    width: 9vw;
    border: 1px solid #009944;
    border-radius: 3px;
    border-bottom: 3px rgba(0, 0, 0, .2) solid;

}

.status {
    position: relative;
    left: -3vw;
}

.line {
    margin: 0 10px;
}

.ui-jqgrid .ui-jqgrid-toppager .ui-pager-control, .ui-jqgrid .ui-jqgrid-pager .ui-pager-control {
    left: 0.6vw !important;
}

div#gbox_jqGrid {
    margin: 1vh 0 1vh 0vw;
}

/*lay ui*/
.layui-layer-btn a {
    margin: 0 4vw 0 !important;
    border-radius: 16px !important;
}

.ui-jqgrid-bdiv {

    /*height: 600px !important;*/
    width: 100% !important;
}

.ui-paging-info {

    margin-right: 3vw !important;
}

.ui-widget-overlay {

    display: none;
}

.ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-jqgrid-toppager .ui-pg-selbox {

    padding: 0px 0px;
}

#jqGridPager_right {

    text-align: left;
}

#load_jqGrid {

    display: none !important;
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border: 2px solid #ccc !important;
    color: black !important;
    height: 6vh;
    font-weight: 400;
    border-bottom: none !important;
    border-left: 1px solid #ccc !important;
    font-size: 1.2vw !important;
    letter-spacing: 0.1vw !important;
}

.ui-jqgrid .ui-jqgrid-htable {
    border-collapse: collapse !important;
}

.ui-jqgrid tr.ui-row-ltr td {
    border: 2px solid #ccc !important;
    letter-spacing: 0.1vw;
}

#jqGrid {
    border-collapse: collapse !important;
}

.ui-jqgrid .ui-jqgrid-htable {
    background-color: #eee !important;
}

.jqgfirstrow td {
    border: 0;
}

.s-ico:before {

}

.autowidth {

    width: 98vw;
    height: 75vh;
    position: relative;
    left: 2vw;
    overflow-x: scroll;
    overflow-y: auto;
}

.ui-jqgrid .ui-jqgrid-bdiv {

    margin: 0 !important;
    overflow-x: unset !important;
}

::-webkit-scrollbar {
    height: 2vh;
}

::-webkit-scrollbar-thumb {
    height: 0px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    background: rgba(120, 120, 120, 1);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    background: #eee;
}

.ui-jqgrid .ui-jqgrid-view::-webkit-scrollbar {
    width: 0px !important;
    height: 10px;
}

.ui-jqgrid tr.jqgrow {
    height: 6vh !important;
}

.topMessage {
    position: absolute;
}

.layui-layer {

    box-shadow: 1px 1px 10px 5px #777;
}

.layui-layer-myskin .layui-layer-title {

    background-color: white !important;
    color: #444 !important;
    text-align: left !important;
    border-bottom: none !important;
    text-indent: 1.5em;
    font-size: 3em;
    font-weight: bolder;
    margin-top: 0.8vh;
}

.eventCont {

    height: 40px;
    overflow-y: auto;
}

.ui-jqgrid .ui-jqgrid-hdiv {
    border-bottom: unset !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {

    width: auto !important;
}

.layui-layer-myskin {

    overflow: hidden;
}

.layui-layer-title {
    background-color: #F0F0F0 !important;
    border-bottom: unset !important;
    color: black !important;
}

.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
    height: 1.6vw !important;
}

.ui-jqgrid .ui-jqgrid-view {
    margin-left: 0 !important;
}

div#btnRow {
    width: calc(30vw + 4px);
    position: absolute;
    left: calc(50%);
    transform: translate(-50%, 0);
}