#content{
    float: left;
    margin-right: 2vw;
    width: 300px;
}
.stamp_img_div{
    float: right;
    margin-right: 57%;
    margin-top: -2vw;
}
.ui-jqgrid-bdiv {
    width: 100% !important;
}

.ui-jqgrid tr.jqgrow td {
    white-space: normal !important;
    height:auto;
}
.ui-paging-info {
    margin-right: 3vw !important;
}

.ui-widget-overlay {
    display: none;
}

#sort {
    text-align: center;
    display: inline-block;
}

.tbl_btn {
    width: 100% !important;
    height: 4vh !important;
    color: black !important;
    font-size: 1em !important;
    background-color: whitesmoke;
    text-decoration: none !important;
    border-radius: 12px;
    line-height: 4vh !important;
    border: 1px #ccc solid !important;
}

.ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-jqgrid-toppager .ui-pg-selbox {
    padding: 0px 0px;
}

#jqGridPager_right {
    text-align: left;
}

#pg_jqGridPager {
    background: white;
    position: fixed;
}

#load_jqGrid {
    display: none !important;
}

a {
    text-decoration: underline;
}

.detail_btn {
    letter-spacing: -4px
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border: 2px solid #ccc !important;
    color: black !important;
    height: 6vh;
    font-weight: 400;
    border-bottom: none !important;
    border-left: 1px solid #ccc !important;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
}

.ui-jqgrid .ui-jqgrid-htable {
    border-collapse: collapse !important;
}

.ui-jqgrid tr.ui-row-ltr td {
    border: 2px solid #ccc !important;
    letter-spacing: 0.1vw;
}

#jqGrid {
    border-collapse: collapse !important;
}

.ui-jqgrid .ui-jqgrid-htable {
    background-color: #eee !important;
}

.jqgfirstrow td {
    border: 0;
}

.autowidth {
    width: 98vw;
    height: 75vh;
    position: relative;
    left: 2vw;
    overflow-x: scroll;
    overflow-y: auto;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    overflow-x: unset !important;
}

::-webkit-scrollbar {
    width: 0px;
    height: 2vh;
}

::-webkit-scrollbar-thumb {
    height: 0px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    background: rgba(120, 120, 120, 1);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    background: #eee;
}

.ui-jqgrid .ui-jqgrid-view::-webkit-scrollbar {
    width: 0px !important;
    height: 10px;
}

.ui-jqgrid tr.jqgrow {
    height: 6vh !important;
}

.layui-layer {
    border-radius: 10px !important;
    box-shadow: 1px 1px 10px 5px #777;
}

.layui-layer-myskin .layui-layer-title {
    background-color: white !important;
    color: #444 !important;
    text-align: left !important;
    border-bottom: none !important;
    text-indent: 0.5em;
    font-size: 3em;
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
}
.layui-layer-content iframe {
    border-radius: 0px 0px 10px 10px !important;
}
.ui-jqgrid .ui-jqgrid-hdiv {
    width: auto !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    width: auto !important;
}
div span{
    font-size: 1vw;
    margin-right: 2vw;
}
.text{
    width: 100%;
    float: left;
}
.div_head{
    margin-left: 2vw;margin-top: 2vh
}
.bottom{
    text-align: center;
}
.btn{
    background-color: #009944;
    border-radius: 5px;
    width: 10vw;
    min-width: 80px;
    text-align: center;
    font-size: 0.9vw;
    color: whitesmoke;
    margin-left: 1vw;
    height: 5vh;
    line-height: 2vh;
    border: 0px;
    border-bottom: 3px rgba(0, 0, 0, .2) solid;
    letter-spacing: 0.1vw;
    margin-top: 1vw;
}
.stuBtn{
    background-color: #17B964;
    border-radius: 5px;
    width: 7vw;
    text-align: center;
    font-size: 0.9vw;
    color: whitesmoke;
    margin-left: 3vw;
    height: 4vh;
    line-height: 2vh;
    border: 0px;
    border-bottom: 3px rgba(0, 0, 0, .2) solid;
    letter-spacing: 0.1vw;
}
.top{
    margin-left: 2vw;margin-top: 2vh
}
.ui-jqgrid .ui-jqgrid-htable .ui-th-div{
    height: 29px !important;
}
.tbl_btn{
    width: 22px !important;
    height: 22px !important;
}
.stamp_img_div img{
    width: 80px;
    height: 60px;
}
.layui-layer-content{
    text-align: center;
}

.comment{
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-box-orient: vertical !important;
    border: 0px solid #CCC !important;
    text-align: left;
    word-break: break-all;
}
