.inputDiv {
    width: 100%;
    height: auto;
    float: left;
    margin-left: 5vw;
}

.inputMessage {
    width: 100%;
    float: left;
    padding: 0.4vw 4vw 0.4vw 1vw;
    height: auto;
}

.inputMessage div {
    height: 1.6vw;
    line-height: 1.6vw;
    font-size: 0.9vw;
    float: left;
    width: 10%;
    padding-right: 1vw;
}

.inputMessage div.input_center {
    width: 12%;
    text-align: center;
}

.inputMessage input {
    height: 1.6vw;
    margin-right: 1vw;
    line-height: 1.6vw;
    font-size: 0.9vw;
    float: left;
    width: 13%;
    padding: 0 0.4vw;
    border: 1px solid #000;
}

.inputMessage input:disabled {
    background: none;
    border: 0;
}

.inputMessage img {
    height: 1.5vw;
    float: left;
    padding-left: 0.65vw;
}
/*table {*/
/*width: 100%;*/
/*}*/
/*.oneTd table {*/
/*border-bottom: 0;*/
/*border-right: 0;*/
/*}*/

/*.oneTd th, .oneTd td {*/
/*text-align: center;*/
/*height: 2.2vw;*/
/*font-weight: 500;*/
/*font-size: 0.9vw;*/
/*padding: 0;*/
/*}*/

/*.oneTd td {*/
/*color: #666;*/
/*}*/

/*.oneTd td a {*/
/*color: #1322a3;*/
/*text-decoration: underline;*/
/*cursor: pointer;*/
/*}*/

/*td button {*/
/*background: none;*/
/*color: #1322a3;*/
/*width: auto;*/
/*border: 0;*/
/*font-size: 0.9vw;*/
/*text-decoration: underline;*/
/*cursor: pointer;*/
/*}*/

[v-cloak] {
    display: none;
}

/*.ui-jqgrid tr.ui-row-ltr td {*/
/*padding-left: 1vw;*/
/*border-right: 1px dashed #999;*/
/*!*border-bottom: 1px dashed #999;*!*/
/*}*/

.layui-laydate-list > li {
    width: 50% !important;
}

.layui-laydate-list > li:last-child {
    display: none
}

.laydate-time-list ol li {
    width: 150% !important;
    padding-left: 55px !important;
}

/*.ui-jqgrid .ui-jqgrid-hdiv {*/
/*border-radius: 0;*/
/*!*border-bottom: 1px solid #ccc !important;*!*/
/*background: none;*/
/*margin-right: 1.59vw !important;*/
/*}*/

/*.ui-jqgrid .ui-jqgrid-htable .ui-th-div {*/
/*color: black;*/
/*}*/

/*.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {*/
/*border-right: 1px dashed #999;*/
/*}*/

.back_btn {
    width: 12vw;
    position: fixed;
    left: 46%;
    bottom: 1vw;
    border-radius: 0.3vw;
    height: 2.2vw;
    background: #00a65a;
    color: white;
    border: 0;
    border-bottom: 3px grey solid;
}

/*.ui-jqgrid tr.ui-row-ltr td a {*/
/*margin-left: 1vw;*/
/*color: #009944;*/
/*text-decoration: underline;*/
/*margin-right: 1vw;*/
/*}*/

/*.ui-jqgrid .ui-jqgrid-hbox, .ui-jqgrid .ui-jqgrid-hbox table {*/
/*padding: 0 !important;*/
/*}*/

/*.ui-jqgrid .ui-jqgrid-btable {*/
/*width: auto !important;*/
/*}*/
/*.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {*/
/*border: 2px solid #ccc !important;*/
/*color: black !important;*/
/*height: 6vh;*/
/*font-weight: 400;*/
/*border-bottom: none !important;*/
/*border-left: 1px solid #ccc !important;*/
/*}*/

/*.ui-jqgrid .ui-jqgrid-htable {*/
/*border-collapse: collapse !important;*/
/*}*/

/*.ui-jqgrid tr.ui-row-ltr td {*/
/*border: 2px solid #ccc !important;*/
/*}*/

/*#jqGrid {*/
/*border-collapse: collapse !important;*/
/*}*/

/*!*.ui-jqgrid .ui-jqgrid-htable {*!*/
/*!*background-color: #eee !important;*!*/
/*!*}*!*/

/*.jqgfirstrow td{*/
/*border: 0;*/
/*}*/

/*.ui-jqgrid tr.jqgrow {*/
/*height: 6vh !important;*/
/*}*/
/*.ui-jqgrid .ui-jqgrid-bdiv {*/
/*!*margin-right: 1.55vw !important;*!*/
/*width: auto !important;*/
/*!* border-right: 2px #ccc solid; *!*/
/*!* border-left: 2px #ccc solid; *!*/
/*overflow-x: scroll !important;*/
/*!* border-bottom: 2px #ccc solid; *!*/
/*}*/
/*.ui-jqgrid .ui-jqgrid-view button {*/
/*text-decoration: unset !important;*/
/*color: black !important;*/
/*border: 1px #ccc solid !important;*/
/*border-radius: 12px !important;*/
/*width: 6vw !important;*/
/*height: 4vh !important;*/
/*font-size: 1.1em !important;*/
/*float: right !important;*/
/*margin-right: 0.5vw;*/
/*}*/
/*.ui-jqgrid-bdiv{*/
/*overflow-y: scroll!important;*/
/*}*/
#table {
    width: 100%;
}
.oneTd table {
    border-bottom: 0;
    border-right: 0;
}

.oneTd th, .oneTd td {
    text-align: center;
    height: 2.2vw;
    font-weight: 500;
    font-size: 0.9vw;
    padding: 0;
}

.oneTd td {
    color: #666;
}

.oneTd td a {
    color: #1322a3;
    text-decoration: underline;
    cursor: pointer;
}
td button {
    background: none;
    color: #1322a3;
    width: auto;
    border: 0;
    font-size: 0.9vw;
    text-decoration: underline;
    cursor: pointer;
}
.ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-jqgrid-toppager .ui-pg-selbox {
    padding: 0px 0px;
}

.ui-jqgrid .ui-jqgrid-htable {
    width: 880px;
    background-color: #009944;
    border: 1px solid black;
    border-bottom: none;
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border-right: 1px dotted black;
    border-top: none;
    color: white;
}

.ui-jqgrid tr.ui-row-ltr td {
    text-align: center;
    border: 1px dotted black;
    border-bottom: none;
    border-left: none;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-jqgrid-hbox {
    width: 100%;
    padding-right: 0 !important;
}

#jqGridPager_right {
    text-align: left;
}

.ui-jqgrid .ui-jqgrid-hdiv {
    border-top: none !important;
    border-bottom: none !important;
}

.ui-jqgrid .ui-jqgrid-view {
    left: 0.4vw !important;
}

#pg_jqGridPager {
    /*border-top: solid;*/
    border-width: 0.5px;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

#jqGrid {
    /*border: 1px solid black;*/
    border-top: none;
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border: 2px solid #ccc !important;
    color: black !important;
    height: 6vh;
    font-weight: 400;
    border-bottom: none !important;
    border-left: 1px solid #ccc !important;
}

.ui-jqgrid .ui-jqgrid-htable {
    border-collapse: collapse !important;
}

.ui-jqgrid tr.ui-row-ltr td {
    border: 2px solid #ccc !important;
    line-height: 4vh;
}

#jqGrid {
    border-collapse: collapse !important;
}

.ui-jqgrid .ui-jqgrid-htable {
    background-color: #eee !important;
}

.jqgfirstrow td{
    border: 0;
}

.ui-jqgrid tr.jqgrow {
    height: 6vh !important;
}
.ui-jqgrid .ui-jqgrid-view button {
    text-decoration: unset !important;
    color: black !important;
    border: 1px #ccc solid !important;
    border-radius: 12px !important;
    width: 6vw !important;
    height: 4vh !important;
    font-size: 1.1em !important;
    float:right;
    margin-right: 0.5vw;
}
.ui-widget-content a {
    color: blue;
}
a {
    text-decoration: underline;
}