html,body,#page{
    height: 100%;
}
.one {
    width: 100% !important;
    height: 38px;
    padding-left: 2%;
}

.one div {
    height: 100%;
    float: left;
    width: 52%;
}

.one-ul {
    height: 100%;
    line-height: 35px;
}

.one-ul li {
    height: 100%;
    float: left;
    font-size: 1.4em;
    color: grey;
    font-weight: bold;
    width: auto !important;
}

ul li {
    display: inline-block;
    margin-right: 1vw;
    list-style: none;
    margin-bottom: 0.4vw;
    margin-top: 0.4vw;
    width: 20%;
}
img.img {
    float: left;
    height: 1.6vw;
}
.date-range {
    float: left;
    font-size: 0.9vw;
    margin: 0!important;
    line-height: 1.6vw;
}
.left-item {
    float: left;
}
.right-item {
    float: right;
    margin-right: 50%;
}
.view-change-btn {
    background: whitesmoke;
    color: black;
    border: 0;
}

.this-view {
    background: #b2b2b2;
}
.reloadRow {
    padding-top: 3%;
    width: 90%;
    margin-left: 20%;
    height: 7%;
}
.row {
    overflow: hidden;
}
.rightBtn{
    height:15px;
}
.rightBtn button{
    border: 0px;
    background-color: white;
    font-size: 18px;
    margin-right: 0vw;
    width: 22%;
}
.degree{
    margin-top: 2vh;
}
.content_main{
    height: 525px;
}
.initInfo{
    height: 450px;
}
#eventTime{
    font-size: 15px;
    width: 15%;
    float: left;
    margin-left: 5%;
}
#eventTitle{
    font-size: 15px;
    width: 80%;
    float: left;
}
.title{
    text-decoration:underline;
    margin-bottom: 10px;
}
.talkTime {
    margin-bottom: 10px;

}
.layui-layer-myskin .layui-layer-title {
    background-color: white !important;
    color: black !important;
    border-bottom: none !important;
    font-size: 2.4em;
    margin-top: 0.8vh;
    text-align: center !important;
}
.ui-jqgrid .ui-jqgrid-view {
    margin-left: 0vw !important;
}
.ui-jqgrid .ui-jqgrid-hdiv{
    display: none !important;
}
#jqGrid{
    border:0 !important;
}
.ui-jqgrid tr.ui-row-ltr td {
    border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important;
    border-bottom: 1px black !important;
}
.ui-widget.ui-widget-content {
    background-color: white;
}
.jqgfirstrow>td[role="gridcell"] {
     /*display: none;*/
 }
#pg_jqGridPager{
    margin: 0;
}
.ui-state-hover{
    background: #FFFFFF!important;
}
/*.ui-jqgrid .ui-jqgrid-btable {*/
    /*table-layout: inherit;*/
/*}*/
.ui-jqgrid .ui-jqgrid-btable {

    border-collapse: collapse !important;
}
.ui-widget-content {
    border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important;
    border-bottom: 1px solid #DDDDDD !important;
}
.ui-jqgrid tr.jqgrow {
    height: 3vw !important;
}
td#jqGridPager_left {
    display: none;
}
/*.layui-layer-title {*/
    /*float: left;*/
    /*margin-left: 2vw;*/
/*}*/
.layui-layer-close2 {
    background: url(../../img/clear.png) no-repeat;
    border-radius: 999px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    background-position: 0 0 !important;
    background-size: 30px 30px;
}
.first_div{
    height: 72vh;
}
.ui-jqgrid-pager ui-state-default ui-corner-bottom{
    width: 30vw !important;
}
ui-jqgrid-view {
    width: 39vw !important;
    height: 90vh !important;
}
.ui-jqgrid-bdiv{
    height: 70vh !important;
    width: 39vw !important;
}
#jqGrid{
    width: 39vw!important;
}
#jqGridPager_center{
    width: 74% !important;
}
canvas{
    padding-bottom: 1%!important;
}
.bottom{
    width: 100%;
    height: 5%;
    text-align: center;
    line-height: 5vh;
}
.back{
    background: #00a65a;
    color: white;
    border: 0;
    border-bottom: 3px grey solid;
    border-radius: 4px;
    width: 8%;
    height: 90%;
    font-size: 1vw;
}