#content {
    height: calc(90% - 54px);
    padding-top: 2%;
    overflow-y: scroll;
    padding-bottom: 2%;
}
.div_header{
    background: none !important;
}
h3, h4 {
    font-weight: bold;
    text-indent: 2%;
    color: #555555;
    font-size: 2.2vw;
}
.title{
    font-size: 2vw;
    width: 20%;
    float: left;
    height: 5vh;
    line-height: 5vh;
}

.pageDiv {
    margin-bottom: 4%;
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 4%;
    width: 70%;
    margin-left: 15%;
    margin-top: 0 !important;
}

table {
    width: 63%;
    margin-left: 2%;
    margin-top: 3%;
}

tr {
    height: 36px;
}

table th, td {
    text-align: center;
}

.btnDiv {
    width: 100%;
    height: 5vh;
    margin-top: 3%;
    line-height: 5vh;
}

.btnDiv button {
    width: 23%;
    height: 100%;
    color: #626262;
    background: #E5E5E5;
    border: 0;
}
.lastField button{
    height: 70%;
}

#time_area {
    background: white;
}

.in-out-school {
    border-radius: 999px;
}

.submit-back-btn {
    border-radius: 5px;
}

.pageDiv input {
    text-indent: 0.5em;
    height: 7vh;
    width: 63%;
    border: 1px solid #C6C6C6;
}

.active {
    background: #00a65a !important;
    color: whitesmoke !important;
    border: none;
}
th{
    background: #eee;
    color: black;
    font-weight: 400;
    border: 1px solid #ccc !important;
}
td{
    background: white;
    color: black;
    font-weight: 400;
    border: 1px solid #ccc !important;
}
.div_bottom{
    height: 54px !important;
}
p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.laydate-time-list>li{
    width: 50% !important;
}
.laydate-time-list>li:last-child{
    display: none !important;
}
.laydate-time-list ol li{
    width: 100% !important;
     padding-left: 0px !important;
    line-height: 30px;
    text-align: center !important;
    cursor: pointer;
}
.laydate-time-list ol{
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
::-webkit-scrollbar{
    display: none;
}
#logIn{
    margin-left: 5%;
}
.lastField{
    text-align: center;
    height: 10vh!important;
    line-height: 10vh !important;
}
.lastPageDiv{
    border: none !important;
}
.topTitle{
    margin-left: 11%;
    margin-top: 0% !important;
}
.time{
    height: 7vh;
    line-height: 7vh;
}
.stu{
    line-height: unset;
}

@media screen and (max-device-width: 768px) {
    .topTitle{
        margin-left: 12% !important;
    }
}
.three{
    margin-bottom: 0!important;
}
.layui-layer-title {
    padding: 0;
    font-size: 1rem;
    color: #FFF;
    background-color: #009944!important;
    border-bottom: 1px solid #009944!important;
    text-align: center !important;
}
.layui-layer-btn a {
    border: 1px solid #009944!important;
    background-color: #009944!important;
    color: #FFF!important;
    font-size: 1rem;
    width: 6vw;
    min-width: 120px;
    text-align: center;
}
/*2020/11/17 LiYuHuan add start*/
.check_starTime {
    text-align: center;
    overflow: hidden;
    margin-right: 1vw;
    margin-top: 15vw;
}
.check_endTime {
    text-align: center;
    overflow: hidden;
    margin-right: 1vw;
    margin-top: 15vw;
}
.mbsc-mobiscroll{
    width:36%;
    float:right;
    margin:0 auto;
}
.dwwr{
    min-width: 100%!important;
    height: 26vh;
    border: 1px solid #00b050!important;
    margin: 0 auto;
    float: left;
}
.dw-ul{
    margin-top: 9vw!important;
}
.dww{
    height: 30vw!important;
}
.mbsc-mobiscroll{
    width: 33%;
    margin-top: -6vw;
    height: 24vh;
}
.mbsc-mobiscroll .dwwr{
    background: none;
}
#demo_select{
    width:100%;
    height:140px;
    border:0!important;
}
.dwwr{
    min-width: 100%!important;
    height: 26vh;
    border: 0!important;
    margin: 0 auto;
    float: left;
}
.mbsc-mobiscroll .dwwol{
    border-top: 1px solid #eee!important;
    border-bottom: 1px solid #eee!important;
    margin-top: -140% !important;
}
.dw,.dwwr,.dwcc,.dwhl,dwwc.dwfl,.dwwl0,.dwww,dww,.dw-ul,dw-bf,.dw-li{
    width: 100%!important;
    height:100%!important;
}
.mbsc-mobiscroll .dwfl{
    padding: 0;
    background: #fff;
}
.dw-li{
    opacity: 0.5!important;
}
.dw-sel{
    opacity: 1!important;
}
.dw-i{
    font-size: 14px;
    margin-top: 0.1px;
}
.mbsc-mobiscroll .dwwr{
    background: none;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    border-radius: 1px;
    background-color: #dadada;
}
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
    background-color: #AAAAAA;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.mbsc-control.mbsc-control-ev {
    display: none;
}
.disNone {
    display: none;
}
.dwl {
    display: none;
}
select#dom_starTime,#dom_starTime1,#dom_starTime2,#dom_starTime3,#dom_starTime4,#dom_starTime5{
    display: none !important;
}
.img {
    width: auto;
    float: right;
    margin-right: 4vw;
    background-color: white;
    border: 2px solid #8CC11F;
    color: #8CC11F;
    border-radius: 999px;
    font-weight: bold;
    padding: 2px 9px 2px 9px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.selectBtnStar,.selectBtnEnd {
    -webkit-appearance: none;
    width: auto;
    z-index: 999;
    border: 0 !important;
    background: unset;
    float: left;
    font-size: .9rem;
    height: 100%;
    color: rgb(126, 126, 126);
    padding: 0;
    margin-top: 2vh;
    margin-left: 2vw;
    border-radius: 0px !important;
}
#starTime{
    float: left;
    background-color: white;
    color: rgb(126, 126, 126);
    border: 0px solid white !important;
    font-size: .9rem;
    height: 48px;
    line-height: 48px !important;
    width: 30% !important;
}
.check_starTime {
    text-align: center;
    overflow: hidden;
    margin-top: 3vw;
    float: left;
    width: calc(100% - 5vw);
    height: 110px;
}
#timeChoose{
    height: 27% !important;
}
.choose-date-btn {
    height: 3vh;
    position: relative;
    float: right;
    margin-right: 4%;
    margin-top: 1.5vw !important;
}
.selectBtn {
    -webkit-appearance: none;
    width: auto;
    z-index: 999;
    border: 0 !important;
    background: unset;
    float: left;
    font-size: .9rem;
    line-height: 100%;
    height: 100%;
    margin: 0px 0px 0px 10%;
    color: rgb(126, 126, 126);
    padding: 0;
}
.showTime{
    width: 61%;
    height: 50px;
    margin-left: 20%;
    border: 1px solid #CCCCCC;
}
.last{
    text-align: center;
}
.dw-li.dw-v.dw-sel {
    margin-top: 0.2px;
}
/*2020/11/17 LiYuHuan add end*/